@media print {
    #btnDisplay * {
        display: none;
    }
    * {
        font-size: 1.7rem !important;
        font-weight: 600 !important;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif !important;
        line-height: 1.9rem;
        color: #000000 !important;
    }
}

.MRNRemark {
    font-size: 16px;
    word-wrap: break-word;
}
