<Form class="px-2" [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label class="">Discount Management ({{ action | titlecase }})</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-5 pe-2">
                            <label class="form-label mb-0"> Discount ID <span class="text-danger"></span> </label>
                            <input class="form-control" type="text" formControlName="discountNo" readonly />
                        </div>
                        <div class="col-7 pe-0">
                            <label class="form-label mb-0"
                                >Discount Description <span class="text-danger"></span>
                            </label>
                            <input class="form-control" type="text" formControlName="discountDescription" />
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-4 pe-2">
                            <label class="form-label mb-0">
                                Customer Category <span class="text-danger">*</span>
                            </label>
                            <select
                                class="form-select"
                                formControlName="customerCategory"
                                (change)="getCustomers($event)"
                            >
                                <option [value]="null" selected disabled>Select</option>
                                <option [value]="ele.value" *ngFor="let ele of masterData?.salesCategoryOptions">
                                    {{ ele.label }}
                                </option>
                            </select>
                        </div>
                        <div class="col-5 pe-2">
                            <label class="form-label mb-0"> Select Customer <span class="text-danger">*</span> </label>
                            <ng-select
                                [items]="customerOptions"
                                bindLabel="customerName"
                                bindValue="customerName"
                                [clearable]="false"
                                formControlName="customerName"
                                (change)="customerValueChange($event)"
                            >
                            </ng-select>
                        </div>
                        <div class="col-3">
                            <label class="form-label mb-0"> Global Discount %<span class="text-danger">*</span> </label>
                            <input
                                type="number"
                                class="form-control"
                                formControlName="globalDiscount"
                                (input)="setApplyDoc()"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="row line-border" />
        <div class="">
            <app-setting-header
                [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
                (dataChange)="eventHeader($event)"
            >
            </app-setting-header>
        </div>

        <div class="table-responsive mt-0 text-wrap" style="min-height: 22rem">
            <table class="table table-bordered mt-0 table-sm">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th sortable="SKUCategory" (sort)="onSort($event)">SKU Category</th>
                        <th sortable="SKUNo" (sort)="onSort($event)">SKU Code</th>
                        <th class="text-start" sortable="SKUName" (sort)="onSort($event)">
                            {{ "SKU Name" | labelTranslate }}
                        </th>
                        <th class="text-start" sortable="SKUDescription" (sort)="onSort($event)">
                            {{ "SKU Description" | labelTranslate }}
                        </th>
                        <th sortable="unitPrice" (sort)="onSort($event)">Unit Price</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="
                            let u of customerDiscountInfo
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            trackBy: trackByFn
                        "
                    >
                        <td>{{ u?.SKUCategory }}</td>
                        <td>{{ u?.SKUNo }}</td>
                        <td class="text-start" [style.width]="SKUName.clientWidth" #SKUName>
                            <span class="pointer" [positionTarget]="SKUName" [ngbTooltip]="u.SKUName">
                                {{ u.SKUName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="SKUDescription.clientWidth" #SKUDescription>
                            <span class="pointer" [positionTarget]="SKUDescription" [ngbTooltip]="u.SKUDescription">
                                {{ u.SKUDescription }}
                            </span>
                        </td>
                        <td>{{ u?.unitPrice }}</td>

                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <button
                                    type="button"
                                    class="btn btn-primary form-btn-sm py-0 px-1"
                                    (click)="openApplyDiscountModal(u)"
                                    [disabled]="isApplyDisable"
                                >
                                    Apply Discount
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr *ngIf="!['view'].includes(action)" class="row line-border" />
        <div class="row mb-3 align-items-center mt-3">
            <div class="col-md-auto ms-auto">
                <div *ngIf="['create', 'edit'].includes(action)" class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary px-5 me-4" type="button" (click)="reset()">Reset</button>
                    <button *ngIf="action == 'edit'" type="button" class="btn btn-primary me-4" (click)="ESCPreview()">
                        Esc Preview
                    </button>
                    <!-- <button class="btn btn-primary px-4 me-4" type="button" (click)="preview()">Preview</button> -->
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Save</button>
                </div>
                <!-- <div *ngIf="['edit'].includes(action)" class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Save</button>
                </div> -->
            </div>
        </div>
    </div>
</Form>
