<div class="formCard card">
    <div class="set-remaining-margin">
        <ng-container *ngFor="let inkMix of inkMixingDetails | slice : inkPage - 1 : inkPage">
            <div class="row form-header">
                <div class="col heading">
                    <label class="">Ink Mixing ({{ action | titlecase }}) </label>
                </div>
            </div>
            <div class="form-body">
                <div class="row">
                    <div class="col-4 pe-5">
                        <div class="row pe-4">
                            <div class="col-6">
                                <label class="form-label">Job Card No. <span class="text-danger">*</span></label>
                                <div class="d-flex align-items-center">
                                    <div class="col-11">
                                        <ng-select
                                            [items]="masterData.JCOptions"
                                            bindLabel="jobCardNo"
                                            bindValue="jobCardNo"
                                            [clearable]="false"
                                            [(ngModel)]="formData.jobCardNo"
                                            (change)="setJobCardId($event)"
                                            [disabled]="['view', 'edit'].includes(action)"
                                        >
                                        </ng-select>
                                    </div>
                                    <div
                                        style="height: 2.9rem"
                                        class="set-input-group-text input-group-text bg-primary pointer col-auto"
                                        id="basic-addon1"
                                        (click)="openJobCardDetailsModal()"
                                    >
                                        <i class="fa fa-search text-white fs-4" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">F20 Ink Code <span class="text-danger">*</span></label>
                                <div class="d-flex align-items-center">
                                    <div class="col-11">
                                        <ng-select
                                            [items]="inkMixingDetails"
                                            bindLabel="itemCode"
                                            bindValue="ink"
                                            [clearable]="false"
                                            [(ngModel)]="selectedInkFormulation"
                                            (change)="setInkDetails($event)"
                                            [disabled]="['view'].includes(action)"
                                        >
                                        </ng-select>
                                    </div>
                                    <div
                                        style="height: 2.9rem"
                                        class="set-input-group-text input-group-text bg-primary pointer col-auto"
                                        id="basic-addon1"
                                        (click)="openInkDetailsModal()"
                                    >
                                        <i class="fa fa-search text-white fs-4" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-8 ps-0">
                        <div class="row">
                            <div class="col-4 pe-0">
                                <label class="form-label">F20 Ink Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="inkMix.itemName" readonly />
                            </div>
                            <div class="col-4">
                                <label class="form-label">F20 Ink Description <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="inkMix.itemDescription" readonly />
                            </div>
                            <div class="col-2 ps-0">
                                <label class="form-label">UoM <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="inkMix.UOM" readonly />
                            </div>
                            <div class="col-2 ps-0">
                                <label class="form-label"> Batch Qty <span class="text-danger">*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="inkMix.batchQty"
                                    [disabled]="['view'].includes(action)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="row line-border" />

            <app-setting-header
                [data]="{page,pageSize,collection : inkMixingDetails[this.inkPage - 1].inkDetails.length,search, excelDisplay : 'none'}"
                (dataChange)="eventHeader($event)"
            >
            </app-setting-header>
            <div class="table-responsive" style="min-height: 20rem">
                <table class="table table-bordered table-sticky">
                    <thead class="bg-primary">
                        <tr class="text-white">
                            <th>Seq.</th>
                            <th>Item Code</th>
                            <th class="text-start">Item Name</th>
                            <th class="text-start">Item Description</th>
                            <th>UoM</th>
                            <th>Quantity</th>
                            <th>UoM</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="
                                let ink of inkMix.inkDetails
                                    | searchFi1ter : search
                                    | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                                let i = index;
                                trackBy: trackByFn
                            "
                        >
                            <td>{{ ink.seq }}</td>
                            <td>{{ ink.itemCode }}</td>
                            <td class="text-start" [style.width]="itemName.clientWidth" #itemName>
                                <span class="pointer" [ngbTooltip]="ink.itemName" [positionTarget]="itemName">
                                    {{ ink.itemName }}
                                </span>
                            </td>
                            <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                                <span
                                    class="pointer"
                                    [ngbTooltip]="ink.itemDescription"
                                    [positionTarget]="itemDescription"
                                >
                                    {{ ink.itemDescription }}
                                </span>
                            </td>
                            <td>
                                {{ ink.UOM | UOMUnitsMaster }}
                            </td>
                            <td>
                                {{ ink.qty }}
                            </td>
                            <td>
                                {{ ink.gramUOM }}
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <span *ngIf="['view'].includes(action)">
                                        {{ ink.gramQty | number : "1.2-2" }}
                                    </span>
                                    <input
                                        *ngIf="!['view'].includes(action)"
                                        class="form-control form-control-sm w-25"
                                        type="number"
                                        [(ngModel)]="ink.gramQty"
                                        [ngModelOptions]="{standalone: true}"
                                        (input)="setQuantity(ink)"
                                    />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="row line-border" />
            <div class="row">
                <div class="col-6 d-flex">
                    <button class="plusIconSvg btn btn-primary me-1"></button>
                    <button type="button" class="btn btn-primary px-5" (click)="openRemarksDetailsModal()">
                        Remarks
                    </button>
                </div>

                <div class="col-md-auto ms-auto">
                    <button
                        *ngIf="!['view'].includes(action)"
                        type="button"
                        class="btn bg-primary px-5 me-3"
                        (click)="reset()"
                    >
                        Reset
                    </button>
                    <button
                        *ngIf="!['view'].includes(action)"
                        type="button"
                        class="btn bg-primary px-5"
                        (click)="submit()"
                    >
                        Save
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
</div>
