.form-control-production {
    height: 1.5rem;
    width: 9rem !important;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    padding: 0rem !important;
}

.fa {
    font-size: 1.6rem !important;
} 

.blueColor {
    color: #0000ff;
}
