<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label class="">Stock Transfer (Entry)</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label mb-0">
                        Stock Transfer Date (GIN Date)<span class="text-danger">*</span>
                    </label>
                    <input type="date" class="form-control" formControlName="stockTransferDate" readonly />
                </div>
                <div class="col-md-3">
                    <label class="form-label mb-0"> Item Category<span class="text-danger">*</span> </label>
                    <ng-select
                        (change)="filterItemCategory($event)"
                        [items]="itemCategoryList"
                        bindLabel="category"
                        bindValue="category"
                        [clearable]="false"
                        formControlName="itemCategory"
                    >
                    </ng-select>
                </div>
                <div class="col-md-3">
                    <label class="form-label mb-0"> Department/(Location)<span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" formControlName="department" readonly />
                </div>
                <div class="col-md-3">
                    <label class="form-label mb-0"> Remarks </label>
                    <input type="text" class="form-control" formControlName="remarks" />
                </div>
            </div>
        </div>

        <hr class="row line-border" />

        <app-setting-header
            [data]="{page,pageSize,collection,search,excelDisplay : 'none'}"
            (dataChange)="eventHeader($event)"
        >
        </app-setting-header>

        <div class="table-responsive mt-0 text-wrap" style="min-height: 19rem">
            <table class="table table-bordered mt-0 table-sm">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th sortable="MRNNumber" (sort)="onSort($event)">MRN No.</th>
                        <th sortable="itemCode" (sort)="onSort($event)">Item Code</th>
                        <th class="text-start" sortable="itemName" (sort)="onSort($event)">Item Name</th>
                        <th class="text-start" sortable="itemDescription" (sort)="onSort($event)">Item Description</th>
                        <th sortable="unitConversion" (sort)="onSort($event)">Units Conversion</th>
                        <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                        <th sortable="PPICIRQty" (sort)="onSort($event)">PPIC-IR Qty.</th>
                        <th sortable="transferQty" (sort)="onSort($event)">Transfer Qty.</th>
                        <th sortable="aging" (sort)="onSort($event)">Aging</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="
                            let u of filterTableData
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            trackBy: trackByFn;
                            let i = index
                        "
                    >
                        <td>{{ u?.MRNNumber }}</td>
                        <td>{{ u?.itemCode }}</td>
                        <td class="text-start" [style.width]="itemName.clientWidth" #itemName>
                            <span class="pointer" [ngbTooltip]="u.itemName" [positionTarget]="itemName">
                                {{ u?.itemName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                            <span class="pointer" [ngbTooltip]="u.itemDescription" [positionTarget]="itemDescription">
                                {{ u?.itemDescription }}
                            </span>
                        </td>
                        <td>{{ u?.unitConversion }}</td>
                        <td>{{ u?.UOM | UOMUnitsMaster }}</td>
                        <td>
                            {{ u?.PPICIRQty | number : "1.2-2" }}
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <input
                                    (input)="setTransferQty(i)"
                                    type="number"
                                    class="form-control form-control-xs w-25"
                                    [(ngModel)]="u.transferQty"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                        <td>
                            <span class="d-flex justify-content-center">
                                <div *ngIf="u?.status == 'green'" class="flaggreen"></div>
                                <div *ngIf="u?.status == 'red'" class="flagred"></div>
                                <div *ngIf="u?.status == 'orange'" class="flagYellow"></div>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="row line-border" />

        <div class="row">
            <div appAccessControl [accessType]="rolePermissionActions.createAction" class="col text-center">
                <div class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary px-5 me-3" (click)="reset()">Reset</button>
                    <button
                        [disabled]="!isESCPreview"
                        (click)="ESCPreview()"
                        type="button"
                        class="btn btn-primary px-3 me-3"
                    >
                        Esc Preview
                    </button>
                    <button (click)="preview()" type="button" class="btn btn-primary px-5 me-3">Preview</button>
                    <button [disabled]="!isPreview" (click)="submit()" class="btn btn-primary px-5" type="button">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
