<div class="listCard card">
    <div class="table-header">
        <label class="heading">Calibration and Verification Summary</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button
            class="btn btn-primary btn-add"
            type="button"
            (click)="navigateTo('/default/maintenance/transactions/calibration-and-verification/form', null, 'create')"
        >
            <i class="fa fa-plus-square fa-lg me-2" aria-hidden="true"></i>
            Calibration and Verification
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="calibrationDate" (sort)="onSort($event)">Calibration Date</th>
                    <th sortable="calibrationDue" (sort)="onSort($event)">Calibration Due</th>
                    <th sortable="calibrationAgency" (sort)="onSort($event)">Calibration Agency</th>
                    <th sortable="calibrationResult" (sort)="onSort($event)">Calibration Result</th>
                    <th sortable="remarks" (sort)="onSort($event)">Remarks</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.calibrationDate }}</td>
                    <td>{{ u?.calibrationDue }}</td>
                    <td>{{ u?.calibrationAgency }}</td>
                    <td>{{ u?.calibrationResult }}</td>
                    <td>{{ u?.remarks }}</td>

                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo(
                                            '/default/maintenance/transactions/calibration-and-verification/form',
                                            u?._id,
                                            'view'
                                        )
                                    "
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo(
                                            '/default/maintenance/transactions/calibration-and-verification/form',
                                            u?._id,
                                            'edit'
                                        )
                                    "
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
