<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Select Job Card</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="this.activeModal.close()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 px-0 mt-4">
                    <div class="px-5 mt-0">
                        <app-setting-header
                            [data]="{page,pageSize,collection,search ,excelDisplay : 'none'}"
                            (dataChange)="eventHeader($event)"
                        >
                        </app-setting-header>
                    </div>
                    <div style="min-height: 33rem" class="table-responsive px-5">
                        <table class="table table-bordered table-sticky">
                            <thead class="bg-primary">
                                <tr class="text-white">
                                    <th sortable="jobCardNo" (sort)="onSort($event)">Job Card No.</th>
                                    <th sortable="SKUNo" (sort)="onSort($event)">SKU No.</th>
                                    <th sortable="SKUName" (sort)="onSort($event)" class="text-start">SKU Name</th>
                                    <th sortable="SKUDescription" (sort)="onSort($event)" class="text-start">
                                        SKU Description
                                    </th>
                                    <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                                    <th sortable="batchQty" (sort)="onSort($event)">Batch Qty.</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let u of JCOptions
                                            | searchFi1ter : search
                                            | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                                        let i = index
                                    "
                                >
                                    <td>{{ u?.jobCardNo }}</td>
                                    <td>{{ u?.SKUNo }}</td>
                                    <td class="text-start" [style.width]="SKUName.clientWidth" #SKUName>
                                        <span class="pointer" [ngbTooltip]="u.SKUName" [positionTarget]="SKUName">
                                            {{ u.SKUName }}
                                        </span>
                                    </td>
                                    <td class="text-start" [style.width]="SKUDescription.clientWidth" #SKUDescription>
                                        <span
                                            class="pointer"
                                            [ngbTooltip]="u.SKUDescription"
                                            [positionTarget]="SKUDescription"
                                        >
                                            {{ u.SKUDescription }}
                                        </span>
                                    </td>
                                    <td>{{ u?.UOM }}</td>
                                    <td>{{ u?.batchQty }}</td>
                                    <td>
                                        <input
                                            [disabled]="
                                                [
                                                    'view',
                                                    'edit',
                                                    'rejection',
                                                    'reject',
                                                    'approval',
                                                    'approve',
                                                    'cancel'
                                                ].includes(action)
                                            "
                                            class="form-check-input pointer"
                                            type="radio"
                                            name="formValue{{ JCOptions[i] }}"
                                            [checked]="u.select"
                                            (change)="setSelectData(u)"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col px-0 mb-3">
                    <hr
                        *ngIf="
                            !['view', 'edit', 'rejection', 'reject', 'approval', 'approve', 'cancel'].includes(action)
                        "
                        class="line-border"
                    />
                </div>
            </div>
            <div
                *ngIf="!['view', 'edit', 'rejection', 'reject', 'approval', 'approve', 'cancel'].includes(action)"
                class="text-center mb-2"
            >
                <button class="btn bg-primary px-5 mb-4" type="button" (click)="dismissModel()">Save & Close</button>
            </div>
        </div>
    </div>
</div>
