<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Stock Preparation</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="this.activeModal.close()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="form-body py-3">
            <div class="row mb-2">
                <div class="col-4 pe-3">
                    <div class="row">
                        <div class="col-6 pe-5">
                            <label class="form-label">Job Card No. <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" [(ngModel)]="stockCutting.jobCardNo" readonly />
                        </div>
                        <div class="col-6 ps-2 pe-5">
                            <label class="form-label">SKU No. <span class="text-danger"> </span></label>
                            <input
                                type="text"
                                class="form-control bg-white-smoke"
                                [(ngModel)]="stockCutting.SKUNo"
                                readonly
                            />
                        </div>
                    </div>
                </div>
                <div class="col-3 ps-0 pe-5">
                    <label class="form-label">SKU Name <span class="text-danger"> </span></label>
                    <input
                        type="text"
                        class="form-control bg-white-smoke"
                        [(ngModel)]="stockCutting.SKUName"
                        readonly
                    />
                </div>
                <div class="col-5 ps-3">
                    <div class="row">
                        <div class="col-6 ps-0 pe-3">
                            <label class="form-label">SKU Description <span class="text-danger"> </span></label>
                            <input
                                type="text"
                                class="form-control bg-white-smoke"
                                [(ngModel)]="stockCutting.SKUDescription"
                                readonly
                            />
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5 ps-3">
                                    <label class="form-label">UoM <span class="text-danger"> </span></label>
                                    <input
                                        type="text"
                                        class="form-control bg-white-smoke"
                                        [(ngModel)]="stockCutting.UOM"
                                        readonly
                                    />
                                </div>
                                <div class="col-7 ps-0">
                                    <label class="form-label">Input Batch Qty <span class="text-danger"> </span></label>
                                    <input
                                        type="text"
                                        class="form-control bg-white-smoke"
                                        [(ngModel)]="stockCutting.SKUBatchQty"
                                        readonly
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="row line-border" />

        <app-setting-header
            [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
            (dataChange)="eventHeader($event)"
        >
        </app-setting-header>
        <div class="table-responsive" style="min-height: 20rem">
            <table class="table table-bordered table-sticky">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th>Select</th>
                        <th>Item Code</th>
                        <th class="text-start">Item Name</th>
                        <th class="text-start">Item Description</th>
                        <th>UoM</th>
                        <th>MRP Qty</th>
                        <th>Log Details</th>
                        <th>GT Qty</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let g of stockCutting.stockPreparationDetails
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            let i = index;
                            trackBy: trackByFn
                        "
                    >
                        <td>
                            <input
                                class="form-check-input pointer"
                                type="checkbox"
                                [(ngModel)]="g.select"
                                [ngModelOptions]="{standalone: true}"
                                [disabled]="['view', 'approve'].includes(action) || g.isSelectedCond"
                                (change)="checkInventoryRecords(g)"
                            />
                        </td>
                        <td>{{ g.itemCode }}</td>
                        <td class="text-start" [style.width]="itemName.clientWidth" #itemName>
                            <span class="pointer" [ngbTooltip]="g.itemName" [positionTarget]="itemName">
                                {{ g.itemName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                            <span class="pointer" [ngbTooltip]="g.itemDescription" [positionTarget]="itemDescription">
                                {{ g.itemDescription }}
                            </span>
                        </td>
                        <td>
                            <span>
                                <div class="d-flex justify-content-between align-items-center px-2">
                                    {{ g?.UOM | UOMUnitsMaster }}

                                    <span class="pointer d-flex align-items-center">
                                        <div (click)="setUnit(g)" *ngIf="g.secondaryUnit" class="unit-switch-rev"></div>
                                        <div *ngIf="!g.secondaryUnit" class="unit-switch-gray"></div>
                                    </span>
                                </div>
                            </span>
                        </td>
                        <td>{{ g.MRPQty ? (g.MRPQty | number : "1.2-2") : null }}</td>

                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <button class="plusIconSvg btn btn-primary me-1 py-0 px-0"></button>
                                <button
                                    type="button"
                                    class="btn btn-primary form-btn-sm py-0"
                                    (click)="openLogEntryModal(g)"
                                >
                                    Log Entry
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="g.isSaved">{{ g.GTQty }}</span>
                                <input
                                    (input)="setGTQty(g)"
                                    class="form-control form-control-sm text-center"
                                    type="number"
                                    [(ngModel)]="g.GTQty"
                                    [ngModelOptions]="{standalone: true}"
                                    *ngIf="!g.isSaved"
                                    [readonly]="action === 'view'"
                                />
                            </div>
                        </td>
                        <td>
                            <!-- <div class="d-flex justify-content-center">
                              <input
                                  class="form-control form-control-size-lg w-25"
                                  type="text"
                                  [(ngModel)]="g.tension"
                                  [ngModelOptions]="{standalone: true}"
                              />
                          </div> -->
                            <i
                                [ngClass]="
                                    !g.isSaved
                                        ? 'editOpacity fa fa-pencil-square-o fa-lg fs-3    '
                                        : 'fa fa-pencil-square-o fa-lg fs-3 text-primary pointer'
                                "
                                style="margin-right: 0rem !important"
                                aria-hidden="true"
                                (click)="openGTQtyModal(g)"
                            ></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr *ngIf="!['view'].includes(action)" class="row line-border mt-4" />
        <div class="row mb-3">
            <div *ngIf="!['view'].includes(action)" class="col-12 d-flex justify-content-center">
                <button type="button" class="btn bg-primary px-5 me-3" (click)="reset()">Reset</button>
                <button type="button" class="btn bg-primary px-5" (click)="submit()">GT to Production</button>
            </div>
        </div>
    </div>
</div>
