<div class="listCard card">
    <div class="table-header">
        <label class="heading">Map Process and Machine (Entry)</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button
            class="btn btn-primary btn-add"
            type="button"
            (click)="navigateTo('/default/production/master/map_process_and_machine/form', {}, 'create')"
        >
            <i class="fa fa-plus-square fa-lg me-2" aria-hidden="true"></i>
            Map Process and Machine
        </button>
    </div>

    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="mapCode" (sort)="onSort($event)">Map Code</th>
                    <th class="text-start" sortable="processName" (sort)="onSort($event)">Process Name</th>
                    <th sortable="noOfMachines" (sort)="onSort($event)">Total # of Machines</th>
                    <th sortable="status" (sort)="onSort($event)">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.mapCode }}</td>
                    <td class="text-start" [style.width]="processName.clientWidth" #processName>
                        <span class="pointer" [positionTarget]="processName" [ngbTooltip]="u.processName">
                            {{ u.processName }}
                        </span>
                    </td>
                    <td>
                        {{ u.noOfMachines }}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/production/master/map_process_and_machine/form', u, 'view')
                                    "
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/production/master/map_process_and_machine/form', u, 'edit')
                                    "
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                    *ngIf="this.user == superAdminId"
                                    href="javascript:void(0)"
                                    (click)="openConfirmModal(u?._id, u?.mapCode)"
                                >
                                    <i class="fa fa-trash text-primary" aria-hidden="true"></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
