<div class="listCard card">
    <div class="table-header">
        <label class="heading">RM Specification Summary</label>
    </div>
    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button
            class="btn btn-primary btn-add"
            type="button"
            (click)="navigateTo('../form', {}, 'create')"
        >
            RM Specification
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="itemCode" (sort)="onSort($event)">Item Code</th>
                    <th class="text-start" sortable="itemName" (sort)="onSort($event)">Item Name</th>
                    <th class="text-start" sortable="itemDescription" (sort)="onSort($event)">Item Description</th>
                    <th class="text-start" sortable="itemCategory" (sort)="onSort($event)">Product Code</th>
                    <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                    <th sortable="UoM" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.itemCode }}</td>
                    <td class="text-start" [style.width]="itemName.clientWidth" #itemName>
                        <span class="pointer" [positionTarget]="itemName" [ngbTooltip]="u.itemName">
                            {{ u.itemName }}
                        </span>
                    </td>
                    <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                        <span class="pointer" [positionTarget]="itemDescription" [ngbTooltip]="u.itemDescription">
                            {{ u.itemDescription }}
                        </span>
                    </td>
                    <td class="text-start">{{ u?.itemCategory }}</td>
                    <td>{{ u?.UOM | UOMUnitsMaster }}</td>
                    <td>
                        <span class="d-flex justify-content-center">
                            <div *ngIf="u?.status == 'Active'" class="statusActive"></div>
                            <div *ngIf="u?.status == 'Inactive'" class="statusYellow"></div>
                        </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('../form', u, 'view')
                                    "
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('../form', u, 'edit')
                                    "
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a  
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    [class.disable]="u.status == 'Inactive'"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'copy')"
                                >
                                    <i class="fa fa-clone fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Copy
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
