<div class="listCard card">
    <div class="table-header">
        <label class="heading">Channel Partner (Summary)</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="btn btn-primary btn-add" type="button" (click)="navigateTo('../form', {}, 'create')">
            <i class="fa fa-plus-square fa-lg me-2" aria-hidden="true"></i>
            Add Channel Partner
        </button>
    </div>

    <hr class="row line-border" />

    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-secondary">
                <tr class="text-white">
                    <th sortable="CPCode" (sort)="onSort($event)">CP Code</th>
                    <th class="text-start" sortable="channelPartnerName" (sort)="onSort($event)">
                        Channel Partner Name
                    </th>
                    <th sortable="channelPartnerCategory" (sort)="onSort($event)">Category</th>
                    <th sortable="country" (sort)="onSort($event)">Country</th>
                    <th sortable="state" (sort)="onSort($event)">State/Province</th>
                    <th sortable="GSTIN" (sort)="onSort($event)">GSTIN</th>
                    <th sortable="currency" (sort)="onSort($event)">Currency</th>
                    <th sortable="isCPActive" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.CPCode }}</td>
                    <td class="text-start">{{ u?.channelPartnerName }}</td>
                    <td>{{ u?.channelPartnerCategory }}</td>
                    <td>{{ u?.country }}</td>
                    <td>{{ u?.state }}</td>
                    <td>{{ u?.GSTIN }}</td>
                    <td>{{ u?.currency }}</td>
                    <td>
                        <span class="d-flex justify-content-center">
                            <div *ngIf="u.isCPActive == 'Active'" class="statusActive"></div>
                            <div *ngIf="u?.isCPActive == 'Inactive'" class="statusInActive"></div>
                        </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
