<div class="container-fluid text-center dashboard-page">
    <div class="row justify-content-center mt-5">
        <div class="col-md-12 px-0">
            <ul ngbNav #nav1="ngbNav" [(activeId)]="activeCards" class="nav-pills tabs-card row">
                <li [ngbNavItem]="1" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <div class="col pt-3 text-start">
                                        <i
                                            (click)="nav1.select(activeCards + 2)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                    <div class="col-11">
                                        <div class="row px-2 mb-4">
                                            <div class="col px-3">
                                                <div class="card flip-box-inner">
                                                    <div class="card-body">
                                                        <h5 class="card-title">YTD Net Sale [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.ytdNetSales | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card flip-box-inner">
                                                    <div class="card-body">
                                                        <h5 class="card-title">MTD Net Sale [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.mtdNetSales | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">YTD Tax Invoice [D]*</h5>
                                                        <p class="card-text card-text1">
                                                            {{ dashBoardData.ytdNetSalesInvoice | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">MTD Tax Invoice [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.mtdNetSalesInvoice | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">YTD Service Invoice [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.ytdNetService | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">MTD Service Invoice [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.mtdNetService | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col pt-2 text-end">
                                        <i
                                            (click)="nav1.select(activeCards + 1)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                    `
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <div class="col pt-3 text-start">
                                        <i
                                            (click)="nav1.select(activeCards - 1)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                    <div class="col-11">
                                        <div class="row px-2 mb-4">
                                            <div class="col px-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">AVG Monthly Net Sale [D]*</h5>
                                                        <p class="card-text card-text1">
                                                            {{ dashBoardData.avgMTDNetSales | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">YTD SO Value [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.ytdSOValue | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">MTD SO Value [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.mtdSOValue | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">SO Bal Value [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.soBalValue | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Total Proforma Invoices</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.totalPICount }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">PI Conversion Rate</h5>
                                                        <p class="card-text">{{ dashBoardData.piConversionRate }} %</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col pt-2 text-end">
                                        <i
                                            (click)="nav1.select(activeCards + 1)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-12">
                                <div class="d-flex align-items-center">
                                    <div class="col pt-3 text-start">
                                        <i
                                            (click)="nav1.select(activeCards - 1)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                    <div class="col-11 text-start">
                                        <div class="row px-2 mb-4">
                                            <div class="col px-3">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">YTD Credit Note [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.ytdCreditNote | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">MTD Credit Note [D]*</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.mtdCreditNote | number : "1.2-2" }}
                                                            {{ lakhInWord }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Customers</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.customerCount }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col px-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">SKU</h5>
                                                        <p class="card-text">
                                                            {{ dashBoardData.SKUsCount }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col pt-2 text-end">
                                        <i
                                            (click)="nav1.select(activeCards - 2)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav1" class="mt-2"></div>
        </div>
    </div>

    <div class="row mb-4 justify-content-center">
        <div class="col-11">
            <div class="card h-100">
                <div class="card-body ms-3 align-items-start">
                    <h5>Note: D – Domestic</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-12 px-0">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills tabs-card row">
                <li [ngbNavItem]="1" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="col-1 text-start">
                                        <i
                                            (click)="nav.select(active + 3)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>

                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">Monthly Domestic SO Trend [In {{ lakhInWord }}]</h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barMonthlySalesTrendDomestic"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">
                                                Monthly Domestic Tax Invoice Trend [In {{ lakhInWord }}]
                                            </h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barMonthlyTaxInvoiceTrendDomestic"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-1 text-end">
                                        <i
                                            (click)="nav.select(active + 1)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="col-1 text-start">
                                        <i
                                            (click)="nav.select(active - 1)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>

                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">
                                                Top 5 Domestic Customers Orders [In {{ lakhInWord }}]
                                            </h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataCustomerDomestic"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">
                                                Top 5 Domestic Ordered SKUs [In {{ lakhInWord }}]
                                            </h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataSKUsExports"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-1 text-end">
                                        <i
                                            (click)="nav.select(active + 1)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="col-1 text-start">
                                        <i
                                            (click)="nav.select(active - 1)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>

                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">Monthly Exports SO Trend [In {{ lakhInWord }}]</h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barMonthlySalesTrendExports"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">
                                                Monthly Exports Tax Invoice Trend [In {{ lakhInWord }}]
                                            </h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barMonthlyTaxInvoiceTrendExports"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-1 text-end">
                                        <i
                                            (click)="nav.select(active + 1)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4" class="col d-grid px-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="col-1 text-start">
                                        <i
                                            (click)="nav.select(active - 1)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>

                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">
                                                Top 5 Exports Customers Orders [In {{ lakhInWord }}]
                                            </h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataCustomerExports"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">Top 5 Exports Ordered SKUs [In {{ lakhInWord }}]</h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataSKUsDomestic"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-1 text-end">
                                        <i
                                            (click)="nav.select(active - 3)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>
