<div class="row tablePage">
    <div class="col-md-11 table-body">
        <div class="row table-header">
            <div class="col">
                <label class="heading">Cost Sheet Components Summary</label>
            </div>
        </div>

        <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
            <button
                class="btn btn-primary btn-add"
                type="button"
                (click)="navigateTo('default/settings/master/NPD/cost_sheet_components/form', {}, 'create')"
            >
                <i class="fa fa-plus-square fa-lg me-2" aria-hidden="true"></i>
                Cost Sheet Components
            </button>
        </div>
        <hr class="row line-border" />
        <div class="table-responsive">
            <app-setting-header
                [data]="{page,pageSize,collection,search,type: 'list'}"
                (dataChange)="eventHeader($event)"
            >
            </app-setting-header>

            <table class="table table-bordered">
                <thead class="bg-secondary">
                    <tr class="text-white">
                        <th sortable="componentType" (sort)="onSort($event)">Component Type</th>
                        <th sortable="order" (sort)="onSort($event)">Order</th>
                        <th sortable="costElement" class="text-start" (sort)="onSort($event)">
                            Cost Elements/Particulars
                        </th>
                        <th sortable="status" (sort)="onSort($event)">Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of tableData; trackBy: trackByFn">
                        <td>{{ u?.componentType }}</td>
                        <td>{{ u?.order }}</td>
                        <td class="text-start">{{ u?.costElement }}</td>
                        <td>{{ u?.status }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="dropbtn"></button>
                                <div class="dropdown-content">
                                    <a
                                        appAccessControl
                                        [accessType]="rolePermissionActions.viewAction"
                                        href="javascript:void(0)"
                                        (click)="
                                            navigateTo(
                                                'default/settings/master/NPD/cost_sheet_components/form',
                                                u,
                                                'view'
                                            )
                                        "
                                    >
                                        <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                        View
                                    </a>
                                    <a
                                        appAccessControl
                                        [accessType]="rolePermissionActions.editAction"
                                        href="javascript:void(0)"
                                        (click)="
                                            navigateTo(
                                                'default/settings/master/NPD/cost_sheet_components/form',
                                                u,
                                                'edit'
                                            )
                                        "
                                    >
                                        <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                        Edit
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
