<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label> SAC Master</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">SAC Code <span class="text-danger">*</span></label>
                    <input class="form-control" autoFocus type="number" formControlName="sacCode" />
                </div>
                <div class="col-md-4">
                    <label class="form-label">Description of Service <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="serviceDescription" />
                </div>
                <div class="col-md-4">
                    <label class="form-label">GST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="gstRate" (input)="setRates($event)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">IGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="igstRate" />
                </div>
                <div class="col-md-4">
                    <label class="form-label">CGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="cgstRate" />
                </div>
                <div class="col-md-4">
                    <label class="form-label">SGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="sgstRate" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">UTGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="ugstRate" />
                </div>
                <div class="col-md-4" formGroupName="revision">
                    <label class="form-label">Revision No.</label>
                    <input class="form-control" type="number" formControlName="revisionNo" />
                </div>
                <div class="col-md-4" formGroupName="revision">
                    <label class="form-label">Revision Date <span class="text-danger">*</span></label>
                    <input class="form-control" type="date" formControlName="revisionDate" />
                </div>
            </div>
        </div>
        <hr *ngIf="action !== 'view'" class="row line-border" />
        <div *ngIf="action !== 'view'" class="d-flex justify-content-center mb-3">
            <div class="d-grid col-md-1 mx-5" [ngClass]="{'d-none': action == 'View'}">
                <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
            </div>
            <div class="d-grid col-md-1" [ngClass]="{'d-none': action == 'View'}">
                <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</form>
