.sub-menu-card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #e3f7ff !important;
    table {
        margin: 0;
    }
    td {
        padding: 0.1rem !important;
        max-width: 28rem;
        word-wrap: break-word;
        border: 0.55px solid rgb(181, 180, 180);
    }
}

.pagination {
    margin-bottom: 0 !important;
}
ngb-pagination ::ng-deep ul.pagination {
    margin: 0 !important;
}
.page-label {
    color: var(--bs-dark);
    padding: 0 1rem;
    font-size: 1.4rem;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
    border: none !important;
    color: var(--bs-white) !important;
    background-color: #ffffff !important;
    box-shadow: none;
}

.fa {
    font-size: 1.6rem !important;
}
.set-input-group-text {
    border-radius: 0 !important;
    height: 2.8rem !important;
    width: 3rem;
}

.settingMargin {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
