<div class="listCard card">
    <div class="table-header">
        <label class="heading">Goods Issue Against Request Summary</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="btn bg-primary btn-add" (click)="navigateTo('../form', {}, 'create')">
            <i class="fa fa-plus-square fa-lg mx-2" aria-hidden="true"></i>
            Issue Goods Against GR
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="GRNumber.GRNumber" (sort)="onSort($event)">GR No.</th>
                    <th sortable="GRNumber.GRDate" (sort)="onSort($event)">GR Dt.</th>
                    <th sortable="GIDateS" (sort)="onSort($event)">Goods Issue Dt.</th>
                    <th sortable="deliveryLocation" (sort)="onSort($event)">Location (Store)</th>
                    <th sortable="department" (sort)="onSort($event)">Department</th>
                    <th sortable="GIStatus" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let g of tableData; trackBy: trackByFn">
                    <td>{{ g?.GRNumber }}</td>
                    <td>{{ g?.GRDateS }}</td>
                    <td>{{ g?.GIDateS }}</td>
                    <td>{{ g?.deliveryLocation }}</td>
                    <td>{{ g?.department }}</td>
                    <td>{{ g?.GIStatus }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', g, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        g?.GIStatus === 'Awaiting Acknowledgement' ||
                                        g?.GIStatus === 'Rejected' ||
                                        g?.GIStatus === 'Acknowledged' ||
                                        g?.GIStatus === 'Discrepancy Reported' ||
                                        g?.GIStatus === 'Discrepancy Resolved'
                                    "
                                    (click)="navigateTo('../form', g, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.approveAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        g?.GIStatus === 'Awaiting Acknowledgement' ||
                                        g?.GIStatus === 'Rejected' ||
                                        g?.GIStatus === 'Acknowledged' ||
                                        g?.GIStatus === 'Discrepancy Reported' ||
                                        g?.GIStatus === 'Discrepancy Resolved'
                                    "
                                    (click)="navigateTo('../form', g, 'approve')"
                                >
                                    <i class="fa fa-check fa-lg me-2 text-success" aria-hidden="true"></i>
                                    Approve
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.approveAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        g?.GIStatus === 'Awaiting Acknowledgement' ||
                                        g?.GIStatus === 'Rejected' ||
                                        g?.GIStatus === 'Acknowledged' ||
                                        g?.GIStatus === 'Discrepancy Reported' ||
                                        g?.GIStatus === 'Discrepancy Resolved'
                                    "
                                    (click)="navigateTo('../form', g, 'reject')"
                                >
                                    <i class="fa fa-close me-3 text-primary" aria-hidden="true"></i>
                                    Reject
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
