<Form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading ms-2">
                <label>Invoice QR Code Info</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-4">
                    <label class="form-label">
                        Customer Code
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="customerOptions"
                        bindLabel="customerCode"
                        bindValue="customerCode"
                        formControlName="customerCode"
                        [clearable]="false"
                        (change)="setCustomerDetails($event)"
                    >
                    </ng-select>
                </div>
                <div class="col-4">
                    <label class="form-label">
                        Customer Name
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="customerOptions"
                        bindLabel="customerName"
                        bindValue="customerName"
                        formControlName="customerName"
                        [clearable]="false"
                        (change)="setCustomerDetails($event)"
                    >
                    </ng-select>
                </div>
                <div class="col-4">
                    <label class="form-label">
                        Customer Nick Name
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="customerNickName" readonly />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label class="form-label">
                        Print QR Code on Invoice
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="printCodeOptions"
                        bindValue="value"
                        bindLabel="label"
                        formControlName="printQRCodeOnInvoice"
                        [clearable]="false"
                    >
                    </ng-select>
                </div>
                <div class="col-4">
                    <label class="form-label">
                        Print DS on Invoice
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="printCodeOptions"
                        bindValue="value"
                        bindLabel="label"
                        formControlName="printDSOnInvoice"
                        [clearable]="false"
                    >
                    </ng-select>
                </div>
                <div class="col-4">
                    <label class="form-label">
                        Vender Code
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="venderCode" />
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label class="form-label">
                        Show SKU Description
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="printCodeOptions"
                        bindValue="value"
                        bindLabel="label"
                        formControlName="showSKUDescription"
                        [clearable]="false"
                    >
                    </ng-select>
                </div>
                <div class="col-4">
                    <label class="form-label">
                        PAN No.
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="printCodeOptions"
                        bindValue="value"
                        bindLabel="label"
                        formControlName="showPANNo"
                        [clearable]="false"
                    >
                    </ng-select>
                </div>
                <div class="col-4">
                    <label class="form-label">
                        Exim Code
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="printCodeOptions"
                        bindValue="value"
                        bindLabel="label"
                        formControlName="showEximCode"
                        [clearable]="false"
                    >
                    </ng-select>
                </div>
            </div>
        </div>

        <hr *ngIf="['edit', 'create'].includes(action)" class="row line-border" />

        <div class="row">
            <div *ngIf="['edit', 'create'].includes(action)" class="col-12 d-flex justify-content-center">
                <div class="me-3">
                    <button type="button" class="btn btn-primary px-5" (click)="reset()">Reset</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Save</button>
                </div>
            </div>
        </div>
    </div>
</Form>
