<div class="modelPage">
    <div class="modal-header">
        <div class="heading">{{ heading }}</div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col px-0">
                    <h4>{{ cancelText }}</h4>
                    <h4 *ngIf="HSNFlag">{{ cancelTextTwo }}</h4>
                </div>
            </div>
            <div *ngIf="forNPDReview == 'NPD Review for Feasibility'" class="row mt-2">
                <div class="col px-0">
                    <label class="form-label"> {{ labelText }} </label>
                    <input type="text" class="form-control ps-2 pe-0" [(ngModel)]="reasonToConvert" />
                </div>
            </div>

            <div *ngIf="forNPDReview == 'NPD Review for Feasibility'" class="row justify-content-center my-4">
                <div class="col-6 text-start ps-0">
                    <button type="button" class="btn btn-primary px-5" (click)="dismissModelForNPD('Yes')">Yes</button>
                </div>
                <div class="col-6 text-end pe-0">
                    <button type="button" class="btn btn-primary px-5" (click)="dismissModelForNPD('No')">No</button>
                </div>
            </div>

            <div *ngIf="forNPDReview != 'NPD Review for Feasibility'" class="row justify-content-center my-4">
                <div class="col-6 text-start ps-0">
                    <button type="button" class="btn btn-primary px-5" (click)="dismissModel('Yes')">Yes</button>
                </div>
                <div class="col-6 text-end pe-0">
                    <button type="button" class="btn btn-primary px-5" (click)="dismissModel('No')">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
