<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Checklist-Customer Input</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="dismissModel()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="">
        <div class="container-fluid">
            <div class="row mt-4">
                <h4 class="ms-2 text-center openModelLink pointer text-primary my-5">
                    Check the box in below checklist if customer input is available
                </h4>

                <div class="table-responsive px-5">
                    <table class="table table-bordered table-sticky">
                        <thead class="bg-primary">
                            <tr class="text-white">
                                <th>Sr No.</th>
                                <th class="text-start">Checklist Particulars</th>
                                <th>Check box</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of checklistParticulars">
                                <td>{{ c?.order }}</td>
                                <td class="text-start">
                                    {{ c?.name }}
                                </td>
                                <td>
                                    <input
                                        class="form-check-input me-3"
                                        type="checkbox"
                                        [(ngModel)]="c.isChecked"
                                        [ngModelOptions]="{standalone: true}"
                                        [disabled]="action == 'view'"
                                    />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="line-border mb-0 mt-4" />

                <div class="col text-center my-4">
                    <button
                        class="btn bg-primary px-5"
                        type="button"
                        [disabled]="btnDisable || action == 'view'"
                        (click)="dismissModel()"
                    >
                        Save & Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
