<div class="container-fluid text-center dashboard-page">
    <div class="row mt-5 mx-5">
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div class="col-12 justify-content-center">
                    <div class="row px-3 mb-4">
                        <div class="col px-3">
                            <div class="card flip-box-inner">
                                <div class="card-body">
                                    <h5 class="card-title">Total Shipments</h5>
                                    <p class="card-text">
                                        {{ dashBoardData.totalShipmentsCounts }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div class="card flip-box-inner">
                                <div class="card-body">
                                    <h5 class="card-title">Total Pending Shipments</h5>
                                    <p class="card-text">
                                        {{ dashBoardData.totalPendingShipments }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Total Shipment Value [D]*</h5>
                                    <p class="card-text card-text1">
                                        {{ dashBoardData.totalShipmentsValue | number : "1.2-2" }}
                                        {{ lakhInWord }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Total Taxable Value [D]*</h5>
                                    <p class="card-text">
                                        {{ dashBoardData.totalTaxableValue | number : "1.2-2" }}
                                        {{ lakhInWord }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Total Tax Amount [D]*</h5>
                                    <p class="card-text">
                                        {{ dashBoardData.totalTaxValue | number : "1.2-2" }}
                                        {{ lakhInWord }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col px-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title">Top Destination</h5>
                                    <p class="card-text">
                                        {{ dashBoardData.topDestination }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4 justify-content-center">
        <div class="col-11">
            <div class="card h-100">
                <div class="card-body ms-3 align-items-start">
                    <h5>Note: D – Domestic</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-12 px-0">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills tabs-card row">
                <li [ngbNavItem]="1" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="col-1 text-start">
                                        <i
                                            (click)="nav.select(active + 1)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>

                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">Shipment Trend [In {{ noInWord }}]</h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataShipmentCountTrend"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">Tax Invoice Trend [In {{ noInWord }}]</h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataTaxInvoiceCountTrend"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-1 text-end">
                                        <i
                                            (click)="nav.select(active + 1)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2" class="col d-grid pe-2">
                    <ng-template ngbNavContent>
                        <div class="row mx-1">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="col-1 text-start">
                                        <i
                                            (click)="nav.select(active - 1)"
                                            class="fa fa-chevron-left sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>

                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">Top 5 Shipment Cities [In {{ lakhInWord }}]</h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataShipmentCities"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="card col-11">
                                        <div class="card-body gh p-4">
                                            <h5 class="card-title">Top 5 Customers by Value [In {{ lakhInWord }}]</h5>
                                            <canvas
                                                baseChart
                                                class="chart pointer"
                                                [data]="dashBoardData.barChartDataCustomersByValue"
                                                [options]="barChartOptions"
                                                [type]="barChartType"
                                                [plugins]="barChartPlugins"
                                            >
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="col-1 text-end">
                                        <i
                                            (click)="nav.select(active - 1)"
                                            class="fa fa-chevron-right sales-fa-chevron-color fs-2 pointer"
                                            aria-hidden="true"
                                        ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>
