<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label>Paid Holidays [{{ this.action | titlecase }}]</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="form-label"> Holiday Name <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="holidayName" />
                    <validation-messages class="error-left" [control]="form.controls['holidayName']">
                    </validation-messages>
                </div>
                <div class="col-md-6">
                    <label class="form-label"> Date <span class="text-danger">*</span> </label>
                    <input class="form-control" type="date" formControlName="holidayDate" (change)="day($event)" />
                    <validation-messages class="error-left" [control]="form.controls['holidayDate']">
                    </validation-messages>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="form-label"> Day <span class="text-danger">*</span> </label>

                    <input class="form-control" type="text" formControlName="holidayDay" readonly />
                </div>
                <div class="col-md-6">
                    <label class="form-label"> Location <span class="text-danger">*</span> </label>
                    <div>
                        <select class="form-select" formControlName="holidayLocation">
                            <option [value]="null" selected disabled>Select</option>
                            <option value="Office">Office</option>
                            <option value="Factory">Factory</option>
                            <option value="Office & Factory">Office & Factory</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="action !== 'view'" class="row line-border" />
        <div *ngIf="action !== 'view'" class="d-flex justify-content-center mb-3">
            <div class="d-grid col-md-1 me-5">
                <button class="btn btn-primary btn-lg" type="button" (click)="reset()">Reset</button>
            </div>
            <div class="d-grid col-md-1">
                <button type="submit" class="btn btn-primary btn-lg" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</form>
