<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label> Transporter Master</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label"> Code <span class="text-danger"></span> </label>
                    <input class="form-control" type="text" formControlName="transporterCode" readonly />
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Transporter Name [Legal Entity]<span class="text-danger"></span> </label>
                    <input #date class="form-control" type="text" formControlName="name" />
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Type <span class="text-danger">*</span> </label>

                    <select class="form-select" formControlName="transporterType">
                        <option [value]="''" selected disabled>Select Type</option>
                        <option *ngFor="let t of masterData?.transporterTypeOptions" [value]="t.value">
                            {{ t.label }}
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Address<span class="text-danger"></span> </label>
                    <input #date class="form-control" type="text" formControlName="address" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label"> City <span class="text-danger"></span> </label>

                    <input class="form-control" type="text" formControlName="city" />
                </div>

                <div class="col-md-3">
                    <label class="form-label"> State <span class="text-danger"></span> </label>
                    <select class="form-select" formControlName="state">
                        <option value="" selected disabled>Select State</option>
                        <option *ngFor="let s of statesOfIndia" [value]="s">
                            {{ s }}
                        </option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="form-label"> Country <span class="text-danger"></span> </label>

                    <input class="form-control" type="text" formControlName="country" />
                </div>

                <div class="col-md-3">
                    <label class="form-label"> Contact Person <span class="text-danger"></span> </label>

                    <input class="form-control" type="text" formControlName="contactPerson" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label"> Phone <span class="text-danger"></span> </label>

                    <input class="form-control" type="text" formControlName="phone" />
                </div>

                <div class="col-md-3">
                    <label class="form-label"> Email <span class="text-danger"></span> </label>

                    <input class="form-control" type="text" formControlName="email" />
                </div>

                <div class="col-md-3">
                    <label class="form-label"> GST No. <span class="text-danger"></span> </label>

                    <input class="form-control" type="text" formControlName="licenseNumber" />
                </div>

                <div class="col">
                    <label class="form-label">
                        Status
                        <span class="text-danger"></span>
                    </label>
                    <div class="d-flex">
                        <select class="form-select statusSelectBorder" formControlName="status">
                            <option [value]="null" selected disabled>Select Status</option>
                            <option [value]="'Active'">Active</option>
                            <option [value]="'Inactive'">Inactive</option>
                        </select>
                        <span class="input-group-text statusSpanHeight">
                            <div *ngIf="form.value['status'] == 'Active'" class="statusActive"></div>
                            <div *ngIf="form.value['status'] == 'Inactive'" class="statusInActive"></div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="action !== 'view'" class="row line-border" />

        <div *ngIf="action != 'view'" class="d-flex justify-content-center mb-3">
            <div class="d-grid col-md-1 me-5">
                <button class="btn btn-primary btn-lg" type="button" (click)="reset()">Reset</button>
            </div>
            <div class="d-grid col-md-1">
                <button class="btn btn-primary btn-lg" type="button" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</form>
