<div class="container-fluid printScreen">
    <div class="row">
        <div class="col-12 text-center px-0">
            <div *ngIf="buttonCondition == 'true'">
                <button class="btn btn-primary" type="button" (click)="windowPrint()" *ngIf="pdfAction != 'pdf'">
                    <img src="./assets/images/print.png" width="20px" height="14px" class="mb-2" />&nbsp;&nbsp; Print
                </button>
            </div>
            <div
                class="page py-3"
                [ngStyle]="
                    status == 'Cancelled'
                        ? {
                              background: 'url(./assets/buttons/cancelled.svg)',
                              'background-size': '100% 100%',
                              'background-color': 'transparent'
                          }
                        : {} && previewSO == 'previewSO'
                        ? {
                              background: 'url(./assets/new_icons/draft-stamp.svg)',
                              'background-size': '100% 100%',
                              'background-color': 'transparent'
                          }
                        : {}
                "
            >
                <div class="page py-3">
                    <div class="container-fluid printScreen px-0">
                        <div class="row">
                            <div class="col-12 text-center px-0">
                                <div class="table-responsive shadow printScreen">
                                    <table class="table">
                                        <tr>
                                            <td colspan="12">
                                                <div class="text-center">
                                                    <img
                                                        src="{{ tableData?.company?.SOPdfHeaderUrl }}"
                                                        class="img-pdfHeader"
                                                    />
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="head-row">
                                            <td colspan="12" class="text-center">
                                                <h1 class="fs-1">Sales Order Confirmation</h1>
                                            </td>
                                        </tr>
                                        <tr class="head-row">
                                            <th colspan="4" class="bg-grey">
                                                <label class="heading">Buyer's Details [Bill To]</label>
                                            </th>
                                            <th colspan="4" class="bg-grey">
                                                <label class="heading">Consignee Details [Ship To]</label>
                                            </th>
                                            <th colspan="4" class="bg-grey">
                                                <label class="heading">Sales Order Details</label>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td colspan="4" rowspan="2">
                                                <p class="">
                                                    {{ tableData?.customer?.customerBillingAddress?.contactPersonName }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customer?.customerBillingAddress?.line1 }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customer?.customerBillingAddress?.line2 }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customer?.customerBillingAddress?.line3 }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customer?.customerBillingAddress?.city }}
                                                    ,
                                                    {{ tableData?.customer?.customerBillingAddress?.state }}
                                                    ,
                                                    {{ tableData?.customer?.customerBillingAddress?.pinCode }}
                                                    {{ tableData?.customer?.customerBillingAddress?.country }}
                                                </p>
                                                <p>GSTIN.: {{ tableData?.customer?.GSTIN }}</p>
                                            </td>
                                            <td colspan="4" rowspan="2">
                                                <p>
                                                    {{ tableData?.customerShippingAddress?.contactPersonName }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customerShippingAddress?.line1 }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customerShippingAddress?.line2 }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customerShippingAddress?.line3 }}
                                                </p>
                                                <p>
                                                    {{ tableData?.customerShippingAddress?.city }}
                                                    ,
                                                    {{ tableData?.customerShippingAddress?.state }}
                                                    ,
                                                    {{ tableData?.customerShippingAddress?.pinCode }}
                                                    {{ tableData?.customerShippingAddress?.country }}
                                                </p>
                                                <p>GSTIN.: {{ tableData?.customer?.GSTIN }}</p>
                                            </td>
                                            <td colspan="4">
                                                <p class="">SO No.: {{ tableData?.SONumber }}</p>
                                                <p class="">
                                                    SO Date:
                                                    {{ tableData?.SODate | date : "dd-MM-YYYY" }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <p class="">
                                                    PO No.: {{ tableData?.PONumber }} | PO Date:
                                                    {{ tableData?.PODate | date : "dd-MM-YYYY" }}
                                                </p>
                                                <p class="">
                                                    PO Type: {{ tableData?.SOType ? tableData?.SOType : "Regular" }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <p class="sub-text">
                                                    Mobile No.:
                                                    {{ tableData?.customer?.customerContactInfo?.contactPersonNumber }}
                                                </p>
                                                <p class="sub-text">
                                                    E-mail:
                                                    {{ tableData?.customer?.customerContactInfo?.contactPersonEmail }}
                                                </p>
                                            </td>
                                            <td colspan="4">
                                                <p class="sub-text">
                                                    Mobile No.:
                                                    {{ tableData?.customer?.customerContactInfo?.contactPersonNumber }}
                                                </p>
                                                <p class="sub-text">
                                                    E-mail:
                                                    {{ tableData?.customer?.customerContactInfo?.contactPersonEmail }}
                                                </p>
                                            </td>
                                            <td colspan="4">
                                                <p class="sub-text">
                                                    Currency:
                                                    {{ tableData?.currency }}
                                                </p>
                                                <p class="sub-text">
                                                    E-way bill applicable:
                                                    {{ tableData?.EWayBillApplicable }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="12">
                                                <p class="sub-text">Dear Sir/Madam,</p>
                                                <p class="sub-text">
                                                    We thankfully acknowledge the receipt of your order confirmation and
                                                    would like to accept the order as per our terms of business.
                                                </p>
                                                <p class="sub-text">
                                                    Cancellation of order or amendments should be intimated within 24
                                                    hours to us failing which this order will be actioned as per
                                                    following details.
                                                </p>
                                                <p class="sub-text">
                                                    For any queries or to track the status, please quote our SALES ORDER
                                                    NO. in all further communication.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr class="head-row text-center w-100 text-nowrap">
                                            <th colspan="1" class="text-center">#</th>
                                            <th colspan="2" class="text-start">Product Description</th>
                                            <th colspan="1" class="text-center">Disp.Date</th>
                                            <th colspan="1" class="text-center">HSN Code</th>
                                            <th colspan="1" class="text-center">UoM</th>
                                            <th colspan="1" class="text-center">Quantity</th>
                                            <th colspan="1" class="text-center">Rate/Unit</th>
                                            <th colspan="1" class="text-center">Disc %</th>
                                            <th colspan="1" class="text-center">Net Rate</th>
                                            <th colspan="2" class="text-center">Taxable Amount</th>
                                        </tr>
                                        <tr class="text-wrap" *ngFor="let p of tableData.SODetails; let i = index">
                                            <td colspan="1" class="text-center">
                                                <label>{{ i + 1 }}</label>
                                            </td>
                                            <td colspan="2">
                                                <p>
                                                    SKU Code:
                                                    {{ p?.SKU?.SKUNo }} | Part No.:
                                                    {{ p?.customerPartNo }}
                                                </p>
                                                <p>
                                                    {{ "SKU Name" | labelTranslate }}:
                                                    {{ p?.SKU?.SKUName }}
                                                </p>
                                                <p>
                                                    {{ "SKU Description" | labelTranslate }}:
                                                    {{ p?.SKU?.SKUDescription }}
                                                </p>
                                            </td>

                                            <td colspan="1" class="text-center">
                                                {{ p?.SOLineTargetDate | date : "dd-MM-YYYY" }}
                                            </td>

                                            <td colspan="1" class="text-center">
                                                {{ p?.SKU?.hsn }}
                                            </td>
                                            <td colspan="1" class="text-center">
                                                {{ p?.UOM }}
                                            </td>
                                            <td colspan="1" class="text-center">
                                                {{ p?.orderedQty }}
                                            </td>
                                            <td colspan="1" class="text-center">
                                                {{ p?.standardRate | number : "1.2-2" }}
                                            </td>
                                            <td colspan="1" class="text-center">
                                                {{ p?.discount | number : "1.2-2" }}
                                            </td>
                                            <td colspan="1" class="text-center">
                                                {{ p?.netRate | number : "1.2-2" }}
                                            </td>

                                            <td colspan="2" class="text-center">
                                                {{ p?.lineValue | number : "1.2-2" }}
                                            </td>
                                        </tr>
                                        <tr *ngFor="let d of tableData.rowRepeat; let j = index">
                                            <td colspan="1" class="text-center">
                                                <p class="py-3">
                                                    {{ tableData.SODetails.length + j + 1 }}
                                                </p>
                                            </td>
                                            <td colspan="2" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <p></p>
                                            </td>
                                            <td colspan="2" class="text-center">
                                                <p></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="11 " class="text-end">
                                                <p class="sub-text">SAC 996511 - Freight & Forwarding Charges</p>
                                            </td>
                                            <td colspan="1" class="text-center">
                                                <span class="sub-text">
                                                    {{
                                                        tableData?.otherCharges?.totalAmount
                                                            ? (tableData?.otherCharges?.totalAmount | number : "1.2-2")
                                                            : (0 | number : "1.2-2")
                                                    }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr class="border-btm">
                                            <th colspan="11" class="text-end">
                                                <p>Total Taxable Amount</p>
                                            </th>
                                            <th *ngIf="isDomestic" colspan="1" class="text-center">
                                                {{ tableData?.totalTaxableAmount | number : "1.2-2" }}
                                            </th>
                                            <th *ngIf="!isDomestic" colspan="1" class="text-center">
                                                {{ tableData?.totalTaxableAmount | number : "1.2-2" }}
                                            </th>
                                        </tr>

                                        <tr class="border-btm">
                                            <td colspan="12 " class="py-4">
                                                <div class="row justify-content-between">
                                                    <div class="col-8 p-0 pe-4">
                                                        <p class="py-1">General Terms & Conditions</p>
                                                        <table class="table">
                                                            <tr>
                                                                <td colspan="3">Payment Terms</td>
                                                                <td colspan="9">
                                                                    {{ tableData?.customer?.customerPaymentTerms }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Mode of Transport</td>
                                                                <td colspan="9">
                                                                    {{ tableData?.modeOfTransport }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Freight Terms</td>
                                                                <td colspan="9">
                                                                    {{ tableData?.frightTerms }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Destination</td>
                                                                <td colspan="9">
                                                                    {{ tableData?.destination }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Prefered Transporter</td>
                                                                <td colspan="9">
                                                                    {{ tableData?.transporter }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="3">Remarks</td>
                                                                <td colspan="9">
                                                                    {{ tableData?.SORemarks }}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-4 p-0">
                                                        <p class="py-1">
                                                            SO Summary | Currency {{ tableData?.currency }}
                                                        </p>
                                                        <table class="table">
                                                            <tr>
                                                                <th>Total Taxable Amount</th>
                                                                <th *ngIf="isDomestic" class="text-center">
                                                                    {{
                                                                        tableData?.totalTaxableAmount
                                                                            ? (tableData?.totalTaxableAmount
                                                                              | number : ".2-2")
                                                                            : "-"
                                                                    }}
                                                                </th>
                                                                <th *ngIf="!isDomestic" colspan="1" class="text-center">
                                                                    {{
                                                                        tableData?.totalTaxableAmount | number : "1.2-2"
                                                                    }}
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td class="sub-text">S-GST</td>
                                                                <td colspan="2" class="text-center">
                                                                    <span
                                                                        class="sub-text"
                                                                        *ngIf="isDomestic; else hashBlock"
                                                                    >
                                                                        {{
                                                                            tableData?.totalSGSTAmount
                                                                                ? (tableData?.totalSGSTAmount
                                                                                  | number : ".2-2")
                                                                                : "-"
                                                                        }}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="sub-text">C-GST</td>
                                                                <td class="text-center">
                                                                    <span
                                                                        class="sub-text"
                                                                        *ngIf="isDomestic; else hashBlock"
                                                                    >
                                                                        {{
                                                                            tableData?.totalCGSTAmount
                                                                                ? (tableData?.totalCGSTAmount
                                                                                  | number : ".2-2")
                                                                                : "-"
                                                                        }}
                                                                    </span>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="sub-text">I-GST</td>
                                                                <td class="text-center">
                                                                    <span
                                                                        class="sub-text"
                                                                        *ngIf="isDomestic; else hashBlock"
                                                                    >
                                                                        {{
                                                                            tableData?.totalIGSTAmount
                                                                                ? (tableData?.totalIGSTAmount
                                                                                  | number : ".2-2")
                                                                                : "-"
                                                                        }}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="sub-text">Rounded off [+/-]</td>
                                                                <td class="text-center">
                                                                    <span
                                                                        class="sub-text"
                                                                        *ngIf="isDomestic; else hashBlock"
                                                                    >
                                                                        {{ tableData?.roundedOff | number : "1.2-2" }}
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>Total SO Amount</th>
                                                                <th class="text-center">
                                                                    <span *ngIf="isDomestic">
                                                                        {{
                                                                            tableData?.totalAmountWithTax
                                                                                | number : ".2-2"
                                                                        }}
                                                                    </span>
                                                                    <span *ngIf="!isDomestic">
                                                                        {{
                                                                            tableData?.totalTaxableAmount
                                                                                | number : "1.2-2"
                                                                        }}
                                                                    </span>
                                                                </th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="py-1">
                                            <td colspan="12">
                                                <div class="row justify-content-between my-3">
                                                    <div class="col-8 p-0 pe-4">
                                                        <table class="table">
                                                            <tr>
                                                                <th colspan="12">Bank Details</th>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6">Beneficiary Name</td>
                                                                <td colspan="6">
                                                                    {{ tableData?.company?.companyBefName }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6">Bank Name</td>
                                                                <td colspan="6">
                                                                    {{ tableData?.company?.companyBankName }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6">Account No.</td>
                                                                <td colspan="6">
                                                                    {{ tableData?.company?.companyAccountNumber }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6">MICR Code</td>
                                                                <td colspan="6">
                                                                    {{ tableData?.company?.companyBankMICRCode }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6">IFS Code (NEFT/RTGS)</td>
                                                                <td colspan="6">
                                                                    {{ tableData?.company?.companyBankIFSCCode }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="6">Bank/Branch Address</td>
                                                                <td colspan="6">
                                                                    {{ tableData?.company?.companyBankBranch }}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-4 px-0">
                                                        <table class="table">
                                                            <tr>
                                                                <td colspan="12" class="text-center">
                                                                    <img
                                                                        src="{{ tableData?.company?.SOSignatureUrl }}"
                                                                        class="img-sign"
                                                                    />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <app-so-terms-and-condition
                                                        class="page-break"
                                                        *ngIf="termsAndConditions == tableData?.company?.companyName"
                                                    ></app-so-terms-and-condition>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #hashBlock> <span>-</span> </ng-template>
