<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label>Report QMS Mapping ({{ action | titlecase }}) </label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col">
                    <label class="form-label">Report Code <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="reportCode" readonly />
                </div>
                <div class="col">
                    <label class="form-label">
                        Module Name
                        <span class="text-danger">*</span>
                    </label>
                    <select formControlName="module" (change)="getFilterData()" class="form-select">
                        <option value="null" selected disabled>Select Type</option>
                        <option *ngFor="let m of moduleNames" [value]="m.title">
                            {{ m?.title }}
                        </option>
                    </select>
                </div>
                <div class="col ps-0">
                    <label class="form-label">Report Name <span class="text-danger">*</span></label>
                    <ng-select
                        [items]="reportNameArr"
                        bindLabel="title"
                        bindValue="_id"
                        [clearable]="false"
                        (change)="setReportNames($event)"
                        formControlName="report"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Report QMS Title <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="reportTitle" readonly />
                </div>
                <div class="col ps-0">
                    <label class="form-label">Report QMS Display <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="displayText" />
                </div>
            </div>
        </div>
        <hr *ngIf="action !== 'view'" class="row line-border" />
        <div *ngIf="action !== 'view'" class="d-flex justify-content-center mb-3">
            <div class="d-grid col-md-1 mx-5" [ngClass]="{'d-none': action == 'View'}">
                <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
            </div>
            <div class="d-grid col-md-1" [ngClass]="{'d-none': action == 'View'}">
                <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</form>
