a {
  flex: 1 0;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 2px;
  margin-bottom: 1rem;
  color: black !important;
  background-color: white !important;
  border: 1px solid var(--bs-white);
}

.active {
  color: var(--bs-white) !important;
  background-color: white !important;
  border: 1px solid var(--bs-white);
}
.aDisable {
  pointer-events: none;
  opacity: 0.4;
}

@media print {
  #btnDisplay * {
      display: none;
  }
  * {
      font-size: 1.7rem !important;
      font-weight: 600 !important;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif !important;
      line-height: 1.9rem;
      color: #000000 !important;
  }

  a {
      flex: 1 0;
      font-weight: 500;
      font-size: 1.4rem;
      border-radius: 2px;
      margin-bottom: 1rem;
      color: black !important;
      background-color: white !important;
      border: 1px solid var(--bs-white);
  }

  .active {
      color: var(--bs-white) !important;
      background-color: white !important;
      border: 1px solid var(--bs-white) !important;
  }
  .aDisable {
      pointer-events: none;
      opacity: 0.4;
  }
}
