<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Screen Making Log</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="this.activeModal.close()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="form-body my-4">
            <div class="row">
                <div class="col-5 pe-0">
                    <div class="row">
                        <div class="col-6">
                            <label for="" class="form-label">Job Card No. </label>
                            <input type="text" class="form-control" [(ngModel)]="screenMakingLog.jobCardNo" readonly />
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">SKU No. <span class="text-danger"> </span></label>
                            <input type="text" class="form-control" [(ngModel)]="screenMakingLog.SKUNo" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-7 ps-5">
                    <div class="row">
                        <div class="col-6 pe-2">
                            <label for="" class="form-label">SKU Name <span class="text-danger"> </span></label>
                            <input type="text" class="form-control" [(ngModel)]="screenMakingLog.SKUName" readonly />
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">
                                SKU Description
                                <span class="text-danger"> </span>
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="screenMakingLog.SKUDescription"
                                readonly
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="row line-border" />

        <app-setting-header
            [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
            (dataChange)="eventHeader($event)"
        >
        </app-setting-header>
        <div class="table-responsive" style="min-height: 20rem">
            <table class="table table-bordered table-sticky">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th>SN</th>
                        <th>Colour Code</th>
                        <th class="text-start">Colour Name</th>
                        <th class="text-start">Colour Description</th>
                        <th>Mesh</th>
                        <th>Tension N/cm</th>
                        <th>Log Details</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let g of screenMakingLog.screenMakingLogDetails
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            let i = index;
                            trackBy: trackByFn
                        "
                    >
                        <td>{{ g.SN }}</td>
                        <td>{{ g.colourCode }}</td>
                        <td class="text-start" [style.width]="colourName.clientWidth" #colourName>
                            <span class="pointer" [ngbTooltip]="g.colourName" [positionTarget]="colourName">
                                {{ g.colourName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="colourDescription.clientWidth" #colourDescription>
                            <span
                                class="pointer"
                                [ngbTooltip]="g.colourDescription"
                                [positionTarget]="colourDescription"
                            >
                                {{ g.colourDescription }}
                            </span>
                        </td>
                        <td>{{ g.mesh }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <input
                                    class="form-control form-control-size-xs w-25"
                                    type="text"
                                    [(ngModel)]="g.tension"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <button
                                    type="button"
                                    class="btn btn-primary form-btn-sm py-0"
                                    (click)="openLogEntryModal(g)"
                                >
                                    Log Entry
                                </button>
                            </div>
                        </td>
                        <td>
                            <input
                                class="form-check-input pointer"
                                type="checkbox"
                                [(ngModel)]="g.status"
                                [ngModelOptions]="{standalone: true}"
                                [disabled]="['view', 'approve'].includes(action)"
                            />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="row line-border mt-4" />
        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-3">
                <button
                    *ngIf="!['reject', 'Acknowledged', 'approve', 'view'].includes(action)"
                    type="button"
                    class="btn bg-primary px-5"
                    (click)="submit()"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
