<div class="listCard card">
    <div class="table-header">
        <label class="heading">Quality Equipment Summary</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="btn btn-primary btn-add" type="button" (click)="navigateTo('../form', null, 'create')">
            <i class="fa fa-plus-square fa-lg me-2" aria-hidden="true"></i>
            Quality Equipment
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="equipmentCode" (sort)="onSort($event)">Equipment Code</th>
                    <th class="text-start" sortable="equipmentName" (sort)="onSort($event)">Equipment Name</th>
                    <th sortable="equipmentType" (sort)="onSort($event)">Equipment Type</th>
                    <th sortable="manufacturer" (sort)="onSort($event)">Manufacturer</th>
                    <th sortable="calibrationDateS" (sort)="onSort($event)">Calibration Date</th>
                    <th sortable="calibrationDueS" (sort)="onSort($event)">Calibration Due</th>
                    <th sortable="calibrationAgency" (sort)="onSort($event)">Calibration Agency</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.equipmentCode }}</td>
                    <td class="text-start" [style.width]="equipmentName.clientWidth" #equipmentName>
                        <span class="pointer" [ngbTooltip]="u.equipmentName" [positionTarget]="equipmentName">
                            {{ u.equipmentName }}
                        </span>
                    </td>
                    <td>{{ u?.equipmentType }}</td>
                    <td>{{ u?.manufacturer }}</td>
                    <td>{{ u?.calibrationDateS }}</td>
                    <td>{{ u?.calibrationDueS }}</td>
                    <td>{{ u?.calibrationAgency }}</td>

                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u?._id, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u?._id, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                    *ngIf="this.user == superAdminId"
                                    href="javascript:void(0)"
                                    (click)="openConfirmModal(u?._id, u?.equipmentCode)"
                                >
                                    <i class="fa fa-trash text-primary" aria-hidden="true"></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
