<div class="listCard card">
    <div class="table-header">
        <label class="heading">Purchase Indent Order (Summary)</label>
    </div>
    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button class="btn btn-primary btn-add px-4" type="button" (click)="navigateTo('../form', {}, 'create')">
            Purchase Indent
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="indentOrderNo" (sort)="onSort($event)">IO No.</th>
                    <th sortable="indentOrderDate" (sort)="onSort($event)">IO Date</th>
                    <th sortable="purchaseCategory" (sort)="onSort($event)">Purchase Category</th>
                    <th class="text-start" sortable="channelPartnerName" (sort)="onSort($event)">Channel Partner Name</th>
                    <th sortable="currency" (sort)="onSort($event)">Ccy</th>
                    <th sortable="netPIValue" (sort)="onSort($event)">IO Value</th>
                    <th sortable="status" (sort)="onSort($event)">IO Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn; let i = index">
                    <td>{{ u?.indentOrderNo }}</td>
                    <td>{{ u?.indentOrderDate }}</td>
                    <td>{{ u?.purchaseCategory }}</td>
                    <td class="text-start" [style.width]="channelPartnerName.clientWidth" #channelPartnerName>
                        <span class="pointer" [positionTarget]="channelPartnerName" [ngbTooltip]="u.channelPartnerName">
                            {{ u.channelPartnerName }}
                        </span>
                    </td>
                    <td>{{ u?.currency }}</td>
                    <td>{{ u?.netPIValue }}</td>
                    <td>{{ u?.status }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        u?.status === 'Approved' ||
                                        u?.status === 'Rejected' ||
                                        u?.status === 'Supplementary PO'
                                    "
                                    (click)="navigateTo('../form', u, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.approveAction"
                                    href="javascript:void(0)"
                                    [class.disable]="u?.status === 'Approved' || u?.status === 'Rejected'"
                                    (click)="navigateTo('../form', u, 'approve')"
                                >
                                    <i class="fa fa-check fa-lg text-success" aria-hidden="true"></i>
                                    Approve
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.approveAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        u?.status === 'Approved' ||
                                        u?.status === 'Rejected' ||
                                        u?.status === 'Supplementary PO'
                                    "
                                    (click)="navigateTo('../form', u, 'reject')"
                                >
                                    <i class="fa fa-close fa-lg text-primary" aria-hidden="true"></i>
                                    Reject
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.generateReportAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        u?.status === 'Awaiting Approval' ||
                                        u?.status === 'Rejected' ||
                                        u?.status === 'Supplementary PO'
                                    "
                                    (click)="update(u, 'Report Generated')"
                                >
                                    <img src="./assets/images/new.svg" width="14" class="me-3" />

                                    Generate Report
                                </a>
                                <!--   <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.createAction"
                                    href="javascript:void(0)"
                                    (click)="navigateToPrint('/#/print/po_print', u, 'print', 'previewPO')"
                                >
                                    <i class="fa fa-print fa-lg me-3 text-primary" aria-hidden="true"></i>
                                    Preview PO
                                </a> -->
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
