<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Process - Stage Inspection (IPQA)</div>

        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="this.activeModal.close()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row mx-4 mt-4 px-2">
            <div class="col-7">
                <div class="row">
                    <div class="col-5 pe-0"><label class="form-label">Date</label></div>
                    <div class="col-4 px-1"><label class="form-label">Shift</label></div>
                    <div class="col-3 ps-0"><label class="form-label">UoM</label></div>
                </div>
            </div>
            <div class="col-5 ps-1">
                <div class="row">
                    <div class="col-5 ps-0 pe-1"><label class="form-label">OK Qty </label></div>
                    <div class="col-5 ps-0"><label class="form-label">Inspected by</label></div>
                </div>
            </div>
        </div>

        <div
            *ngFor="let item of stageInspectionIPQA?.stageInspectionIPQAInfo; let i = index"
            class="row mx-4 px-2 mb-2"
        >
            <div class="col-7">
                <div class="row">
                    <div class="col-5 pe-0">
                        <input
                            [(ngModel)]="item.date"
                            class="form-control"
                            type="date"
                            [disabled]="['view', 'approve'].includes(action)"
                        />
                    </div>
                    <div class="col-4 px-1">
                        <!-- <input
                          [(ngModel)]="item.subProcessName"
                          class="form-control"
                          type="text"
                          [disabled]="['view', 'approve'].includes(action)"
                      /> -->
                        <ng-select
                            [items]="shiftOptions"
                            bindLabel="label"
                            bindValue="value"
                            [clearable]="false"
                            [(ngModel)]="item.shift"
                            [disabled]="['view', 'approve'].includes(action)"
                        >
                        </ng-select>
                    </div>
                    <div class="col-3 ps-0">
                        <input
                            [(ngModel)]="item.UOM"
                            class="form-control bg-white-smoke"
                            type="text"
                            [disabled]="['view', 'approve'].includes(action)"
                            readonly
                        />
                    </div>
                </div>
            </div>
            <div class="col-5 ps-1">
                <div class="row">
                    <div class="col-5 ps-0 pe-1">
                        <input
                            [(ngModel)]="item.okQty"
                            class="form-control bg-yellow-color"
                            type="number"
                            [disabled]="['view', 'approve'].includes(action)"
                            (input)="totalOKQty()"
                        />
                    </div>
                    <div class="col-7 ps-0">
                        <input
                            [(ngModel)]="item.inspectedBy"
                            class="form-control"
                            type="text"
                            [disabled]="['view', 'approve'].includes(action)"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mb-2 px-5 mx-1">
            <div class="col-12 set-image px-0 seperate-row">
                <div class="minus-icon">
                    <img
                        data-tip
                        data-for="infoTip"
                        (click)="deleteTableRow()"
                        class="pointer"
                        src="./assets/new_icons/delete_row.svg"
                        width="14"
                        alt=""
                    />
                </div>

                <hr class="line-border" />
                <!-- <img class="" src="./assets/new_icons/separator_row.svg" alt="" /> -->
                <div class="add-icon">
                    <img
                        data-tip
                        data-for="infoTip"
                        (click)="addTableRow()"
                        class="pointer"
                        src="./assets/new_icons/add_row.svg"
                        width="14"
                        alt=""
                    />
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center" style="min-height: 10rem">
            <div class="col-4 pe-0">
                <div class="d-flex align-items-center">
                    <div class="col-form-label text-nowrap">
                        Total OK Qty
                        <span class="ms-1 me-2">&#9654;</span>
                    </div>
                    <input
                        [(ngModel)]="stageInspectionIPQA.totalOkQty"
                        class="form-control bg-white-smoke"
                        type="text"
                        [disabled]="['view', 'approve'].includes(action)"
                        readonly
                    />
                </div>
            </div>
        </div>

        <hr class="line-border" />

        <div class="row d-flex justify-content-center mx-4 px-2">
            <div class="col-12">
                <div class="d-flex align-items-center">
                    <div class="col-form-label text-nowrap">
                        Remarks
                        <span class="ms-1 me-2">&#9654;</span>
                    </div>
                    <input
                        [(ngModel)]="stageInspectionIPQA.remarks"
                        class="form-control"
                        placeholder="Note down any critical incident/Major defects found during QC inspection"
                        type="text"
                        [disabled]="['view', 'approve'].includes(action)"
                    />
                </div>
            </div>
        </div>
        <hr class="line-border" />

        <div class="row mb-4 mt-2 mx-4 px-2">
            <div class="col-4">
                <label for="" class="form-label">Batch Release Status <span class="text-danger"> </span></label>
                <div class="d-flex align-items-center">
                    <select class="form-select statusSelectBorder" [(ngModel)]="stageInspectionIPQA.batchReleaseStatus">
                        <option [value]="'null'" selected disabled>Select Status</option>
                        <option [value]="'Released'">Released</option>
                        <option [value]="'Reworked'">Reworked</option>
                        <option [value]="'Deviation'">Deviation</option>
                        <option [value]="'Rejected'">Rejected</option>
                    </select>
                    <span class="input-group-text statusSpanHeight">
                        <div
                            class="statusActive"
                            *ngIf="stageInspectionIPQA.batchReleaseStatus == 'Released'"
                            class="statusActive"
                        ></div>
                        <div class="statusYellow" *ngIf="stageInspectionIPQA.batchReleaseStatus == 'Reworked'"></div>
                        <div class="statusOrange" *ngIf="stageInspectionIPQA.batchReleaseStatus == 'Deviation'"></div>
                        <div class="statusInActive" *ngIf="stageInspectionIPQA.batchReleaseStatus == 'Rejected'"></div>
                    </span>
                </div>
            </div>
            <div class="col-5">
                <label for="" class="form-label"> Process In-charge <span class="text-danger"> </span></label>
                <input type="text" class="form-control" [(ngModel)]="stageInspectionIPQA.processInCharge" />
            </div>
            <!-- *ngIf="['create', 'edit'].includes(action)" -->
            <div class="col-3 d-flex justify-content-end align-items-end">
                <button type="button" class="btn btn-primary px-4" (click)="submit()">Save & Close</button>
            </div>
        </div>
    </div>
</div>
