.separate-row {
  position: relative;
  .set-position {
    position: absolute;
    top: 2rem;
    right: -0.5rem;
  }
}
.separate-image {
  position: relative;
  .image-position {
    position: absolute;
    top: 0rem;
    left: -0.5rem;
  }
}
