<form [formGroup]="form" class="formCard card">
    <div class="container">
        <div class="row form-header">
            <div class="col heading">
                <label>HSN Master</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">HSN Code <span class="text-danger">*</span></label>
                    <input
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        maxlength="8"
                        type="number"
                        class="form-control"
                        formControlName="hsnCode"
                        placeholder="Enter HSN Code"
                    />
                    <validation-messages class="error-left" [control]="form.controls['hsnCode']"> </validation-messages>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Description of Goods <span class="text-danger">*</span></label>
                    <input
                        class="form-control"
                        type="text"
                        formControlName="goodsDescription"
                        placeholder="Enter Description"
                    />
                    <validation-messages class="error-left" [control]="form.controls['goodsDescription']">
                    </validation-messages>
                </div>
                <div class="col-md-4">
                    <label class="form-label">GST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="gstRate" placeholder="0" />
                    <validation-messages class="error-left" [control]="form.controls['gstRate']"> </validation-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">IGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="igstRate" placeholder="0" />
                    <validation-messages class="error-left" [control]="form.controls['igstRate']">
                    </validation-messages>
                </div>
                <div class="col-md-4">
                    <label class="form-label">CGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="cgstRate" placeholder="0" />
                    <validation-messages class="error-left" [control]="form.controls['cgstRate']">
                    </validation-messages>
                </div>
                <div class="col-md-4">
                    <label class="form-label">SGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="sgstRate" placeholder="0" />
                    <validation-messages class="error-left" [control]="form.controls['sgstRate']">
                    </validation-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">UTGST Rate % <span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="ugstRate" placeholder="0" />
                    <validation-messages class="error-left" [control]="form.controls['ugstRate']">
                    </validation-messages>
                </div>
                <div class="col-md-4" formGroupName="revision">
                    <label class="form-label">Revision No.</label>
                    <input
                        class="form-control"
                        type="number"
                        formControlName="revisionNo"
                        placeholder="Enter Revision No."
                    />
                </div>
                <div class="col-md-4" formGroupName="revision">
                    <label class="form-label">Revision Date <span class="text-danger">*</span></label>
                    <input class="form-control" type="date" formControlName="revisionDate" />
                </div>
            </div>
        </div>

        <hr *ngIf="action !== 'view'" class="row line-border" />
        <div *ngIf="action !== 'view'" class="d-flex justify-content-center my-4">
            <div class="d-grid col-md-1 mx-5" [ngClass]="{'d-none': action == 'View'}">
                <button class="btn btn-primary" type="button" (click)="reset()">Reset</button>
            </div>
            <div class="d-grid col-md-1" type="button" [ngClass]="{'d-none': action == 'View'}">
                <button class="btn btn-primary" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</form>
