<div class="listCard card">
    <div class="table-header">
        <label class="heading">Job Work Challan Summary</label>
    </div>
    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button class="btn btn-primary btn-add" type="button" (click)="navigateTo('../form', {}, 'create')">
            Job Work Challan
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="JWChallanNo" (sort)="onSort($event)">JWC No.</th>
                    <th sortable="JWChallanDate" (sort)="onSort($event)">JWC Date</th>
                    <th class="text-start" sortable="jobWorkerName" (sort)="onSort($event)">Job Worker Name</th>
                    <th sortable="placeOfSupply" (sort)="onSort($event)">Place of Supply</th>
                    <th sortable="currency" (sort)="onSort($event)">Ccy</th>
                    <th sortable="totalTaxableAmt" (sort)="onSort($event)">Taxable Amount</th>
                    <th sortable="status" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn; let i = index">
                    <td>{{ u?.JWChallanNo }}</td>
                    <td>{{ u?.JWChallanDate }}</td>
                    <td class="text-start" [style.width]="jobWorkerName.clientWidth" #jobWorkerName>
                        <span class="pointer" [positionTarget]="jobWorkerName" [ngbTooltip]="u.jobWorkerName">
                            {{ u.jobWorkerName }}
                        </span>
                    </td>
                    <td>{{ u?.placeOfSupply }}</td>
                    <td>{{ u?.currency }}</td>
                    <td>{{ u?.totalTaxableAmt }}</td>
                    <td>{{ u?.status }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        u?.status === 'Approved' ||
                                        u?.status === 'Rejected' ||
                                        u?.status === 'Supplementary PO'
                                    "
                                    (click)="navigateTo('../form', u, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.approveAction"
                                    href="javascript:void(0)"
                                    [class.disable]="u?.status === 'Approved' || u?.status === 'Rejected'"
                                    (click)="navigateTo('../form', u, 'approve')"
                                >
                                    <i class="fa fa-check fa-lg text-success" aria-hidden="true"></i>
                                    Approve
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.approveAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        u?.status === 'Approved' ||
                                        u?.status === 'Rejected' ||
                                        u?.status === 'Supplementary PO'
                                    "
                                    (click)="navigateTo('../form', u, 'reject')"
                                >
                                    <i class="fa fa-close fa-lg text-primary" aria-hidden="true"></i>
                                    Reject
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.generateReportAction"
                                    href="javascript:void(0)"
                                    [class.disable]="
                                        u?.status === 'Awaiting Approval' ||
                                        u?.status === 'Rejected' ||
                                        u?.status === 'Supplementary PO'
                                    "
                                    (click)="update(u, 'Report Generated')"
                                >
                                    <img src="./assets/images/new.svg" width="14" class="me-3" />

                                    Generate Report
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.createAction"
                                    href="javascript:void(0)"
                                    (click)="navigateToPrint('/#/print/job_work_challan_print', u, 'print', 'previewJWC')"
                                >
                                    <i class="fa fa-print fa-lg me-3 text-primary" aria-hidden="true"></i>
                                    Preview JWC
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
