.img-sign {
    width: auto;
    height: 21.5rem;
}

.border-btm {
    border-bottom: 0.25rem solid black;
}
* {
    font-size: 1.25rem;
    font-weight: 500;
}

@media print {
    button {
        display: none !important;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .table-responsive .table th {
        background: #e6e6e6 !important;
    }
    .img-sign {
        width: auto;
        height: 23.3rem;
    }
    * {
        font-size: 10px !important;
    }
}
