.img-sign {
    width: 29rem;
    height: 18.55rem;
}

@page {
    size: B5;
    margin: 0;
}

@media print {
    button {
        display: none !important;
    }

    * {
        font-size: 1.7rem !important;
        font-weight: 600 !important;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif !important;
        line-height: 1.9rem;
        color: #000000 !important;
    }
    .sub-text {
        font-size: 1.5rem !important;
        font-weight: 600 !important;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif !important;
    }

    .table-responsive .table th {
        background: #e6e6e6 !important;
        font-size: 1.8rem !important;
    }

    .table > :not(caption) > * > * {
        padding: 0 !important;
    }

    .img-pdfHeader {
        height: 21.6rem !important;
        width: 100% !important;
        object-fit: cover !important;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .img-sign {
        width: 23rem;
        height: 20.6rem;
    }

    @page {
        size: Letter !important;
        margin: 0;
    }

    .table-responsive {
        th,
        td {
            padding: 0.6rem !important;
            .page-title {
                font-size: 2.2rem !important;
                font-weight: bolder;
            }
        }
    }
}
