<div class="listCard card">
    <div class="table-header">
        <label class="heading">Direct Tax Invoice Summary</label>
    </div>

    <div class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button class="btn btn-primary btn-add" type="button" (click)="navigateTo('../form', {}, 'create')">
            Direct Tax Invoice
        </button>
    </div>

    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="DTICode" (sort)="onSort($event)">Invoice #</th>
                    <th sortable="salesInvoiceDate" (sort)="onSort($event)">Invoice Date</th>
                    <th sortable="salesInvoiceTotalAmount" (sort)="onSort($event)">Invoice Value</th>
                    <th class="text-start" sortable="customerName" (sort)="onSort($event)">Customer Name</th>
                    <th sortable="DTIStatus" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.DTICode }}</td>
                    <td>{{ u?.salesInvoiceDate }}</td>
                    <td>{{ u?.salesInvoiceTotalAmount }}</td>
                    <td class="text-start" [style.width]="customerName.clientWidth" #customerName>
                        <span class="pointer" [positionTarget]="customerName" [ngbTooltip]="u.customerName">
                            {{ u.customerName }}
                        </span>
                    </td>
                    <td>{{ u?.DTIStatus }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    [class.disable]="u?.DTIStatus === 'Approved' || u?.DTIStatus === 'Rejected'"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.rejectAction"
                                    href="javascript:void(0)"
                                    [class.disable]="u?.DTIStatus === 'Approved' || u?.DTIStatus === 'Rejected'"
                                    (click)="navigateTo('../form', u, 'rejection')"
                                >
                                    <i class="fa fa fa-times fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Reject
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.approveAction"
                                    [class.disable]="u?.DTIStatus === 'Approved' || u?.DTIStatus === 'Rejected'"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'approval')"
                                >
                                    <i class="fa fa-check fa-lg text-success" aria-hidden="true"></i>
                                    Approve
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.generateReportAction"
                                    [class.disable]="
                                        u?.DTIStatus === 'Awaiting Approval' || u?.DTIStatus === 'Rejected'
                                    "
                                    href="javascript:void(0)"
                                    (click)="update(u, 'Report Generated')"
                                >
                                    <img src="./assets/images/new.svg" width="14" class="me-3" />
                                    Generate Report
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.createAction"
                                    href="javascript:void(0)"
                                    (click)="navigateToPrint('/#/print/dti_preview_print', u, 'print', 'previewDTI')"
                                >
                                    <i class="fa fa-print fa-lg me-3 text-primary" aria-hidden="true"></i>
                                    Preview
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
