<div class="listCard card">
    <div class="table-header">
        <label class="heading">Product Summary</label>
    </div>
    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button class="btn btn-primary btn-add px-5" type="button" (click)="navigateTo('../form', null, 'create')">
            Product Master
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="productMasterNo" (sort)="onSort($event)">Product Code</th>
                    <th class="text-start" sortable="productCategory" (sort)="onSort($event)">Product Category</th>
                    <th sortable="shoulderType" (sort)="onSort($event)">Shoulder</th>
                    <th sortable="capDia" (sort)="onSort($event)">Dia. mm</th>
                    <th sortable="capHeight" (sort)="onSort($event)">Height mm</th>
                    <th sortable="capFinish" (sort)="onSort($event)">Finish</th>
                    <th sortable="threadType" (sort)="onSort($event)">Thread</th>
                    <th sortable="orifice" (sort)="onSort($event)">Orifice mm</th>
                    <th sortable="weight" (sort)="onSort($event)">Weight g</th>
                    <th sortable="status" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; let i = index; trackBy: trackByFn">
                    <td>{{ u?.productMasterNo }}</td>
                    <td class="text-start" [style.width]="productCategory.clientWidth" #productCategory>
                        <span class="pointer" [positionTarget]="productCategory" [ngbTooltip]="u.productCategory">
                            {{ u.productCategory ? u.productCategory : null }}
                        </span>
                    </td>
                    <td>{{ u?.shoulderType }}</td>
                    <td>{{ u?.capDia }}</td>
                    <td>{{ u?.capHeight }}</td>
                    <td>{{ u?.capFinish }}</td>
                    <td>{{ u?.threadType }}</td>
                    <td>{{ u?.orifice }}</td>
                    <td>{{ u?.weight }}</td>
                    <td>{{ u?.status }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u?._id, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u?._id, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
