<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label>Application Users</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        User #
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="userCode" readonly />
                    <validation-messages class="error-left" [control]="f['userCode']"> </validation-messages>
                </div>
                <div class="col">
                    <label class="form-label">
                        User Name #
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="name" />
                    <validation-messages class="error-left" [control]="f['name']"> </validation-messages>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        Login Id
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="email" />
                    <validation-messages class="error-left" [control]="f['email']"> </validation-messages>
                </div>
                <div class="col">
                    <label class="form-label">
                        Password
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="password" autocomplete="off" />
                    <validation-messages class="error-left" [control]="f['password']"> </validation-messages>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">
                        User Email
                        <span class="text-danger">*</span>
                    </label>

                    <input type="text" class="form-control" formControlName="userEmail" />
                    <validation-messages class="error-left" [control]="f['userEmail']"> </validation-messages>
                </div>
                <div class="col-md-6">
                    <label class="form-label">
                        User Type
                        <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" formControlName="userType">
                        <option [value]="'Internal'">Internal</option>
                        <option [value]="'External'">External</option>
                        <option [value]="'IDMS Support'" *ngIf="user == superAdminId">IDMS Support</option>
                    </select>
                    <validation-messages class="error-left" [control]="f['userType']"> </validation-messages>
                </div>
            </div>
            <div class="row">
                <div *ngIf="user == superAdminId || adminUser == adminId" class="col-md-6">
                    <label class="form-label">
                        Role
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="masterData.rolesOptions"
                        bindLabel="label"
                        bindValue="value"
                        [multiple]="true"
                        formControlName="role"
                        [clearable]="false"
                    >
                    </ng-select>
                    <validation-messages class="error-left" [control]="f['role']"> </validation-messages>
                </div>
                <div *ngIf="status == 'Approved' || isActive == true" class="col-md-6 mb-4">
                    <label class="form-label">
                        Status
                        <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" formControlName="isActive">
                        <option [value]="'true'">Active</option>
                        <option [value]="'false'">Inactive</option>
                    </select>
                    <validation-messages class="error-left" [control]="f['isActive']"> </validation-messages>
                </div>

                <div class="col-md-6">
                    <label class="form-label">
                        Department
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="masterData.departmentOptions"
                        bindLabel="departmentName"
                        bindValue="_id"
                        (change)="setDepartment($event)"
                        formControlName="department"
                        [clearable]="false"
                    >
                    </ng-select>
                </div>
            </div>
        </div>
        <div
            *ngIf="action !== 'view'"
            class="d-grid gap-2 d-md-flex justify-content-md-center mb-3"
            [ngClass]="{'d-none': action == 'View'}"
        >
            <button class="btn bg-primary mt-2 px-5 me-2" type="button" (click)="reset()">Reset</button>
            <button class="btn bg-primary mt-2 px-5" type="button" (click)="submit()">Save</button>
        </div>
    </div>
</form>
