.form-control-smm {
    margin: 0px !important;
    height: 2.9rem !important;
    width: 25rem !important;
    text-align: center !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px !important;
}
.sub-menu-card {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: #e3f7ff !important;
    table {
        margin: 0;
    }
    td {
        padding: 0.1rem !important;
        max-width: 28rem;
        word-wrap: break-word;
        border: 0.55px solid rgb(181, 180, 180);
    }
}
