<form [formGroup]="form">
    <div class="modelPage">
        <div class="modal-header">
            <div class="heading">Review WO Terms</div>
            <div>
                <button
                    type="button"
                    class="btn btn-cross btn-sm"
                    aria-label="Close"
                    (click)="this.activeModal.close(null)"
                >
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-10 px-5 mt-5">
                        <div class="row">
                            <div class="col-3 mt-1 pe-0">
                                <label class="form-label">Payment Terms <span class="text-danger">*</span> </label>
                            </div>
                            <div class="col-auto mt-1 px-0">
                                <i class="fa fa-caret-right text-secondary"></i>
                            </div>
                            <div class="col-7 ps-0">
                                <select class="form-select fs-5" type="text" formControlName="paymentTerms">
                                    <option [value]="null" selected disabled>Select Payment Terms</option>
                                    <option [value]="item.value" *ngFor="let item of WOTermsArr.paymentTermsArr">
                                        {{ item.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-3 mt-1 pe-0">
                                <label class="form-label"> Freight Terms <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-auto mt-1 px-0">
                                <i class="fa fa-caret-right text-secondary"></i>
                            </div>
                            <div class="col-7 ps-0">
                                <select class="form-select fs-5" type="text" formControlName="freightTerms">
                                    <option [value]="null" selected disabled>Select Freight Terms</option>
                                    <option [value]="ele.parameterName" *ngFor="let ele of WOTermsArr.freightTerms">
                                        {{ ele.parameterLabel }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-3 mt-1 pe-0">
                                <label class="form-label text-nowrap"
                                    >WO Remarks <span class="text-danger">*</span></label
                                >
                            </div>
                            <div class="col-auto mt-1 px-0">
                                <i class="fa fa-caret-right text-secondary"></i>
                            </div>
                            <div class="col-7 ps-0">
                                <input type="text" class="form-control" formControlName="WORemarks" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-0 mt-4">
                        <hr *ngIf="['create', 'edit'].includes(action)" class="line-border" />
                    </div>
                </div>
                <div class="text-center my-2">
                    <button
                        *ngIf="['create', 'edit'].includes(action)"
                        class="btn bg-primary px-5 mb-3"
                        type="button"
                        (click)="dismissModel()"
                    >
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</form>
