.assetCalendarTD {
  background-color: transparent;
  background-image: url("./../../../../../../../assets/new_icons/Asset_Calendar.svg");
  background-size: 100% 100%;
  border: 0;
  color: white;
  height: 1.6rem;
  width: 1.6rem;
}
.setSOType {
  cursor: pointer;
  opacity: 0.5;
}
