<Form class="px-2" [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label>{{ this.dispatchName }}</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row mb-2">
                <div class="col-3">
                    <label class="form-label mb-0"> Invoice # <span class="text-danger"></span> </label>
                    <input class="form-control" type="text" formControlName="DTINumber" readonly />
                </div>

                <div class="col-3">
                    <label class="form-label mb-0"> Invoice Date <span class="text-danger"></span> </label>
                    <input class="form-control" type="date" formControlName="salesInvoiceDate" readonly />
                </div>

                <div class="col-3">
                    <label class="form-label mb-0"> Customer Category <span class="text-danger">*</span> </label>
                    <select class="form-select" formControlName="salesCategory" (change)="getCustomers()">
                        <option [value]="null" selected disabled>Select Category</option>
                        <option [value]="ele.value" *ngFor="let ele of masterData?.salesCategoryOptions">
                            {{ ele.label }}
                        </option>
                    </select>
                </div>

                <div class="col-3 pe-5">
                    <label class="form-label mb-0"> Customer Name <span class="text-danger">*</span> </label>

                    <div class="d-flex align-items-center">
                        <div class="col-11">
                            <ng-select
                                [items]="customerOptions"
                                bindLabel="customerName"
                                bindValue="_id"
                                [clearable]="false"
                                formControlName="customer"
                                (change)="customerValueChange($event)"
                            >
                            </ng-select>
                        </div>
                        <div
                            style="height: 2.9rem"
                            class="input-group-text bg-primary pointer col-auto fs-4"
                            id="basic-addon1"
                            (click)="openCustomersDetailsModal()"
                        >
                            <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="row line-border" />

        <div class="">
            <app-setting-header
                [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
                (dataChange)="eventHeader($event)"
            >
            </app-setting-header>
        </div>

        <div class="table-responsive mt-0 text-wrap" style="min-height: 19.2rem">
            <table class="table table-bordered mt-0 table-sticky">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th sortable="SONumber" (sort)="onSort($event)">SO No.</th>
                        <th sortable="SODate" (sort)="onSort($event)">SO Date</th>
                        <th sortable="SKUNo" (sort)="onSort($event)">SKU No.</th>
                        <th class="text-start" sortable="SKUName" (sort)="onSort($event)">
                            {{ "SKU Name" | labelTranslate }}
                        </th>
                        <th class="text-start" sortable="SKUDescription" (sort)="onSort($event)">
                            {{ "SKU Description" | labelTranslate }}
                        </th>
                        <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                        <th sortable="SOBalancedQty" (sort)="onSort($event)">SO Bal. Qty.</th>
                        <th sortable="dispatchQty" (sort)="onSort($event)">Disp. Qty.</th>
                        <th sortable="currency" (sort)="onSort($event)">Ccy</th>
                        <th sortable="purchaseRate" (sort)="onSort($event)">Rate/Unit</th>
                        <th sortable="discount" (sort)="onSort($event)">Disc %</th>
                        <th sortable="netRate" (sort)="onSort($event)">Net Rate</th>
                        <th sortable="lineValue" (sort)="onSort($event)">Line Value</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="
                            let d of DTIDetailsArray
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            trackBy: trackByFn
                        "
                    >
                        <td>{{ d?.SONumber }}</td>
                        <td>{{ d?.SODate | date : "dd-MM-YYYY" }}</td>
                        <td>{{ d?.SKUNo }}</td>
                        <td class="text-start" [style.width]="SKUName.clientWidth" #SKUName>
                            <span class="pointer" [positionTarget]="SKUName" [ngbTooltip]="d.SKUName">
                                {{ d?.SKUName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="SKUDescription.clientWidth" #SKUDescription>
                            <span class="pointer" [positionTarget]="SKUDescription" [ngbTooltip]="d.SKUDescription">
                                {{ d?.SKUDescription }}
                            </span>
                        </td>
                        <td>{{ d?.UOM | SalesUOMUnitMaster }}</td>
                        <td>{{ d?.SOBalancedQty | number : "1.2-2" }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approval', 'rejection', 'view', 'generate', 'cancel'].includes(action)">
                                    {{ d?.dispatchQty | number : "1.2-2" }}
                                </span>
                                <input
                                    type="number"
                                    class="form-control form-control-sm w-25"
                                    *ngIf="!['approval', 'rejection', 'view', 'generate', 'cancel'].includes(action)"
                                    [(ngModel)]="d.dispatchQty"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="checkDispatchQty(d)"
                                />
                            </div>
                        </td>
                        <td>{{ d?.currency }}</td>
                        <td>{{ d?.purchaseRate | number : "1.2-2" }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approval', 'rejection', 'view', 'generate', 'cancel'].includes(action)">
                                    {{ d?.discount | number : ".2-2" }}
                                </span>
                                <input
                                    type="number"
                                    class="form-control form-control-xs w-25"
                                    *ngIf="!['approval', 'rejection', 'view', 'generate', 'cancel'].includes(action)"
                                    [(ngModel)]="d.discount"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="setNetRate(d.DTILineNumber, d)"
                                />
                            </div>
                        </td>
                        <td>{{ d?.netRate | number : "1.2-2" }}</td>
                        <td>{{ d?.lineValue | number : "1.2-2" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-container
            *ngIf="
                action == 'approval' ||
                action == 'rejection' ||
                action == 'generate' ||
                action == 'create' ||
                action == 'edit' ||
                action == 'view'
            "
        >
            <div class="col-md-12 d-flex">
                <div class="d-flex justify-content-center">
                    <div class="col-form-label text-nowrap pe-1 pt-0">
                        Product Value:
                        <button type="button" class="btn btn-info py-1 ms-2">
                            {{ "INR" | companyCurrency }}
                        </button>
                    </div>
                    <input class="form-control" type="number" formControlName="DTITotalAmount" readonly />
                </div>
                <div class="d-flex justify-content-center">
                    <div class="mx-2 align-self-center mb-2">
                        <i class="fa fa-plus fa-lg text-info" aria-hidden="true"></i>
                    </div>
                    <div class="text-nowrap">
                        <button
                            type="button "
                            class="btn btn-sm btn-primary me-2 d-flex align-items-center mb-2"
                            (click)="openOtherChargesModal()"
                        >
                            <span>Add other charges</span>
                        </button>
                    </div>

                    <div class="d-flex inputGroup">
                        <input
                            type="text"
                            class="form-control mt-0 w-25"
                            readOnly
                            [(ngModel)]="otherCharges.totalAmount"
                            [ngModelOptions]="{standalone: true}"
                        />
                    </div>
                </div>
                <div class="d-flex inputGroup"></div>
                <div class="mx-2 align-text-top">
                    <div class="fs-3 fw-bolder text-info me-2" aria-hidden="true">=</div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-form-label text-nowrap pe-1 pt-0">
                        Direct Tax Invoice Value:
                        <button type="button" class="btn btn-info py-1 ms-2">
                            {{ "INR" | companyCurrency }}
                        </button>
                    </div>
                    <input class="form-control" type="number" formControlName="DTIValue" readonly />
                </div>
            </div>

            <hr class="row line-border" />

            <div class="row d-flex justify-content-center align-items-center mb-2">
                <div class="col-md-auto" *ngIf="['create'].includes(action)">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary px-5 me-4" (click)="reset()">Reset</button>
                        <button class="btn btn-primary px-4 me-4" (click)="preview()">Preview</button>
                        <button class="btn btn-primary px-5" type="button" (click)="submit()" [disabled]="!isPreview">
                            Save
                        </button>
                    </div>
                </div>

                <div *ngIf="action == 'approval'" class="d-flex justify-content-center">
                    <button class="btn btn-primary px-5" type="button" (click)="submit()">Approve</button>
                </div>
                <div *ngIf="action == 'edit'" class="d-flex justify-content-center">
                    <button class="btn btn-primary px-5" type="button" (click)="submit()">Save</button>
                </div>
            </div>
            <div class="row d-flex">
                <div *ngIf="action == 'rejection'" class="d-flex justify-content-start">
                    <div class="d-flex inputGroup ms-0 col-4">
                        <span class="input-group-text text-white bg-primary"> Remark</span>
                        <input class="form-control" type="text" formControlName="remarks" />
                    </div>
                    <div class="col-8 text-end">
                        <button class="btn btn-primary px-5" type="button" (click)="submit()">Reject</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</Form>
