<Form class="px-2" [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label class="">Gr. Child Part Production ({{ action | titlecase }})</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label mb-2"> Process Name <span class="text-danger">*</span></label>
                            <ng-select
                                [items]="masterData.mapProcessMachineListOptions"
                                bindLabel="processName"
                                bindValue="processName"
                                [clearable]="false"
                                formControlName="processName"
                                (change)="setMachineNames($event)"
                            >
                            </ng-select>
                        </div>
                        <div class="col-6">
                            <label class="form-label mb-2"> Machine Name <span class="text-danger">*</span></label>
                            <ng-select
                                [items]="machineName"
                                bindLabel="machineName"
                                bindValue="machineName"
                                [clearable]="false"
                                formControlName="machineName"
                                (change)="setMachineId($event)"
                            >
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-4">
                            <label class="form-label mb-2">Production Date <span class="text-danger">*</span></label>
                            <input type="date" class="form-control" formControlName="productionDate" />
                        </div>
                        <div class="col-4">
                            <label class="form-label mb-2">Production Shift <span class="text-danger">*</span></label>
                            <select class="form-select" formControlName="productionShift">
                                <option selected disabled value="null">Select Production Shift</option>
                                <option
                                    *ngFor="let item of masterData?.productionShiftOptions"
                                    [value]="item.parameterName"
                                >
                                    {{ item.parameterLabel }}
                                </option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label class="form-label mb-2"> Operating Staff</label>
                            <input type="text" class="form-control" formControlName="operatingStaff" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="row line-border" />
        <app-setting-header
            [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
            (dataChange)="eventHeader($event)"
        >
        </app-setting-header>
        <div class="table-responsive" style="min-height: 20rem">
            <table class="table table-bordered table-sticky mt-1">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th sortable="itemCode" (sort)="onSort($event)">Item Code</th>
                        <th class="text-start" sortable="itemName" (sort)="onSort($event)">Item Name</th>
                        <th class="text-start" sortable="itemDescription" (sort)="onSort($event)">Item Description</th>
                        <th sortable="conversionOfUnits" (sort)="onSort($event)">Order Ref.</th>
                        <th sortable="jobCard" (sort)="onSort($event)">Job Card #</th>
                        <th sortable="batchNumber" (sort)="onSort($event)">Batch No.</th>
                        <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                        <th sortable="batchQty" (sort)="onSort($event)">Batch Qty</th>
                        <th sortable="outputQty" (sort)="onSort($event)">O/P Qty</th>
                        <th sortable="rejectedQty" (sort)="onSort($event)">Rej. Qty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let g of masterData.GrChildItemListOptions
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            trackBy: trackByFn;
                            let i = index
                        "
                    >
                        <td>{{ g.itemCode }}</td>
                        <td class="text-start" [style.width]="itemName.clientWidth" #itemName>
                            <span class="pointer" [positionTarget]="itemName" [ngbTooltip]="g.itemName">
                                {{ g?.itemName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                            <span class="pointer" [positionTarget]="itemDescription" [ngbTooltip]="g.itemDescription">
                                {{ g?.itemDescription }}
                            </span>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['view', 'approve', 'cancel'].includes(action)">{{ g.orderRef }}</span>
                                <input
                                    *ngIf="!['view', 'approve', 'cancel'].includes(action)"
                                    class="form-control form-control-sm"
                                    type="text"
                                    [(ngModel)]="g.orderRef"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['view', 'approve', 'cancel'].includes(action)">{{ g.jobCard }}</span>
                                <input
                                    *ngIf="!['view', 'approve', 'cancel'].includes(action)"
                                    class="form-control form-control-sm"
                                    type="text"
                                    [(ngModel)]="g.jobCard"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['view', 'approve', 'cancel'].includes(action)">{{ g.batchNumber }}</span>
                                <input
                                    *ngIf="!['view', 'approve', 'cancel'].includes(action)"
                                    class="form-control form-control-sm"
                                    type="text"
                                    [(ngModel)]="g.batchNumber"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                        <td>{{ g.UOM | UOMUnitsMaster }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['view', 'approve', 'cancel'].includes(action)">{{ g.batchQty }}</span>
                                <input
                                    *ngIf="!['view', 'approve', 'cancel'].includes(action)"
                                    class="form-control form-control-sm"
                                    type="number"
                                    [(ngModel)]="g.batchQty"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['view', 'approve', 'cancel'].includes(action)">{{ g.outputQty }}</span>
                                <input
                                    (input)="changeOutPutQty(g, i)"
                                    *ngIf="!['view', 'approve', 'cancel'].includes(action)"
                                    class="form-control form-control-sm"
                                    type="number"
                                    [(ngModel)]="g.outputQty"
                                    (ngModelChange)="setOutPutQty($event, g)"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['view', 'approve', 'cancel'].includes(action)">{{ g.rejectedQty }}</span>
                                <input
                                    (input)="changeRejQty(g, i)"
                                    *ngIf="!['view', 'approve', 'cancel'].includes(action)"
                                    class="form-control form-control-sm"
                                    type="number"
                                    [(ngModel)]="g.rejectedQty"
                                    (ngModelChange)="setRejQty($event, g)"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="row line-border" />
        <div class="row mb-0">
            <div class="col">
                <div class="row">
                    <div
                        *ngIf="action != 'edit'"
                        [ngClass]="action === 'create' ? 'col-8' : 'col' || action === 'view' ? 'col-6' : 'col'"
                    >
                        <div class="d-flex align-items-center">
                            <div class="col-md-auto text-nowrap">
                                <button type="button" class="btn btn-primary px-3">Remarks</button>
                            </div>

                            <input class="form-control" type="text" formControlName="remarks" />
                        </div>
                    </div>
                    <div *ngIf="action == 'edit'" [ngClass]="action === 'edit' ? 'col-8' : 'col'">
                        <div class="d-flex align-items-center">
                            <div class="col-md-auto text-nowrap">
                                <button type="button" class="btn btn-primary px-3">Remarks</button>
                            </div>

                            <input class="form-control" type="text" formControlName="remarks" />
                        </div>
                    </div>
                    <div class="col pe-5" *ngIf="action == 'cancel'">
                        <div class="d-flex align-items-center text-nowrap">
                            <button type="button" class="btn btn-primary px-3">Cancel Remarks</button>
                            <input class="form-control" type="text" formControlName="cancelRemarks" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-auto ms-auto">
                <div *ngIf="['create'].includes(action)" class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary px-5 me-3" (click)="reset()">Reset</button>
                    <button
                        type="button"
                        class="btn btn-primary px-4 me-1"
                        [disabled]="!isESCPreview"
                        (click)="ESCPreview()"
                    >
                        Esc
                    </button>
                    <button type="button" class="btn btn-primary px-4 me-3" (click)="preview()">Preview</button>
                    <button class="btn btn-primary px-5" type="button" [disabled]="!isPreview" (click)="submit()">
                        Save
                    </button>
                </div>
                <div *ngIf="action == 'edit'" class="text-end">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Save</button>
                </div>

                <div *ngIf="action == 'cancel'" class="text-end">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Cancel</button>
                </div>

                <div *ngIf="action == 'approve'" class="col-5 text-end">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Approve</button>
                </div>
                <div *ngIf="['view'].includes(action)">
                    <button
                        class="btn btn-primary px-5"
                        type="button"
                        (click)="
                            navigateTo(
                                '/default/production/transactions/child_part_production/gr_child_part/list',
                                {},
                                ''
                            )
                        "
                    >
                        Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</Form>
