<form [formGroup]="form">
  <div class="row justify-content-center form-page">
    <div class="col-md-11 card-form pb-4">
      <div class="row form-header">
        <div class="col heading">
          <label>Payment Terms ({{ action | titlecase }}) </label>
        </div>
      </div>
      <div class="form-body px-4">
        <div class="row">
          <div class="col-3">
            <label class="form-label"
              >Payment Terms Code <span class="text-danger">*</span></label
            >
            <input
              class="form-control"
              type="text"
              formControlName="paymentTermCode"
              readonly
            />
          </div>
          <div class="col-3">
            <label class="form-label"
              >Order <span class="text-danger">*</span></label
            >
            <input class="form-control" type="number" formControlName="order" />
          </div>
          <div class="col-3">
            <label class="form-label"
              >Payment Terms Description
              <span class="text-danger">*</span></label
            >
            <input
              class="form-control"
              type="text"
              formControlName="paymentDescription"
            />
          </div>
          <div class="col-3">
            <label class="form-label">
              Status
              <span class="text-danger">*</span>
            </label>
            <div class="d-flex inputGroup skuForm">
              <select
                class="form-select statusSelectBorder"
                formControlName="status"
              >
                <option [value]="null" selected disabled>Select Status</option>
                <option [value]="'Active'">Active</option>
                <option [value]="'Inactive'">Inactive</option>
              </select>
              <div class="input-group-text bg-white">
                <div class="col-md-auto my-4 align-self-center">
                  <div
                    *ngIf="form.value['status'] == 'Active'"
                    class="statusActive"
                  ></div>
                  <div
                    *ngIf="form.value['status'] == 'Inactive'"
                    class="statusInActive"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-4">
          <div class="col">
            <hr *ngIf="action !== 'view'" class="line-border" />
          </div>
        </div>
        <div
          *ngIf="action !== 'view'"
          class="d-flex justify-content-center mb-3"
        >
          <div
            class="d-grid col-md-1 mx-5"
            [ngClass]="{ 'd-none': action == 'View' }"
          >
            <button type="button" class="btn btn-primary" (click)="reset()">
              Reset
            </button>
          </div>
          <div
            class="d-grid col-md-1"
            [ngClass]="{ 'd-none': action == 'View' }"
          >
            <button type="button" class="btn btn-primary" (click)="submit()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
