<Form class="px-2" [formGroup]="form" class="formCard card">
    <div class="container">
        <div class="row form-header">
            <div class="col heading">
                <label class="">{{ this.action | titlecase }} Proforma Invoice [PI]</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row mb-2">
                <div class="col-md-3 mt-0">
                    <div class="row">
                        <div class="col-6 pe-2 mt-0">
                            <label class="form-label mb-0"> Pro. Inv. No. <span class="text-danger"></span> </label>
                            <input class="form-control" type="text" formControlName="PINumber" readonly />
                        </div>
                        <div class="col-6 ps-0 mt-0">
                            <label class="form-label mb-0"> Pro. Inv. Date <span class="text-danger"></span> </label>
                            <input class="form-control" type="date" formControlName="PIDate" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label class="form-label mb-0"> Bill From Location <span class="text-danger">*</span> </label>
                    <select
                        class="form-select"
                        formControlName="billFromLocation"
                        (change)="setBillFromAddress($event)"
                    >
                        <option [value]="null" selected disabled>Select</option>
                        <option [value]="ele.value" *ngFor="let ele of masterData?.billFromLocationOptions">
                            {{ ele.label }}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="form-label mb-0"> Customer Category <span class="text-danger">*</span> </label>
                    <select class="form-select" formControlName="salesCategory" (change)="getCustomers()">
                        <option [value]="null" selected disabled>Select</option>
                        <option [value]="ele.value" *ngFor="let ele of masterData?.salesCategoryOptions">
                            {{ ele.label }}
                        </option>
                    </select>
                </div>

                <div class="col-3 pe-5">
                    <label class="form-label mb-0"> Customer Name <span class="text-danger">*</span> </label>
                    <div class="d-flex align-items-center">
                        <div class="col-11">
                            <ng-select
                                [items]="customerOptions"
                                bindLabel="customerName"
                                bindValue="_id"
                                [clearable]="false"
                                formControlName="customer"
                                (change)="customerValueChange($event)"
                            >
                            </ng-select>
                        </div>
                        <div
                            style="height: 2.9rem"
                            class="input-group-text bg-primary pointer col-auto fs-4"
                            id="basic-addon1"
                            (click)="openCustomersDetailsModal()"
                        >
                            <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="form-label mb-0"> Quotation/Order Reference <span class="text-danger"></span> </label>
                    <select class="form-select" formControlName="quotationProformaRef" (change)="getCustomers()">
                        <option [value]="null" selected disabled>Select Quotation</option>
                    </select>
                </div>

                <div class="col">
                    <label class="form-label mb-0"> PO No.<span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" formControlName="PONumber" />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> PO Date <span class="text-danger"></span> </label>
                    <input class="form-control" type="date" formControlName="PODate" />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> Currency </label>
                    <input type="text" class="form-control" formControlName="currency" readonly />
                </div>
            </div>

            <div class="">
                <app-setting-header
                    [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
                    (dataChange)="eventHeader($event)"
                >
                </app-setting-header>
            </div>
        </div>

        <div class="table-responsive mt-0 text-wrap" style="min-height: 22rem">
            <table class="table table-bordered mt-0 table-sticky">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th sortable="SKUNo" (sort)="onSort($event)">SKU No.</th>
                        <th class="text-start" sortable="SKUName" (sort)="onSort($event)">
                            {{ "SKU Name" | labelTranslate }}
                        </th>
                        <th class="text-start" sortable="SKUDescription" (sort)="onSort($event)">
                            {{ "SKU Description" | labelTranslate }}
                        </th>
                        <th sortable="customerPartNo" (sort)="onSort($event)">Part No.</th>
                        <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                        <th sortable="orderedQty" (sort)="onSort($event)">Qty</th>
                        <th sortable="standardRate" (sort)="onSort($event)">Rate/Unit</th>
                        <th sortable="discount" (sort)="onSort($event)">Disc %</th>
                        <th sortable="netRate" (sort)="onSort($event)">Net Rate</th>
                        <th sortable="lineValue" (sort)="onSort($event)">Line Value</th>
                        <th sortable="SOLineTargetDate" (sort)="onSort($event)">Disp. Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="
                            let u of PIDetailsArray
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            trackBy: trackByFn
                        "
                    >
                        <td>{{ u?.SKUNo }}</td>
                        <td class="text-start" [style.width]="SKUName.clientWidth" #SKUName>
                            <span class="pointer" [positionTarget]="SKUName" [ngbTooltip]="u.SKUName">
                                {{ u?.SKUName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="SKUDescription.clientWidth" #SKUDescription>
                            <span class="pointer" [positionTarget]="SKUDescription" [ngbTooltip]="u.SKUDescription">
                                {{ u?.SKUDescription }}
                            </span>
                        </td>
                        <td>{{ u?.customerPartNo }}</td>

                        <td>{{ u?.UOM | SalesUOMUnitMaster }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approve', 'reject', 'view', 'reject'].includes(action)">
                                    {{ u?.orderedQty | number : "1.2-2" }}
                                </span>
                                <input
                                    type="number"
                                    class="form-control form-control-sm w-25"
                                    *ngIf="!['approve', 'reject', 'view', 'reject'].includes(action)"
                                    [(ngModel)]="u.orderedQty"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="setLineValue(u.PILineNumber, u)"
                                />
                            </div>
                        </td>

                        <td>{{ u?.standardRate | number : "1.2-2" }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approve', 'reject', 'view', 'reject'].includes(action)">
                                    {{ u?.discount | number : "1.2-2" }}
                                </span>
                                <input
                                    type="number"
                                    class="form-control form-control-xs w-25"
                                    *ngIf="!['approve', 'reject', 'view', 'reject'].includes(action)"
                                    [(ngModel)]="u.discount"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="setNetRate(u.PILineNumber, u)"
                                />
                            </div>
                        </td>
                        <td>{{ u?.netRate | number : "1.2-2" }}</td>
                        <td>{{ u?.lineValue | number : "1.2-2" }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approve', 'reject', 'view', 'reject'].includes(action)">
                                    {{ u.SOLineTargetDate }}
                                </span>
                                <input
                                    *ngIf="!['approve', 'reject', 'view', 'reject'].includes(action)"
                                    class="form-control form-control-sm w-25"
                                    type="date"
                                    [(ngModel)]="u.SOLineTargetDate"
                                    [ngModelOptions]="{standalone: true}"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row mb-3 align-items-center mt-3">
            <div class="col-md-auto pe-0">
                <div class="d-flex">
                    <div class="col-form-label text-nowrap me-2">
                        <button class="btn btn-primary px-5" type="button" (click)="openDispatchDetailsModal()">
                            Add Dispatch Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-1">
                <div class="d-flex justify-content-center">
                    <div class="col-form-label text-nowrap pe-2 pt-0">PI Validity Date:</div>
                    <input
                        class="form-control"
                        type="date"
                        formControlName="PIValidityDate"
                        [readonly]="['view', 'approve', 'reject'].includes(this.action)"
                    />
                </div>
            </div>
            <div class="col-3 mt-1 px-3">
                <div class="d-flex justify-content-center">
                    <div class="col-form-label text-nowrap pe-2 pt-0">
                        Net PI Amount:
                        <button type="button" class="btn btn-info py-1 ms-2">
                            {{ "INR" | companyCurrency }}
                        </button>
                    </div>
                    <input class="form-control" type="number" formControlName="PITotalAmount" readonly />
                </div>
            </div>

            <div class="col-md-auto ms-auto ps-0">
                <div *ngIf="['create'].includes(action)" class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary px-4 me-3" type="button" (click)="reset()">Reset</button>
                    <button
                        type="button"
                        class="btn btn-primary me-1"
                        [disabled]="!isESCPreview"
                        (click)="ESCPreview()"
                    >
                        Esc
                    </button>
                    <button class="btn btn-primary px-3 me-3" type="button" (click)="preview()">Preview</button>
                    <button type="button" class="btn btn-primary px-4" [disabled]="!isPreview" (click)="submit()">
                        Save
                    </button>
                </div>
                <div *ngIf="['edit'].includes(action)" class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Save</button>
                </div>
                <div *ngIf="action == 'reject'" class="content-end">
                    <button class="btn btn-primary px-5" type="button" (click)="submit()">Reject</button>
                </div>
                <div *ngIf="action == 'approve'" class="content-end">
                    <button class="btn btn-primary px-5" type="button" (click)="submit()">Approve</button>
                </div>
            </div>
        </div>
    </div>
</Form>
