.table-responsive {
    * {
        font-size: 1.25rem;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif !important;
        color: #000000 !important;
    }
    overflow-x: inherit;
    font-size: 1.4rem;
    .paddingLR-lg {
        padding: 3rem 6rem;
    }
    .paddingLR-sm {
        padding: 1rem 6rem;
    }
    .border-bottom {
        border-bottom: 2px solid #007daf !important;
    }
    .srNo {
        background-color: #007daf !important;
        font-weight: 400 !important;
        color: white !important;
    }
    .costHead {
        background-color: #007daf !important;
        font-weight: 400 !important;
        color: white !important;
    }
    .costUnit {
        background-color: #007daf !important;
        font-weight: 400 !important;
        color: white !important;
        width: 14rem !important;
    }
    .percentage {
        background-color: #007daf !important;
        font-weight: 400 !important;
        color: white !important;
        width: 10rem !important;
    }

    td {
        color: #7d7d7d;
        height: 28px;
    }
}
@media print {
    button {
        display: none !important;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    * {
        font-size: 1.7rem !important;
        font-weight: 600 !important;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif !important;
        line-height: 1.9rem;
        color: #000000 !important;
    }

    .table-responsive {
        * {
            font-size: 1.25rem;
            font-weight: 600;
            font-family: Arial, Helvetica, sans-serif !important;
            color: #000000 !important;
        }
        overflow-x: inherit;
        font-size: 1.4rem;
        .paddingLR-lg {
            padding: 3rem 6rem;
        }
        .paddingLR-sm {
            padding: 1rem 6rem;
        }
        .border-bottom {
            border-bottom: 2px solid #007daf !important;
        }
        .srNo {
            background-color: #007daf !important;
            font-weight: 400 !important;
            color: white !important;
        }
        .costHead {
            background-color: #007daf !important;
            font-weight: 400 !important;
            color: white !important;
        }
        .costUnit {
            background-color: #007daf !important;
            font-weight: 400 !important;
            color: white !important;
            width: 14rem !important;
        }
        .percentage {
            background-color: #007daf !important;
            font-weight: 400 !important;
            color: white !important;
            width: 10rem !important;
        }

        td {
            color: #7d7d7d;
            height: 28px;
        }
    }

    @page {
        size: Letter !important;
        margin: 0;
    }
}
