.paymentTerm {
    background-color: #f2f2f2;
}

@page {
    size: B5;
    margin: 0;
}

@media print {
    button {
        display: none !important;
    }

    .img-pdfHeader {
        height: 21.6rem !important;
        width: 100% !important;
        object-fit: cover !important;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    .table-responsive .table th {
        background: #e6e6e6 !important;
    }
}
