<div class="listCard card">
    <div class="table-header">
        <label class="heading">Gr. Child Item (Summary)</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button class="btn btn-primary btn-add px-4" type="button" (click)="navigateTo('../form', null, 'create')">
            Gr. Child Item
        </button>
    </div>

    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="itemCode" (sort)="onSort($event)">Item Code</th>
                    <th class="text-start" sortable="itemName" (sort)="onSort($event)">Item Name</th>
                    <th class="text-start" sortable="itemDescription" (sort)="onSort($event)">Item Description</th>
                    <th sortable="unitOfMeasurement" (sort)="onSort($event)">UoM</th>
                    <th sortable="HSNCode" (sort)="onSort($event)">HSN Code</th>
                    <th sortable="shelfLife" (sort)="onSort($event)">Shelf Life (M)</th>
                    <th sortable="sourceOfManufacturing" (sort)="onSort($event)">Source of mfg.</th>
                    <th sortable="status" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let i of tableData; trackBy: trackByFn">
                    <td>{{ i?.itemCode }}</td>
                    <td class="text-start" [style.width]="SKUName.clientWidth" #SKUName>
                        <span class="pointer" [positionTarget]="SKUName" [ngbTooltip]="i.itemName">
                            {{ i.itemName ? i.itemName : null }}
                        </span>
                    </td>
                    <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                        <span class="pointer" [positionTarget]="itemDescription" [ngbTooltip]="i.itemDescription">
                            {{ i.itemDescription ? i.itemDescription : null }}
                        </span>
                    </td>
                    <td>{{ i?.unitOfMeasurement | UOMUnitsMaster }}</td>
                    <td>{{ i?.HSNCode }}</td>
                    <td>{{ i?.shelfLife }}</td>
                    <td>{{ i?.sourceOfManufacturing }}</td>
                    <td>
                        <span class="d-flex justify-content-center">
                            <div *ngIf="i.status == 'Active'" class="statusActive"></div>
                            <div *ngIf="i.status == 'Inactive'" class="statusInActive"></div>
                        </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', i?._id, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', i?._id, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                *ngIf="this.user == superAdminId"
                                href="javascript:void(0)"
                                (click)="openConfirmModal(i?._id, i?.itemCode)"
                            >
                                <i class="fa fa-trash text-primary" aria-hidden="true"></i>
                                Delete
                            </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
