<div class="modelPage">
    <div class="pt-4 pb-2">
        <div class="mb-4 row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="col-form-label text-nowrap pe-1 pt-0">Total Shipment Value</div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-caret-right text-secondary pt-1"></i>
                    </div>
                    <div class="col-7">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info py-1 ms-2 me-1">{{ "INR" | companyCurrency }}</button>
                            <input
                                class="form-control"
                                type="number"
                                [(ngModel)]="otherCharges.totalProductValue"
                                (input)="updateTotalAmount()"
                                readonly
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="col-form-label text-nowrap pe-1 pt-0">+ &nbsp; Packing & Forwarding</div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-caret-right text-secondary pt-1"></i>
                    </div>
                    <div class="col-7">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info py-1 ms-2 me-1">{{ "INR" | companyCurrency }}</button>

                            <input
                                class="form-control"
                                type="number"
                                [(ngModel)]="otherCharges.packagingAndForwarding"
                                (input)="updateTotalAmount()"
                                [readonly]="!['create', 'edit', 'amend'].includes(action)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="col-form-label text-nowrap pe-1 pt-0">+ &nbsp; Freight Charges</div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-caret-right text-secondary pt-1"></i>
                    </div>
                    <div class="col-7">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info py-1 ms-2 me-1">{{ "INR" | companyCurrency }}</button>
                            <input
                                class="form-control"
                                type="number"
                                [(ngModel)]="otherCharges.freight"
                                (input)="updateTotalAmount()"
                                [readonly]="!['create', 'edit', 'amend'].includes(action)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="col-form-label text-nowrap pe-1 pt-0">+ &nbsp; Insurance</div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-caret-right text-secondary pt-1"></i>
                    </div>
                    <div class="col-7">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info py-1 ms-2 me-1">{{ "INR" | companyCurrency }}</button>
                            <input
                                class="form-control"
                                type="number"
                                [(ngModel)]="otherCharges.insurance"
                                (input)="updateTotalAmount()"
                                [readonly]="!['create', 'edit', 'amend'].includes(action)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="col-form-label text-nowrap pe-1 pt-0">+ &nbsp; Loading & Unloading</div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-caret-right text-secondary pt-1"></i>
                    </div>
                    <div class="col-7">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info py-1 ms-2 me-1">{{ "INR" | companyCurrency }}</button>
                            <input
                                class="form-control"
                                type="number"
                                [(ngModel)]="otherCharges.loadingAndUnloading"
                                (input)="updateTotalAmount()"
                                [readonly]="!['create', 'edit', 'amend'].includes(action)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="col-form-label text-nowrap pe-1 pt-0">+ &nbsp; Miscellaneous</div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-caret-right text-secondary pt-1"></i>
                    </div>
                    <div class="col-7">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info py-1 ms-2 me-1">{{ "INR" | companyCurrency }}</button>
                            <input
                                class="form-control"
                                type="number"
                                [(ngModel)]="otherCharges.miscellaneous"
                                (input)="updateTotalAmount()"
                                [readonly]="!['create', 'edit', 'amend'].includes(action)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div class="col-form-label text-nowrap pe-1 pt-0">Total Shipment Value</div>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-caret-right text-secondary pt-1"></i>
                    </div>
                    <div class="col-7">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info py-1 ms-2 me-1">{{ "INR" | companyCurrency }}</button>
                            <input
                                class="form-control"
                                type="number"
                                [(ngModel)]="otherCharges.totalShipmentValue"
                                readOnly
                                [readonly]
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr *ngIf="['create', 'edit', 'amend'].includes(action)" class="line-border mt-5" />
        <div>
            <div
                *ngIf="['create', 'edit', 'amend'].includes(action)"
                class="d-grid gap-2 d-flex justify-content-center"
            >
                <button type="button" class="btn btn-primary mt-2 px-5" (click)="dismissModel()">Save</button>
            </div>
        </div>
    </div>
</div>
