<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Add Supplier</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="dismissModal()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="">
        <div class="container-fluid px-0">
            <form [formGroup]="form">
                <div class="row px-5 mt-4">
                    <div class="col-7 separate-row">
                        <div class="row">
                            <div class="col-5 pe-5">
                                <label class="form-label"> Supplier Name<span class="text-danger">*</span> </label>
                                <div class="d-flex align-items-center">
                                    <div class="col-11">
                                        <ng-select
                                            [items]="supInfo"
                                            bindLabel="label"
                                            bindValue="value"
                                            formControlName="supplierId"
                                            [clearable]="false"
                                            (change)="setSupplierCurrency($event)"
                                        >
                                        </ng-select>
                                    </div>
                                    <div
                                        style="height: 2.9rem"
                                        class="input-group-text bg-primary pointer col-auto fs-4"
                                        id="basic-addon1"
                                        (click)="openSupplierDetailsModal()"
                                    >
                                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 ps-0">
                                <label class="form-label"> Supplier Item Code </label>
                                <input class="form-control" type="text" formControlName="spin" />
                            </div>
                            <div class="col-4 px-0">
                                <label class="form-label">
                                    Supplier Item Description <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="text" formControlName="supplierDescription" />
                            </div>
                        </div>
                        <!-- <span class="set-position mt-1">
                            <img src="./assets/new_icons/redstroke.svg" alt="" height="27" width="8" />
                        </span> -->
                    </div>

                    <!-- <div class="col-md-3">
                        <label class="form-label mb-1"> Currency </label>
                        <input class="form-control" type="text" formControlName="supplierCurrency" />
                    </div> -->

                    <div class="col-5">
                        <div class="row">
                            <div class="col-5 pe-0">
                                <div class="d-flex">
                                    <div class="col-4 me-1">
                                        <label class="form-label">Unit 1 <span class="text-danger">*</span></label>
                                        <input
                                            *ngIf="secondaryUnit"
                                            type="text"
                                            class="form-control ps-2 pe-0 pointer"
                                            readonly
                                            [ngbTooltip]="list"
                                            placement="bottom"
                                            value="{{ form.controls['uom1'].value | UOMUnitsMaster }}"
                                        />
                                        <input
                                            *ngIf="!secondaryUnit"
                                            type="text"
                                            class="form-control ps-2 pe-0 pointer"
                                            value="{{ form.controls['uom1'].value | UOMUnitsMaster }}"
                                            readonly
                                        />
                                    </div>
                                    <div class="col-8">
                                        <label class="form-label">
                                            Purchase Cost <span class="text-danger">*</span>
                                        </label>
                                        <div class="d-flex">
                                            <span class="input-group-text combine-INR text-secondary">
                                                {{ "INR" | companyCurrency }}
                                                <div class="vr ms-3"></div>
                                            </span>
                                            <input
                                                class="form-control border-start-0"
                                                formControlName="stdCostUom1"
                                                type="number"
                                                (input)="setUnit2PurchaseCost()"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex align-items-center justify-content-center px-0">
                                <span class="d-flex justify-content-center mt-1">
                                    <div class="fs-3 mt-4 text-secondary">=</div>
                                </span>
                            </div>
                            <div class="col-5 ps-0">
                                <div class="d-flex">
                                    <div class="col-4 me-1">
                                        <label class="form-label">Unit 2</label>
                                        <input
                                            *ngIf="secondaryUnit"
                                            type="text"
                                            class="form-control ps-2 pe-0 pointer"
                                            value="{{ form.controls['uom2'].value | UOMUnitsMaster }}"
                                            readonly
                                            [ngbTooltip]="list2"
                                            placement="bottom"
                                        />
                                        <input
                                            *ngIf="!secondaryUnit"
                                            type="text"
                                            class="form-control ps-2 pe-0 pointer"
                                            value="{{ form.controls['uom2'].value | UOMUnitsMaster }}"
                                            readonly
                                        />
                                    </div>
                                    <div class="col-8">
                                        <label class="form-label">
                                            Purchase Cost <span class="text-danger">*</span>
                                        </label>
                                        <div class="d-flex">
                                            <span class="input-group-text combine-INR text-secondary">
                                                {{ "INR" | companyCurrency }}
                                                <div class="vr ms-3"></div>
                                            </span>
                                            <input
                                                class="form-control border-start-0"
                                                formControlName="stdCostUom2"
                                                type="number"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex align-items-end ps-0">
                                <button
                                    class="plusIconSvg btn btn-primary"
                                    type="button"
                                    [disabled]="btnDisable || action == 'view'"
                                    (click)="addSuppliers()"
                                ></button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 ps-3 pe-0">
                        <div class="row">
                            <div class="col-9 ps-3 pe-0">
                                <label class="form-label mb-1">
                                    Purchase Cost [Excl. of GST]
                                    <span class="text-danger">*</span>
                                </label>
                                <input class="form-control" type="number" formControlName="stdCostUom1" />
                            </div>
                            <div class="col-2 d-flex align-items-end ps-2">
                                <button
                                    class="plusIconSvg btn btn-primary"
                                    type="button"
                                    [disabled]="btnDisable || action == 'view'"
                                    (click)="addSuppliers()"
                                ></button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </form>
            <hr class="line-border mt-4 px-5" />
            <div class="row justify-content-center px-5">
                <div class="col-12">
                    <div>
                        <app-setting-header
                            [data]="{page,pageSize,collection,search ,excelDisplay : 'none'}"
                            (dataChange)="eventHeader($event)"
                        >
                        </app-setting-header>
                    </div>
                    <div style="min-height: 17rem" class="table-responsive mt-1">
                        <table class="table table-bordered table-sticky">
                            <thead class="bg-primary">
                                <tr class="text-white">
                                    <th class="text-start">Supplier Name</th>
                                    <th>Supplier Item Code</th>
                                    <th class="text-start">Supplier Item Description</th>
                                    <!-- <th>Currency</th> -->
                                    <th>Unit 1</th>
                                    <th>Purchase Cost</th>
                                    <th>Unit 2</th>
                                    <th>Purchase Cost</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let u of supplierDetails
                                            | searchFi1ter : search
                                            | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                                        let i = index
                                    "
                                >
                                    <td class="text-start" [style.width]="supplierName.clientWidth" #supplierName>
                                        <span
                                            class="pointer"
                                            [positionTarget]="supplierName"
                                            [ngbTooltip]="u.supplierName"
                                        >
                                            {{ u?.supplierName }}
                                        </span>
                                    </td>
                                    <td>{{ u?.spin }}</td>
                                    <td
                                        class="text-start"
                                        [style.width]="supplierDescription.clientWidth"
                                        #supplierDescription
                                    >
                                        <span
                                            class="pointer"
                                            [positionTarget]="supplierDescription"
                                            [ngbTooltip]="u.supplierDescription"
                                        >
                                            {{ u?.supplierDescription }}
                                        </span>
                                    </td>
                                    <!-- <td>{{ u?.supplierCurrency }}</td> -->
                                    <td>{{ u?.uom1 ? (u?.uom1 | UOMUnitsMaster) : null }}</td>
                                    <td>{{ u?.stdCostUom1 }}</td>
                                    <td>{{ u?.uom2 ? (u?.uom2 | UOMUnitsMaster) : null }}</td>
                                    <td>{{ u?.stdCostUom2 }}</td>

                                    <td>
                                        <div class="dropdown">
                                            <button class="dropbtn"></button>
                                            <div class="dropdown-content">
                                                <a href="javascript:void(0)" (click)="patchItem(u, i, 'view')">
                                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                                    View
                                                </a>
                                                <a href="javascript:void(0)" (click)="patchItem(u, i, 'edit')">
                                                    <i
                                                        class="fa fa-pencil-square-o fa-lg me-2 text-primary"
                                                        aria-hidden="true"
                                                    ></i>
                                                    Edit
                                                </a>
                                                <a
                                                    [class.disable]="this.action == 'view'"
                                                    href="javascript:void(0)"
                                                    (click)="deleteItem(i)"
                                                >
                                                    <i class="fa fa-trash me-2 text-primary" aria-hidden="true"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <hr class="line-border my-5 px-5" />

            <div class="text-center mb-5">
                <button
                    class="btn bg-primary px-5"
                    type="button"
                    [disabled]="btnDisable || action == 'view'"
                    (click)="dismissModal()"
                >
                    Save & Close
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #list>
    <div *ngIf="primaryUnit || secondaryUnit" class="d-flex flex-column">
        <span class="text-start">
            {{ conversionOfUnitsForPrimary }}
        </span>
    </div>
</ng-template>
<ng-template #list2>
    <div *ngIf="primaryUnit || secondaryUnit" class="d-flex flex-column">
        <span class="text-start">
            {{ conversionOfUnitsForSecondary }}
        </span>
    </div>
</ng-template>
