.fa-caret-right {
    font-size: 2rem !important;
    margin-right: 4rem !important;
}
.assetChange {
    background-color: transparent;
    background-image: url("./../../../../../../../assets/new_icons/Asset_change.svg");
    background-size: 100% 100%;
    border: 0;
    color: white;
    height: 2.2rem;
    width: 2.2rem;
}
