<div class="listCard card">
    <div class="table-header">
        <label class="heading">Product Category Master Summary</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="btn btn-primary btn-add" type="button" (click)="navigateTo('../form', {}, 'create')">
            <i class="fa fa-plus-square fa-lg me-2" aria-hidden="true"></i>
            Product Category Master
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-secondary">
                <tr class="text-white">
                    <th sortable="seq" (sort)="onSort($event)">Sequence</th>
                    <th sortable="productNumber" (sort)="onSort($event)">Product No.</th>
                    <th sortable="productCode" (sort)="onSort($event)">Product Code</th>
                    <th sortable="displayProductCategoryName" (sort)="onSort($event)">DD/Display Value</th>
                    <th sortable="application" (sort)="onSort($event)">Application</th>
                    <th sortable="categoryStatus" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.seq }}</td>
                    <td>{{ u?.productNumber }}</td>
                    <td>{{ u?.productCode }}</td>
                    <td>{{ u?.displayProductCategoryName }}</td>
                    <td>{{ u?.application }}</td>
                    <td>
                        <span class="d-flex justify-content-center">
                            <div class="statusActive" *ngIf="u?.categoryStatus === 'Active'"></div>
                            <div class="statusInActive" *ngIf="u?.categoryStatus === 'Inactive'"></div>
                        </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/settings/master/sales/product_category/form', u, 'view')
                                    "
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/settings/master/sales/product_category/form', u, 'edit')
                                    "
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
