<form [formGroup]="form" class="formCard card">
    <div class="container">
        <div class="row form-header">
            <div class="col heading">
                <label> {{ this.action | titlecase }} {{ this.debitNoteName }} </label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-md-3 pe-0">
                    <div class="row">
                        <div class="col-6 pe-2">
                            <label class="form-label mb-2"> Debit Note No.</label>
                            <input readonly class="form-control" type="text" formControlName="DNNumber" />
                        </div>
                        <div class="col-6 ps-0">
                            <label class="form-label mb-2">Debit Note Date</label>
                            <input class="form-control" type="date" formControlName="DNDate" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3 pe-0">
                    <label class="form-label mb-2"> Purchase Category<span class="text-danger">*</span> </label>
                    <select class="form-select fs-5" formControlName="purchaseCategory" (change)="getSuppliers()">
                        <option [value]="null" disabled>Select</option>
                        <option [value]="ele.value" *ngFor="let ele of masterData.purchaseTypesOptions">
                            {{ ele.label }}
                        </option>
                    </select>
                </div>

                <div class="col-md-3 pe-5">
                    <label class="form-label mb-2"> Supplier Name <span class="text-danger">*</span> </label>

                    <div class="d-flex align-items-center">
                        <div class="col-11">
                            <ng-select
                                [items]="supplierOptions"
                                bindLabel="label"
                                bindValue="value"
                                [clearable]="false"
                                formControlName="supplier"
                                placeholder="Select a Supplier"
                                (change)="supplierValueChange($event)"
                            >
                            </ng-select>
                        </div>
                        <div
                            style="height: 2.9rem"
                            class="input-group-text bg-primary pointer col-auto fs-4"
                            id="basic-addon1"
                            (click)="openSupplierDetailsModal()"
                        >
                            <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 ps-0">
                    <div class="row">
                        <div class="col-6 pe-2">
                            <label class="form-label mb-2">Invoice No.</label>
                            <input class="form-control" type="text" formControlName="invoiceNo" />
                        </div>
                        <div class="col-6 ps-0">
                            <label class="form-label mb-2">Invoice Date</label>
                            <input class="form-control" type="date" formControlName="invoiceDate" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="row line-border mt-4" />

        <div class="row justify-content-between settingMargin">
            <div class="col-4">
                <div class="d-flex">
                    <div class="input-group-text bg-primary" id="basic-addon1">
                        <i class="fa fa-search text-white" aria-hidden="true"></i>
                    </div>
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="search"
                            [ngModelOptions]="{standalone: true}"
                        />
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <ngb-pagination
                    *ngIf="filterItems.length > 0"
                    [collectionSize]="filterItems.length"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [boundaryLinks]="false"
                >
                    <ng-template ngbPaginationPrevious>
                        <img src="./assets/new_icons/pagination_prev.svg" width="20rem" />
                    </ng-template>
                    <ng-template ngbPaginationNext>
                        <img src="./assets/new_icons/pagination_next.svg" width="20rem" />
                    </ng-template>
                    <ng-template ngbPaginationPages let-page let-pages="pages">
                        <li class="ngb-custom-pages-item align-self-center" *ngIf="pages.length > 0">
                            <span class="page-label me-2 ms-1"> Page {{ page }} of {{ pages[pages.length - 1] }} </span>
                        </li>
                    </ng-template>
                </ngb-pagination>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-end">
                    <div class="col-form-label text-nowrap">
                        <button type="button" class="btn btn-secondary po-currency-btn-sm py-0">Currency</button>
                    </div>
                    <div class="currency">
                        <label class="text-dark">{{ f["currency"].value }}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive" style="min-height: 18.6rem">
            <table class="table table-bordered table-sticky text-center">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th sortable="DNLineNumber" (sort)="onSort($event)">#</th>
                        <th sortable="itemCode" (sort)="onSort($event)">Item Code</th>
                        <th class="text-start" sortable="itemName" (sort)="onSort($event)">Item Name</th>
                        <th class="text-start" sortable="itemDescription" (sort)="onSort($event)">Item Description</th>
                        <th sortable="hsn" (sort)="onSort($event)">HSN Code</th>
                        <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                        <th sortable="returnQty" (sort)="onSort($event)">Rejected Qty</th>
                        <th sortable="purchaseRate" (sort)="onSort($event)">Rate/Unit</th>
                        <th sortable="lineValue" (sort)="onSort($event)">Line Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let u of filterItems
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            let i = index;
                            trackBy: trackByFn
                        "
                    >
                        <td>{{ i + 1 }}</td>
                        <td>{{ u?.itemCode }}</td>
                        <td class="text-start" [style.width]="itemName.clientWidth" #itemName>
                            <span class="pointer" [positionTarget]="itemName" [ngbTooltip]="u.itemName">
                                {{ u?.itemName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                            <span class="pointer" [positionTarget]="itemDescription" [ngbTooltip]="u.itemDescription">
                                {{ u?.itemDescription }}
                            </span>
                        </td>
                        <td>{{ u?.hsn }}</td>
                        <td>{{ u?.UOM | UOMUnitsMaster }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approve', 'reject', 'view', 'generate'].includes(action)">
                                    {{ u.returnQty | number : "1.2-2" }}
                                </span>
                                <input
                                    *ngIf="!['approve', 'reject', 'view', 'generate'].includes(action)"
                                    class="form-control form-control-sm w-25"
                                    type="number"
                                    [(ngModel)]="u.returnQty"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="lineValueRate(u.DNLineNumber, u)"
                                />
                            </div>
                        </td>

                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approve', 'reject', 'view', 'generate'].includes(action)">
                                    {{ u.purchaseRate | number : "1.2-2" }}
                                </span>
                                <input
                                    *ngIf="!['approve', 'reject', 'view', 'generate'].includes(action)"
                                    class="form-control form-control-sm w-25"
                                    type="number"
                                    [(ngModel)]="u.purchaseRate"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="lineValueRate(u.DNLineNumber, u)"
                                />
                            </div>
                        </td>
                        <td>
                            {{ u?.lineValue | number : "1.2-2" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-container>
            <div class="row">
                <div class="col-md-10 d-flex">
                    <div class="d-flex justify-content-center">
                        <div class="col-form-label text-nowrap pe-1 pt-0">
                            Total Item Value:
                            <div class="btn btn-info py-1 ms-2">
                                <label>{{ f["currency"].value }}</label>
                            </div>
                        </div>
                        <input class="form-control" type="number" formControlName="totalLineValue" readonly />
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="mx-2 align-self-center mb-2">
                            <i class="fa fa-plus fa-lg text-info" aria-hidden="true"></i>
                        </div>
                        <div class="text-nowrap">
                            <button
                                type="button "
                                class="btn btn-sm btn-primary me-2 d-flex align-items-center mb-2"
                                (click)="openOtherChargesModal()"
                            >
                                <span>Add Other Charges</span>
                            </button>
                        </div>

                        <div class="d-flex inputGroup">
                            <div class="col-form-label text-nowrap pe-1 pt-0">
                                <div class="btn btn-info py-1 ms-2">
                                    <label>{{ f["currency"].value }}</label>
                                </div>
                            </div>

                            <input
                                type="text"
                                class="form-control mt-0 w-25"
                                readOnly
                                [(ngModel)]="otherCharges.totalAmount"
                                [ngModelOptions]="{standalone: true}"
                            />
                        </div>
                    </div>
                    <div class="d-flex inputGroup"></div>
                    <div class="mx-2 align-text-top">
                        <div class="fs-3 fw-bolder text-info me-0" aria-hidden="true">=</div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="col-form-label text-nowrap pe-1 pt-0">
                            Net Debit Note Value:
                            <div class="btn btn-info py-1 ms-2">
                                <label>{{ f["currency"].value }}</label>
                            </div>
                        </div>
                        <input class="form-control" type="number" formControlName="netDNValue" readonly />
                    </div>
                </div>
            </div>
            <hr class="row line-border" />
        </ng-container>
        <div class="row mb-0">
            <div [ngClass]="action === 'reject' ? 'col-md-10 pe-0' : 'col'" class="col-8">
                <div class="row">
                    <div [ngClass]="action !== 'reject' ? 'col-md-10 pe-5' : 'col-md-7'" class="col">
                        <div class="d-flex align-items-center">
                            <div class="col-form-label text-nowrap">
                                Reason for Debit Note
                                <i class="fa fa-caret-right fa-5x mx-1"></i>
                            </div>
                            <input class="form-control" type="text" formControlName="reasonForDN" />
                        </div>
                    </div>
                    <div class="col pe-0" *ngIf="action == 'reject'">
                        <div class="d-flex align-items-center">
                            <div class="col-form-label text-nowrap">
                                Remarks <i class="fa fa-caret-right fa-5x mx-1"></i>
                            </div>
                            <input class="form-control" type="text" formControlName="remarks" />
                        </div>
                    </div>
                </div>
            </div>

            <div
                [ngClass]="action === 'reject' ? 'col-md-2 justify-content-center' : 'col-4 d-flex justify-content-end'"
                class="col-4 d-flex justify-content-end"
            >
                <div *ngIf="['create'].includes(action)" class="d-grid gap-2 d-md-block">
                    <button type="button" class="btn btn-primary px-5 me-3" (click)="reset()">Reset</button>
                    <button type="button" class="btn btn-primary px-4 me-3" (click)="preview()">Preview</button>
                    <button class="btn btn-primary px-5" type="button" [disabled]="!isPreview" (click)="submit()">
                        Save
                    </button>
                </div>
                <div *ngIf="['edit'].includes(action)">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Save</button>
                </div>
                <div *ngIf="['view'].includes(action)">
                    <button class="btn btn-primary px-5" type="button" (click)="navigateTo()">
                        Back To Action Center
                    </button>
                </div>

                <div *ngIf="action == 'reject'" class="col-5 text-end">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Reject</button>
                </div>

                <div *ngIf="action == 'approve'" class="col-5 d-flex justify-content-end mb-3">
                    <button type="button" class="btn btn-primary px-5" (click)="submit()">Approve</button>
                </div>
            </div>
        </div>
    </div>
</form>
