<div class="modelPage">
  <div class="">
    <div class="container-fluid">
      <div class="row mt-5">
        <form [formGroup]="form">
          <div style="min-height: 31.8rem" class="row justify-content-center">
            <div class="col-6 px-5">
              <div class="row">
                <div class="col-5 mt-1 pe-0">
                  <label class="form-label text-nowrap"
                    >Shelf Life [Months]
                    <span class="text-danger">*</span></label
                  >
                </div>
                <div class="col-1 px-0">
                  <i class="fa fa-caret-right mt-1 text-secondary"></i>
                </div>
                <div class="col-6 ps-0">
                  <input
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    type="number"
                    class="form-control"
                    formControlName="shelfLife"
                  />
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-5 pe-0">
                  <label class="form-label"
                    >Storage Temperature [°C]
                    <span class="text-danger">*</span></label
                  >
                </div>
                <div class="col-1 px-0">
                  <i class="fa fa-caret-right text-secondary"></i>
                </div>
                <div class="col-6 ps-0">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="storageTemp"
                  />
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-5 pe-0">
                  <label class="form-label"
                    >Storage Humidity [RH]
                    <span class="text-danger">*</span></label
                  >
                </div>
                <div class="col-1 px-0">
                  <i class="fa fa-caret-right text-secondary"></i>
                </div>
                <div class="col-6 ps-0">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="storageHumidity"
                  />
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-5 pe-0">
                  <label class="form-label text-nowrap"
                    >Special Storage Instruction
                    <span class="text-danger">*</span></label
                  >
                </div>
                <div class="col-1 px-0">
                  <i class="fa fa-caret-right text-secondary"></i>
                </div>
                <div class="col-6 ps-0">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="specialStorageInstruction"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>

        <hr *ngIf="!['view'].includes(action)" class="line-border mt-5 px-5" />

        <div class="text-center">
          <div *ngIf="!['view'].includes(action)" class="text-center">
            <button
              (click)="reset()"
              class="btn bg-primary px-5 mb-2 me-3"
              type="button"
            >
              Reset
            </button>
            <button
              class="btn bg-primary px-5 mb-2"
              type="button"
              (click)="dismissModel()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
