<div class="listCard card">
    <div class="table-header">
        <label class="heading">Specification Summary</label>
    </div>

    <!-- <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button class="btn btn-primary btn-add" type="button" (click)="navigateTo('../form', {}, 'create')">
            Prod. Specification
        </button>
    </div> -->
    <div class="row px-4 my-3">
        <div class="col-6"></div>
        <div class="col-4 pe-0">
            <div class="row">
                <div class="col-4 mt-1 pe-1">
                    <label class="form-label text-nowrap">Customer Name<span class="text-danger"></span></label>
                </div>
                <div class="col-1 d-flex align-items-center ps-3 pe-0">
                    <i class="fa fa-caret-right fa-lg fs-4 text-secondary"></i>
                </div>
                <div class="col-7 px-0">
                    <ng-select
                        [items]="customerOptions"
                        bindLabel="customerName"
                        bindValue="_id"
                        [clearable]="false"
                        [(ngModel)]="customer"
                        (change)="getAll()"
                    >
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="col-2 text-end pe-5">
            <button class="btn btn-primary px-4" type="button" (click)="reset()">Reset Filter</button>
        </div>
    </div>
    <hr class="line-border" />
    <div style="min-height: 33.3rem" class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="SKUNo" (sort)="onSort($event)">SKU Code</th>
                    <th class="text-start" sortable="SKUName" (sort)="onSort($event)">
                        {{ "SKU Name" | labelTranslate }}
                    </th>
                    <th class="text-start" sortable="SKUDescription" (sort)="onSort($event)">
                        {{ "SKU Description" | labelTranslate }}
                    </th>
                    <th class="text-start" sortable="productCategory" (sort)="onSort($event)">Product code</th>
                    <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                    <th sortable="UOM" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.SKUNo }}</td>
                    <td class="text-start">{{ u?.SKUName }}</td>
                    <td class="text-start">{{ u?.SKUDescription }}</td>
                    <td class="text-start">{{ u?.productCategory }}</td>
                    <td>{{ u?.UOM | SalesUOMUnitMaster }}</td>
                    <td>
                        <span class="d-flex justify-content-center">
                            <div *ngIf="u?.status == 'Active'" class="statusActive"></div>
                            <div *ngIf="u?.status == 'Inactive'" class="statusYellow"></div>
                            <div *ngIf="u?.status == 'Red'" class="statusInActive"></div>
                        </span>
                    </td>

                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    [class.disable]="['Active', 'Inactive'].includes(u.status)"
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'specification')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    + Specification
                                </a>
                                <a
                                    [class.disable]="u.status === 'Red'"
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    [class.disable]="u.status === 'Red'"
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'edit')"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    [class.disable]="['Red', 'Inactive'].includes(u.status)"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../form', u, 'copy')"
                                >
                                    <i class="fa fa-clone fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Copy
                                </a>
                                <!-- <a
                                    *ngIf="this.user == superAdminId"
                                    href="javascript:void(0)"
                                    (click)="openConfirmModal(u?._id, u?.SKUNo)"
                                >
                                    <i class="fa fa-trash text-primary" aria-hidden="true"></i>
                                    Delete
                                </a> -->
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="line-border" />
    <div class="row mt-3 ms-1">
        <div class="col-12">
            <button class="btn btn-primary px-4" type="button" (click)="openStatusSummaryModal()">
                Status Summary
            </button>
        </div>
    </div>
</div>
