<form [formGroup]="form" class="formCard card">
    <div class="container">
        <div class="row form-header">
            <div class="col heading">
                <label>Product Master ({{ action | titlecase }})</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-3">
                    <label class="form-label mb-1"> Product Number<span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="productNo" readonly />
                </div>
                <div class="col-3 pe-5">
                    <label class="form-label mb-1"> Product Category/Code <span class="text-danger">*</span> </label>
                    <!-- <ng-select
                            [items]="masterData.productCategories"
                            bindLabel="label"
                            bindValue="value"
                            formControlName="productCategory"
                            [clearable]="false"
                        >
                        </ng-select> -->
                    <div class="d-flex align-items-center">
                        <div class="col-11">
                            <ng-select
                                [items]="masterData.productCategories"
                                bindLabel="label"
                                bindValue="value"
                                formControlName="productCategory"
                                [clearable]="false"
                            >
                            </ng-select>
                        </div>
                        <div
                            style="height: 2.9rem"
                            class="input-group-text bg-primary pointer fs-4 col-auto"
                            id="basic-addon1"
                            (click)="openProductCategoryModal()"
                        >
                            <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label class="form-label mb-1"> Product Name<span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="productName" />
                </div>
                <div class="col-3">
                    <label class="form-label mb-1"> Product Description <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="productDescription" />
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label class="form-label mb-1"> HSN Code <span class="text-danger">*</span> </label>
                    <select class="form-select" formControlName="hsn">
                        <option [value]="null" disabled selected>Select HSN Code</option>
                        <option *ngFor="let item of masterData?.hsnCodes" [value]="item.hsnCode">
                            {{ item?.hsnCode }}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="form-label mb-1 d-flex justify-content-between">
                        Primary Unit <span class="text-danger">*</span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <button (click)="openUOMDetailsModal()" type="button" class="btn btn-primary form-btn-sm py-0">
                            Dual Units
                        </button>
                    </label>
                    <select class="form-select" formControlName="primaryUnit">
                        <option value="null" selected disabled>Select Primary Unit</option>
                        <option *ngFor="let u of masterData?.UOMOptions" [value]="u.value">
                            {{ u?.label }}
                        </option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="form-label mb-1"> Unit Cost <span class="text-danger">*</span> </label>
                    <div class="d-flex">
                        <span class="input-group-text text-secondary combine-INR">
                            {{ "INR" | companyCurrency }}
                            <div class="vr ms-3"></div>
                        </span>
                        <input class="form-control border-start-0" type="number" formControlName="unitCost" />
                    </div>
                </div>
                <div class="col-3">
                    <label class="form-label mb-1">Source of mfg.</label>
                    <select class="form-select" formControlName="sourceOfMFG">
                        <option value="null" selected disabled>Select Source of mfg.</option>
                        <option *ngFor="let item of sourceOfMFGArr" [value]="item.value">
                            {{ item?.label }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <hr class="row line-border" />

        <div class="row">
            <div class="col-2 pe-0">
                <button class="plusIconSvg btn btn-primary me-1"></button>
                <button (click)="openAttributesModal()" class="btn btn-primary me-5 px-4" type="button">
                    Attributes
                </button>
            </div>
            <div class="col-3 ps-0">
                <div class="d-flex align-items-center">
                    <div class="col-md-auto text-nowrap">
                        <button type="button" class="btn btn-primary px-3">Status</button>
                    </div>

                    <select class="form-select statusSelectBorder" formControlName="status">
                        <option [value]="'null'" selected disabled>Select Status</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <span class="input-group-text statusSpanHeight">
                        <div class="statusActive" *ngIf="form.value['status'] == 'Active'" class="statusActive"></div>
                        <div class="statusInActive" *ngIf="form.value['status'] == 'Inactive'"></div>
                    </span>
                </div>
            </div>
            <div class="col-7 text-end">
                <button class="btn btn-primary px-5 me-5" type="button" (click)="reset()">Reset</button>
                <button class="btn btn-primary px-5" type="button" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</form>
