<div class="container-fluid printScreen">
    <div class="row justify-content-center">
        <div colspan="12" class="text-center col-12">
            <button class="btn btn-primary px-4" type="button" (click)="windowPrint()" *ngIf="pdfAction != 'pdf'">
                <img src="./assets/images/print.png" width="20px" height="14px" class="mb-2" />&nbsp;&nbsp; Print
            </button>
            <div class="page py-3">
                <div
                    class="row justify-content-center printScreen mb-5 m-0"
                    *ngFor="let p of tableData.preDispatchDetails; let last = last"
                >
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td colspan="12">
                                    <div class="text-start">
                                        <img src="{{ tableData?.company?.logoUrl }}" width="200px" />
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <th colspan="12" class="text-center">
                                    <div class="fs-3">Pre-Dispatch Inspection Report</div>
                                </th>
                            </tr>
                            <tr class="border-btm">
                                <td colspan="12">
                                    <div class="row justify-content-between">
                                        <div class="col-12 h-100 p-0 mt-4">
                                            <table class="table">
                                                <h3 class="pb-2">Job Details</h3>
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-3 px-0">Customer Name:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ tableData?.customerName }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-3 px-0">Product Cat.:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ p?.SKU?.productCategory }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-6">
                                                        <div class="row">
                                                            <div class="col-3 px-0">Part Name:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ p?.SKUName }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-3 px-0">Part No.:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ p?.partNumber }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-3 px-0">Invoice No.:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ tableData?.salesInvoiceNumber }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-3 px-0">Invoice Date:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ tableData?.salesInvoiceDate | date : "dd-MM-yyyy" }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-3 px-0">Batch Date:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ p?.batchDate }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-3 px-0">Batch Qty.:</div>
                                                            <div class="col-1 ps-0 d-flex align-items-center">
                                                                <div class="vr"></div>
                                                            </div>
                                                            <div class="col-8 px-0">
                                                                {{ p?.dispatchQty }}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="py-4"></div>
                                            <table class="table">
                                                <h3 class="pb-2 text-nowrap">Inspection Report</h3>
                                                <tr>
                                                    <th colspan="1" class="text-center">SN</th>
                                                    <th colspan="4">Inspection Parameter</th>
                                                    <th colspan="1" class="text-center">UoM</th>
                                                    <th colspan="2" class="text-center">Specification</th>
                                                    <th colspan="2" class="text-center">DTPL Observations</th>
                                                    <th colspan="2" class="text-center">TGY Remarks</th>
                                                </tr>
                                                <tr
                                                    class="text-wrap"
                                                    *ngFor="let s of p?.PDIEntryDetails; let i = index"
                                                >
                                                    <td colspan="1" class="text-center">{{ i + 1 }}</td>
                                                    <td colspan="4">
                                                        {{ s?.characteristic }}
                                                    </td>
                                                    <td colspan="1" class="text-center">
                                                        {{ s?.UOM }}
                                                    </td>
                                                    <td colspan="2" class="text-center">
                                                        {{ s?.specValue }}
                                                    </td>
                                                    <td colspan="2" class="text-center">
                                                        {{ s?.observation }}
                                                    </td>
                                                    <td colspan="2" class="text-center">
                                                        {{ s?.inspectionObservations }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="py-4"></div>
                                        <table class="">
                                            <div class="row">
                                                <div class="col-6 ps-0 pe-3">
                                                    <div class="card">
                                                        <div class="row mt-4">
                                                            <div class="col-12">
                                                                <p class="setChecked">
                                                                    Remarks By
                                                                    {{ tableData?.company?.companyName }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-4">
                                                            <div class="col-3 pe-0 d-flex align-items-center">
                                                                <h4 class="setChecked">Accepted:</h4>
                                                            </div>
                                                            <div class="col-3 ps-0">
                                                                <span>
                                                                    <input
                                                                        class="col-3"
                                                                        *ngIf="
                                                                            p.status == 'Approved' ? isChecked : null
                                                                        "
                                                                        [(ngModel)]="isChecked"
                                                                        type="checkbox"
                                                                        onclick="return false;"
                                                                    />
                                                                    <input
                                                                        class="col-3"
                                                                        *ngIf="
                                                                            isChecked == false || p.status != 'Approved'
                                                                        "
                                                                        type="checkbox"
                                                                        onclick="return false;"
                                                                    />
                                                                </span>
                                                            </div>
                                                            <div class="col-6"></div>
                                                        </div>
                                                        <div class="row my-4">
                                                            <div class="col-3 pe-0 d-flex align-items-center">
                                                                <h4 class="setChecked">Rejected:</h4>
                                                            </div>
                                                            <div class="col-3 ps-0 text-start mt-1">
                                                                <span>
                                                                    <input
                                                                        class="col-3"
                                                                        *ngIf="
                                                                            p.status == 'Rejected' ? isChecked : null
                                                                        "
                                                                        [(ngModel)]="isChecked"
                                                                        type="checkbox"
                                                                        onclick="return false;" />
                                                                    <input
                                                                        class="col-3"
                                                                        *ngIf="
                                                                            isChecked == false || p.status != 'Rejected'
                                                                        "
                                                                        type="checkbox"
                                                                        onclick="return false;"
                                                                /></span>
                                                            </div>
                                                            <div class="col-6"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 ps-3 pe-0">
                                                    <div class="card">
                                                        <div class="row mt-4">
                                                            <div class="col-12">
                                                                <p class="setChecked">
                                                                    Remarks By
                                                                    {{ tableData?.customerName }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-4">
                                                            <div class="col-3 pe-0 d-flex align-items-center">
                                                                <h4 class="setChecked">Accepted:</h4>
                                                            </div>
                                                            <div class="col-3 ps-0">
                                                                <span>
                                                                    <input
                                                                        class="col-3"
                                                                        type="checkbox"
                                                                        onclick="return false;"
                                                                    />
                                                                </span>
                                                            </div>
                                                            <div class="col-6"></div>
                                                        </div>
                                                        <div class="row my-4">
                                                            <div class="col-3 pe-0 d-flex align-items-center">
                                                                <h4 class="setChecked">Rejected:</h4>
                                                            </div>
                                                            <div class="col-3 ps-0 text-start mt-1">
                                                                <span>
                                                                    <input
                                                                        class="col-3"
                                                                        type="checkbox"
                                                                        onclick="return false;"
                                                                /></span>
                                                            </div>
                                                            <div class="col-6"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="!last" class="page-break"></div>
                </div>
            </div>
        </div>
    </div>
</div>
