<Form class="px-2" [formGroup]="form" class="formCard card">
    <div class="container">
        <div class="row form-header">
            <div class="col heading ms-2">
                <label>{{ this.action | titlecase }} ASN </label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-4">
                    <label class="form-label"> Invoice No. <span class="text-danger">*</span> </label>
                    <ng-select
                        [items]="masterData.salesInvoices"
                        bindLabel="salesInvoiceNumber"
                        bindValue="_id"
                        [clearable]="false"
                        formControlName="salesInvoice"
                        (change)="setSesInvoice($event)"
                    >
                    </ng-select>
                </div>

                <div class="col-4">
                    <label class="form-label"> Invoice Date <span class="text-danger">*</span> </label>
                    <input class="form-control" type="date" formControlName="salesInvoiceDate" readonly />
                </div>

                <div class="col-4">
                    <label class="form-label"> Invoice Value <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="invoiceValue" readonly />
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label class="form-label"> ASN # <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="ASNNumber" readonly />
                </div>

                <div class="col-4">
                    <label class="form-label"> Customer <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="customerName" readonly />
                </div>

                <div class="col-4">
                    <label class="form-label"> State of Supply <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="stateOfSupply" readonly />
                </div>
            </div>

            <div class="">
                <app-setting-header
                    [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
                    (dataChange)="eventHeader($event)"
                >
                </app-setting-header>
            </div>

            <div class="table-responsive text-wrap" style="min-height: 18.5rem">
                <table class="table table-bordered table-sticky">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th sortable="SONumber" (sort)="onSort($event)">#</th>
                            <th class="text-start" sortable="SKUDescription" (sort)="onSort($event)">
                                {{ "SKU Description" | labelTranslate }}
                            </th>
                            <th sortable="dispatchQty" (sort)="onSort($event)">Dispatch Qty.</th>
                            <th sortable="batchDate" (sort)="onSort($event)">Batch Date</th>
                            <th sortable="PONumber" (sort)="onSort($event)">PO No.</th>
                            <th sortable="boxNo" (sort)="onSort($event)">Box No.</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            *ngFor="
                                let d of ASNDetailsArray
                                    | searchFi1ter : search
                                    | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                                trackBy: trackByFn;
                                let i = index
                            "
                        >
                            <td>{{ 1 + i + (page - 1) * pageSize }}</td>
                            <td
                                *ngIf="action == 'create'"
                                class="text-start"
                                [style.width]="SKUName.clientWidth"
                                #SKUName
                            >
                                <span
                                    class="pointer"
                                    [ngbTooltip]="'SKU Name: ' + d.SKUName + ' | SKU Description: ' + d.SKUDescription"
                                    [positionTarget]="SKUName"
                                >
                                    {{ "SKU Name" | labelTranslate }}: {{ d?.SKUName }} |
                                    {{ "SKU Description" | labelTranslate }}: {{ d?.SKUDescription }}
                                </span>
                            </td>
                            <td
                                *ngIf="['view', 'edit'].includes(action)"
                                class="text-start"
                                [style.width]="SKUDescription.clientWidth"
                                #SKUDescription
                            >
                                <span
                                    class="pointer"
                                    [ngbTooltip]="
                                        'SKU Name: ' + d.SKU.SKUName + ' | SKU Description: ' + d.SKU.SKUDescription
                                    "
                                    [positionTarget]="SKUDescription"
                                >
                                    {{ "SKU Name" | labelTranslate }}: {{ d?.SKU?.SKUName }} |
                                    {{ "SKU Description" | labelTranslate }}: {{ d?.SKU?.SKUDescription }}
                                </span>
                            </td>
                            <td>{{ d?.dispatchQty }}</td>
                            <td>
                                {{ d?.batchDate ? (d?.batchDate | date : "dd-MM-YYYY") : "-" }}
                            </td>
                            <td>{{ d?.PONumber }}</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    {{ d?.boxNos }}

                                    <button
                                        class="btn btn-secondary btn-sm"
                                        type="button"
                                        (click)="openBoxDetailsModal(d)"
                                    >
                                        <i class="fa fa-plus-square fa-lg"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-4">
                    <label class="form-label"> Total No. of Boxes <span class="text-danger">*</span> </label>
                    <input class="form-control" type="number" formControlName="totalNoOfBoxes" readonly />
                </div>

                <div class="col-4">
                    <label class="form-label"> Total Gross weight(kgs) <span class="text-danger">*</span> </label>
                    <input class="form-control" type="number" formControlName="totalGrossWeight" readonly />
                </div>

                <div class="col-4 d-flex align-items-end justify-content-end">
                    <button type="button" class="btn bg-primary" (click)="openDispatchDetailsModal()">
                        Dispatch Details
                    </button>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-auto">
                    <div class="d-grid gap-2 d-md-block">
                        <button
                            *ngIf="!['view', 'edit'].includes(action)"
                            type="button"
                            class="btn btn-primary px-5 me-4"
                            (click)="reset()"
                        >
                            Reset
                        </button>
                        <button
                            *ngIf="['create', 'edit'].includes(action)"
                            type="button"
                            class="btn btn-primary px-5"
                            (click)="submit()"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Form>
