<div class="row justify-content-between settingMargin">
    <!-- search filter -->
    <div class="col-4">
        <div class="d-flex">
            <div class="input-group-text bg-primary" id="basic-addon1">
                <i class="fa fa-search text-white" aria-hidden="true"></i>
            </div>
            <div>
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="data.search"
                    (ngModelChange)="this.search$.next($event)"
                />
            </div>
        </div>
    </div>
    <!-- pagination -->
    <div class="col-4 d-flex justify-content-center">
        <ngb-pagination
            *ngIf="data.collection > 0"
            [collectionSize]="data.collection"
            [(page)]="data.page"
            [pageSize]="data.pageSize"
            [boundaryLinks]="false"
            (pageChange)="commonChange('PAGE', data.page)"
        >
            <ng-template ngbPaginationPrevious>
                <img src="./assets/new_icons/pagination_prev.svg" width="20rem" />
            </ng-template>
            <ng-template ngbPaginationNext>
                <img src="./assets/new_icons/pagination_next.svg" width="20rem" />
            </ng-template>
            <ng-template ngbPaginationPages let-page let-pages="pages">
                <li class="ngb-custom-pages-item align-self-center" *ngIf="pages.length > 0">
                    <span class="page-label me-2 ms-1"> Page {{ data.page }} of {{ pages[pages.length - 1] }} </span>
                </li>
            </ng-template>
        </ngb-pagination>
    </div>
    <!-- excel download -->
    <div class="col-4">
        <div class="d-flex justify-content-end">
            <img
                *ngIf="data.pdfDisplay == true"
                appAccessControl
                [accessType]="rolePermissionActions.downloadAction"
                src="./assets/new_icons/pdf_icon.svg"
                height="30"
                [style.cursor]="'pointer'"
                (click)="commonChange('PDF', null)"
                class="me-3"
            />
            <img
                *ngIf="data.excelDisplay != 'none'"
                appAccessControl
                [accessType]="rolePermissionActions.downloadAction"
                src="./assets/images/excel.svg"
                height="30"
                width="35"
                [style.cursor]="'pointer'"
                (click)="commonChange('EXCEL', null)"
            />
        </div>
    </div>
</div>
