<div class="listCard card">
    <div class="table-header">
        <label class="heading">Audit Summary</label>
    </div>

    <div class="row my-4">
        <div class="col-9 ps-5">
            <div class="row">
                <div class="col-6 ps-5">
                    <label class="form-label"> From Date <span class="text-danger">*</span> </label>
                    <input class="form-control" type="date" [(ngModel)]="fromDate" />
                </div>

                <div class="col-6">
                    <label class="form-label"> To Date <span class="text-danger">*</span> </label>
                    <input class="form-control" type="date" [(ngModel)]="toDate" />
                </div>
            </div>
        </div>
        <div class="col-3 align-self-end separate-image">
            <span class="image-position">
                <img src="./assets/new_icons/redstroke.svg" alt="" height="27" width="8" />
            </span>
            <button type="button" class="btn btn-primary px-4 me-2" (click)="getAll()">Apply Filter</button>

            <button type="button" class="btn btn-primary px-4 ms-4" (click)="reset()">Reset Filter</button>
        </div>
    </div>

    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header
            [data]="{page,pageSize,collection,search,excelDisplay : 'none'}"
            (dataChange)="eventHeader($event)"
        >
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="user" (sort)="onSort($event)">User</th>
                    <th sortable="date" (sort)="onSort($event)">Date</th>
                    <th sortable="action" (sort)="onSort($event)">Action</th>
                    <th sortable="fieldsModified" (sort)="onSort($event)">Field Modified</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-wrap">
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.user }}</td>
                    <td>{{ u?.createdAt }}</td>
                    <td>{{ u?.action }}</td>
                    <td>{{ u?.fieldsModified }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="navigateTo('../audit-form', u?._id, 'view')"
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
</div>
