<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label>Menu Item [{{ this.action | titlecase }}]</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        Title
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="title" />
                </div>
                <div class="col">
                    <label class="form-label">
                        Menu Order
                        <span class="text-danger">*</span>
                    </label>
                    <input type="number" class="form-control" formControlName="menuOrder" />
                </div>
                <div class="col">
                    <label class="form-label">
                        Status
                        <span class="text-danger">*</span>
                    </label>
                    <select class="form-select" formControlName="isMenuActive">
                        <option [value]="null" disabled selected>Status</option>
                        <option [value]="'true'">Enable</option>
                        <option [value]="'false'">Disable</option>
                    </select>
                </div>
                <div *ngIf="user == superAdminId" class="col-12 mt-4">
                    <label class="form-label">
                        Role
                        <span class="text-danger">*</span>
                    </label>
                    <ng-select
                        [items]="roles"
                        bindLabel="label"
                        bindValue="value"
                        [multiple]="true"
                        formControlName="roles"
                        [clearable]="false"
                    >
                    </ng-select>
                    <validation-messages class="error-left" [control]="f['roles']"> </validation-messages>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-3" [ngClass]="{'d-none': action == 'View'}">
            <button
                *ngIf="!['view', 'edit'].includes(action)"
                class="btn bg-primary mt-2 px-5 me-2"
                type="button"
                (click)="reset()"
            >
                Reset
            </button>
            <button
                *ngIf="['create', 'edit'].includes(action)"
                class="btn bg-primary mt-2 px-5"
                type="button"
                (click)="submit()"
            >
                Save
            </button>
        </div>
    </div>
</form>
