<div class="modelPage">
    <div class="modal-header">
        <div class="heading">MRN Details</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="this.activeModal.close()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 px-0 mt-4">
                    <div class="px-5 mt-0">
                        <app-setting-header
                            [data]="{page,pageSize,collection,search ,excelDisplay : 'none'}"
                            (dataChange)="eventHeader($event)"
                        >
                        </app-setting-header>
                    </div>
                    <div style="min-height: 33rem" class="table-responsive px-5">
                        <table class="table table-bordered table-sticky">
                            <thead class="bg-primary">
                                <tr class="text-white">
                                    <th sortable="MRNNumber" (sort)="onSort($event)">MRN No.</th>
                                    <th sortable="MRNDate" (sort)="onSort($event)">MRN Date</th>
                                    <th sortable="supplierName" (sort)="onSort($event)" class="text-start">
                                        Supplier Name
                                    </th>
                                    <th sortable="MRNStatus" (sort)="onSort($event)">Status</th>
                                    <th sortable="deliveryLocation" (sort)="onSort($event)">Location</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let u of MRNList
                                            | searchFi1ter : search
                                            | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                                        let i = index
                                    "
                                >
                                    <td>{{ u?.MRNNumber }}</td>
                                    <td class="text-start">{{ u?.MRNDate }}</td>
                                    <td class="text-start" [style.width]="supplierName.clientWidth" #supplierName>
                                        <span
                                            class="pointer"
                                            [positionTarget]="supplierName"
                                            [ngbTooltip]="u.supplierName"
                                        >
                                            {{ u?.supplierName }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ u?.MRNStatus }}
                                    </td>
                                    <td>{{ u?.deliveryLocation }}</td>
                                    <td>
                                        <input
                                            class="form-check-input pointer"
                                            type="radio"
                                            name="formValue{{ MRNList[i] }}"
                                            [checked]="u.select"
                                            (change)="setSelectData(u)"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col px-0 mb-3">
                    <hr class="line-border" />
                </div>
            </div>
            <div class="text-center mb-2">
                <button class="btn bg-primary px-5 mb-4" type="button" (click)="dismissModel()">Ok</button>
            </div>
        </div>
    </div>
</div>
