<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label>Employee Master</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row m-0">
                <div class="col-md-6 row align-items-center">
                    <label class="col-sm-auto col-form-label align-self-center">
                        Employee Code <span class="text-danger">*</span>
                    </label>
                    <div class="col-sm-6 ps-0">
                        <input class="form-control" type="text" formControlName="empCode" readonly />
                        <validation-messages class="error-left" [control]="f['empCode']"> </validation-messages>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check mt-2">
                        <label class="form-check-label text-nowrap">
                            Create login
                            <input class="form-check-input me-3" type="checkbox" formControlName="isLogin" />
                        </label>
                    </div>
                </div>
            </div>
            <hr class="row line-border" />
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label"> First Name <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="empFirstName" />
                    <validation-messages class="error-left" [control]="f['empFirstName']"> </validation-messages>
                </div>

                <div class="col-md-4">
                    <label class="form-label"> Middle Name </label>
                    <input class="form-control" type="text" formControlName="empMiddleName" />
                </div>

                <div class="col-md-4">
                    <label class="form-label"> Last Name <span class="text-danger">*</span> </label>
                    <input class="form-control" type="text" formControlName="empLastName" />
                    <validation-messages class="error-left" [control]="f['empLastName']"> </validation-messages>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label"> Gender </label>
                    <select class="form-select" formControlName="empGender">
                        <option [value]="null" disabled>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> Date of Birth </label>
                    <input class="form-control" type="date" formControlName="empDOB" />
                </div>
                <div class="col-md-4">
                    <label class="form-label"> Mobile No. </label>
                    <input class="form-control" type="text" maxlength="10" formControlName="empContactNo" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label"> Aadhaar Card No. </label>
                    <input class="form-control" type="number" maxlength="12" formControlName="empAadharNo" />
                </div>
                <div class="col-md-4">
                    <label class="form-label"> Pan Card No. </label>
                    <input class="form-control" type="text" maxlength="10" formControlName="empPANNo" />
                </div>
                <div class="col-md-4">
                    <label class="form-label"> Marital Status </label>
                    <select class="form-select" formControlName="empMartialStatus">
                        <option [value]="null" selected disabled>Select</option>
                        <option value="Married">Married</option>
                        <option value="Unmarried">Unmarried</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label"> Education/Qualification </label>
                    <input class="form-control" type="text" formControlName="qualification" />
                </div>
                <div class="col-md-4">
                    <label class="form-label"> PF/UAN No. </label>
                    <input class="form-control" type="text" formControlName="empPFNo" />
                </div>
                <div class="col-md-4">
                    <label class="form-label"> ESIC No. </label>
                    <input class="form-control" type="text" formControlName="empESICNo" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label"> E-mail ID [Company] <span class="text-danger">*</span> </label>
                    <input class="form-control" type="email" formControlName="empEmailCompany" />
                    <validation-messages class="error-left" [control]="f['empEmailCompany']"> </validation-messages>
                </div>
                <div class="col-md-4">
                    <label class="form-label"> E-mail ID [Personal - 1] </label>
                    <input class="form-control" type="email" formControlName="empEmailPersonal1" />
                </div>
                <div class="col-md-4">
                    <label class="form-label"> E-mail ID [Personal - 2] </label>
                    <input class="form-control" type="email" formControlName="empEmailPersonal2" />
                </div>
            </div>
        </div>
        <hr class="row line-border mb-4" />

        <div class="row mb-4">
            <div class="col-6">
                <button class="plusIconSvg btn btn-primary me-1"></button>
                <button class="btn btn-primary me-5 px-4" type="button" (click)="openAdditionalInfoModal()">
                    Additional Info
                </button>
                <!-- </div> -->
                <!-- <div class="col-3"> -->
                <button class="plusIconSvg btn btn-primary me-1"></button>
                <button class="btn btn-primary me-5 px-4" type="button" (click)="openJoiningDetailsInfoModal()">
                    Joining Details
                </button>
            </div>
            <div *ngIf="!['view'].includes(action)" class="col-6 text-end">
                <button class="btn btn-primary px-5 me-3" type="button" (click)="reset()">Reset</button>
                <button
                    class="btn btn-primary px-5"
                    type="button"
                    (click)="submit()"
                    [ngClass]="{'d-none': action == 'View'}"
                >
                    Save
                </button>
            </div>
        </div>
    </div>
</form>
