<div class="modelPage">
    <div class="modal-header">
        <div *ngIf="bookSalesOrder != 'Book Sales Order'" class="heading">Delivery Schedule</div>
        <div *ngIf="bookSalesOrder == 'Book Sales Order'" class="heading">Dispatch Schedule</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="dismissModel()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row px-5 mt-5">
            <div class="ps-0 col-6">
                <div class="d-flex align-items-center">
                    <div *ngIf="bookSalesOrder != 'Book Sales Order'" class="col-form-label text-nowrap">
                        PO Qty.
                        <i class="fa fa-caret-right fa-5x mx-1"></i>
                    </div>
                    <div *ngIf="bookSalesOrder == 'Book Sales Order'" class="col-form-label text-nowrap">
                        SO Qty.
                        <i class="fa fa-caret-right fa-5x mx-1"></i>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="POQty" readonly />
                </div>
            </div>
            <div class="col-6 pe-0">
                <div class="d-flex align-items-center">
                    <div
                        *ngIf="bookSalesOrder != 'Book Sales Order'"
                        for="deliveryCount"
                        class="col-form-label text-nowrap"
                    >
                        Del. Count
                        <i class="fa fa-caret-right fa-5x mx-1"></i>
                    </div>
                    <div
                        *ngIf="bookSalesOrder == 'Book Sales Order'"
                        for="deliveryCount"
                        class="col-form-label text-nowrap"
                    >
                        Delivery Count
                        <i class="fa fa-caret-right fa-5x mx-1"></i>
                    </div>
                    <input
                        (input)="setTable()"
                        [disabled]="!['create', 'edit'].includes(action)"
                        type="number"
                        class="form-control"
                        [(ngModel)]="deliveryCount"
                        id="deliveryCount"
                        name="deliveryCount"
                        min="1"
                        max="5"
                        [readOnly]="SOType == 'Regular' || POType == 'Standard PO'"
                    />
                </div>
            </div>
        </div>
        <div class="row mt-4 px-5">
            <div style="min-height: 25rem" class="table-responsive ps-0 pe-0">
                <table class="table table-bordered table-sticky">
                    <thead class="bg-primary">
                        <tr class="text-white">
                            <th>Schedule #</th>
                            <th>Quantity</th>
                            <th>UoM</th>
                            <th *ngIf="bookSalesOrder != 'Book Sales Order'">Delivery Date</th>
                            <th *ngIf="bookSalesOrder == 'Book Sales Order'">Expected Dispatch Date</th>
                            <th *ngIf="bookSalesOrder == 'Book Sales Order'">PPIC Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let u of deliveryScheduleArr; let i = index">
                            <td>{{ u?.scheduleNo }}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <span *ngIf="['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)">
                                        {{ u?.quantity | number : "1.2-2" }}
                                    </span>
                                    <input
                                        type="number"
                                        class="form-control form-control-sch w-25"
                                        *ngIf="!['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)"
                                        [(ngModel)]="u.quantity"
                                        [ngModelOptions]="{standalone: true}"
                                        (input)="setQuantity(i)"
                                    />
                                </div>
                            </td>
                            <td>{{ u?.UOM | UOMUnitsMaster }}</td>
                            <td *ngIf="bookSalesOrder != 'Book Sales Order'">
                                <div class="d-flex justify-content-center">
                                    <span *ngIf="['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)">
                                        {{ u?.deliveryDate | date : "dd-MM-YYY" }}
                                    </span>
                                    <input
                                        [min]="minDate.toISOString().split('T')[0]"
                                        type="date"
                                        class="form-control form-control-sm w-25"
                                        *ngIf="!['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)"
                                        [(ngModel)]="u.deliveryDate"
                                        [ngModelOptions]="{standalone: true}"
                                    />
                                </div>
                            </td>
                            <td *ngIf="bookSalesOrder == 'Book Sales Order'">
                                <div class="d-flex justify-content-center">
                                    <span *ngIf="['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)">
                                        {{ u?.dispatchDate | date : "dd-MM-YYY" }}
                                    </span>
                                    <input
                                        [min]="minDate.toISOString().split('T')[0]"
                                        type="date"
                                        class="form-control form-control-sm w-25"
                                        *ngIf="!['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)"
                                        [(ngModel)]="u.dispatchDate"
                                        [ngModelOptions]="{standalone: true}"
                                    />
                                </div>
                            </td>
                            <td *ngIf="bookSalesOrder == 'Book Sales Order'">
                                <div class="d-flex justify-content-center">
                                    <span *ngIf="['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)">
                                        {{ u?.PPICDate | date : "dd-MM-YYY" }}
                                    </span>
                                    <input
                                        [min]="minDate.toISOString().split('T')[0]"
                                        type="date"
                                        class="form-control form-control-sm w-25"
                                        *ngIf="!['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)"
                                        [(ngModel)]="u.PPICDate"
                                        [ngModelOptions]="{standalone: true}"
                                    />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0">
                <hr *ngIf="!['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)" class="line-border" />
            </div>
        </div>
        <div class="row">
            <div
                *ngIf="!['approve', 'reject', 'view', 'generate', 'cancel'].includes(action)"
                class="col-12 text-center pb-3"
            >
                <button (click)="dismissModel()" class="btn btn-primary">Save & Close</button>
            </div>
        </div>
    </div>
</div>
