<div class="modelPage">
  <div class="modal-header">
    <div class="heading">Alert Message</div>
    <div>
      <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="activeModal.close(itemCodes)">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col px-0">
          <h4>{{alertMessage}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>