<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Offtake Qty</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="this.activeModal.close()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 px-0">
                    <div class="row px-5 mt-5">
                        <div class="col-6 mt-1 pe-0">
                            <label class="form-label text-nowrap">Monthly off-take Quantity</label>
                        </div>
                        <div class="col-1 px-0">
                            <i class="fa fa-caret-right mt-1 text-secondary"></i>
                        </div>
                        <div class="col-5 ps-0">
                            <input
                                type="number"
                                class="form-control"
                                [(ngModel)]="monthlyOffTakeQty"
                                [disabled]="action == 'view'"
                            />
                        </div>
                    </div>
                    <div class="row px-5 mt-5">
                        <div class="col-6 mt-1 pe-0">
                            <label class="form-label text-nowrap">Annual off-take Quantity</label>
                        </div>
                        <div class="col-1 px-0">
                            <i class="fa fa-caret-right mt-1 text-secondary"></i>
                        </div>
                        <div class="col-5 ps-0">
                            <input
                                type="number"
                                class="form-control"
                                [(ngModel)]="annualOffTakeQty"
                                [disabled]="action == 'view'"
                            />
                        </div>
                    </div>
                </div>
                <div class="row px-0">
                    <div class="col px-0">
                        <hr class="line-border mt-5 mb-4" />
                    </div>
                </div>
                <div class="text-center">
                    <button
                        [disabled]="action == 'view'"
                        class="btn bg-primary px-5 mb-4"
                        type="button"
                        (click)="dismissModel()"
                    >
                        Save & Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
