.form-header{
    font-size: 1.4rem !important;
    font-weight: 400 !important;
    padding: 0.15rem 0.7rem;
    margin-bottom: 0 !important;
    color: white;
    background-color: #FA0096;
}

.popupbutton{
    padding-left: 10.5rem !important;
   

}
