<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">Department Master [{{ this.action | titlecase }}]</div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col">
                    <label class="form-label">Department Code <span class="text-danger">*</span></label>
                    <input class="form-control" formControlName="departmentCode" readonly />
                </div>
                <div class="col">
                    <label class="form-label">Department Name <span class="text-danger">*</span></label>
                    <input class="form-control" formControlName="departmentName" />
                </div>
                <div class="col">
                    <label class="form-label">Description <span class="text-danger">*</span></label>
                    <input class="form-control" formControlName="description" />
                </div>
                <div class="col">
                    <label class="form-label">Department Head <span class="text-danger">*</span></label>
                    <input class="form-control" formControlName="departmentHead" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="form-label">Total Employees<span class="text-danger">*</span></label>
                    <input class="form-control" type="number" formControlName="totalEmployee" />
                </div>
                <div class="col">
                    <label class="form-label">Contact No.<span class="text-danger"></span></label>
                    <input class="form-control" type="text" formControlName="contactNo" />
                </div>
                <div class="col">
                    <label class="form-label">Email Address<span class="text-danger"></span></label>
                    <input class="form-control" type="email" formControlName="email" />
                </div>
                <div class="col">
                    <label class="form-label">
                        Office Location
                        <span class="text-danger">*</span></label
                    >
                    <select class="form-select" formControlName="officeLocation">
                        <option value="null" selected disabled>Select Office Location</option>
                        <option *ngFor="let s of masterData?.locationOptions" [value]="s.value">
                            {{ s?.label }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <hr class="row line-border" />
        <div class="row">
            <div class="col-6">
                <div class="d-flex col content-start">
                    <div class="d-grid col-md-4">
                        <button type="button" class="btn btn-primary" (click)="openSub()">Add Sub Department</button>
                    </div>

                    <div class="col-4 d-flex align-items-center ms-4">
                        <input
                            formControlName="goodsTransferRequest"
                            class="form-check-input me-2 mt-0 pointer"
                            type="checkbox"
                        />
                        <label class="form-check-label text-nowrap" for="flexCheckDefault">
                            Goods Transfer Request
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div *ngIf="action !== 'view'" class="d-flex justify-content-end">
                    <div class="d-grid col-md-2 mx-5" [ngClass]="{'d-none': action == 'View'}">
                        <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                    </div>
                    <div class="d-grid col-md-2" [ngClass]="{'d-none': action == 'View'}">
                        <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
