<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label>Customer Info</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col">
                    <label class="form-label"> Customer Code <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" formControlName="customerCode" readonly />
                </div>
                <div class="col">
                    <label class="form-label">
                        Customer Name
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="customerName" />
                </div>
                <div class="col">
                    <label class="form-label">
                        Customer Nick Name
                        <span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" formControlName="customerNickName" />
                </div>
                <div class="col">
                    <!-- <label class="form-label">
                        Customer Category
                        <span class="text-danger">*</span>
                    </label> -->

                    <label class="form-label mb-1 d-flex justify-content-between">
                        Customer Category <span class="text-danger">*</span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <button
                            *ngIf="this.form?.controls['customerCategory']?.value?.includes('Exports')"
                            (click)="openExportDetailsModal()"
                            type="button"
                            class="btn btn-primary form-btn-sm py-0"
                        >
                            Export Details
                        </button>
                    </label>
                    <select
                        (change)="customerCategoryForExports()"
                        formControlName="customerCategory"
                        class="form-select"
                    >
                        <option [value]="null" selected disabled>Select Type</option>
                        <option *ngFor="let c of masterData?.salesCategoryOptions" [value]="c.value">
                            {{ c.label }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Region/Zone </label>
                    <select formControlName="region" class="form-select">
                        <option [value]="null" selected disabled>Select Region</option>
                        <option *ngFor="let c of masterData?.zones" [value]="c.value">
                            {{ c.label }}
                        </option>
                    </select>
                </div>

                <div class="col">
                    <label class="form-label">
                        GST Classification
                        <span class="text-danger">*</span>
                    </label>

                    <select class="form-select" formControlName="GSTClassification">
                        <option [value]="null" selected disabled>GST Classification</option>
                        <option *ngFor="let g of masterData?.gstClassifications" [value]="g.value">
                            {{ g.label }}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label"> GSTIN <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" formControlName="GSTIN" (input)="setPANNumber()" />
                </div>
                <div class="col">
                    <label class="form-label"> PAN No. <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" formControlName="customerPAN" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label"> Currency <span class="text-danger">*</span> </label>

                    <select class="form-select" formControlName="customerCurrency">
                        <option [value]="null" selected disabled>Select</option>
                        <option [value]="item.value" *ngFor="let item of masterData?.currenciesOptions">
                            {{ item.label }}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label">Credit Limit </label>
                    <input type="text" class="form-control" formControlName="creditLimit" />
                </div>
                <div class="col">
                    <label class="form-label"> Payment Terms <span class="text-danger">*</span> </label>

                    <select class="form-select" formControlName="customerPaymentTerms">
                        <option [value]="null" selected disabled>Select</option>
                        <option [value]="item.value" *ngFor="let item of masterData?.paymentTermsOptions">
                            {{ item.label }}
                        </option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-label">
                        Status
                        <span class="text-danger">*</span>
                    </label>
                    <div class="d-flex">
                        <select class="form-select statusSelectBorder" formControlName="isCustomerActive">
                            <option [value]="null" selected disabled>Select Status</option>
                            <option [value]="'A'">Active</option>
                            <option [value]="'I'">Inactive</option>
                        </select>
                        <span class="input-group-text statusSpanHeight">
                            <div *ngIf="form.value['isCustomerActive'] == 'A'" class="statusActive"></div>
                            <div *ngIf="form.value['isCustomerActive'] == 'I'" class="statusInActive"></div>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mt-4 d-flex justify-content-start">
                <h4 class="mb-1 me-3 form-label customerHeading">Bill To Address</h4>
                <span>
                    <img src="./assets/new_icons/redstroke.svg" alt="" height="18" width="8" />
                </span>
                <h4 class="ms-3 openModelLink pointer text-primary" (click)="open()">
                    Click here to add Ship to Address(if other than Bill to address)
                </h4>
            </div>
        </div>
        <hr class="row line-border" />
        <ng-container formGroupName="customerBillingAddress">
            <div class="row">
                <div class="col">
                    <label class="form-label"> Country <span class="text-danger">*</span> </label>
                    <select
                        *ngIf="this.form?.controls['customerCategory']?.value?.includes('Exports')"
                        class="form-select"
                        formControlName="country"
                    >
                        <option [value]="null" selected disabled>Select Country</option>
                        <option *ngFor="let item of masterData?.salesCountry" [value]="item.parameterName">
                            {{ item.parameterLabel }}
                        </option>
                    </select>
                    <input
                        *ngIf="
                            !this.form.controls['customerCategory'].value ||
                            this.form?.controls['customerCategory']?.value?.includes('Domestic')
                        "
                        type="text"
                        class="form-control"
                        formControlName="country"
                    />
                </div>
                <div class="col">
                    <label class="form-label"> State/Province <span class="text-danger">*</span> </label>
                    <select
                        *ngIf="
                            !this.form.controls['customerCategory'].value ||
                            this.form?.controls['customerCategory']?.value?.includes('Domestic')
                        "
                        class="form-select"
                        formControlName="state"
                    >
                        <option value="" selected disabled>Select State</option>
                        <option *ngFor="let s of statesOfIndia" [value]="s">
                            {{ s }}
                        </option>
                    </select>
                    <input
                        *ngIf="this.form?.controls['customerCategory']?.value?.includes('Exports')"
                        type="text"
                        class="form-control"
                        formControlName="state"
                    />
                </div>
                <div class="col">
                    <label class="form-label"> City/District <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" formControlName="city" />
                </div>
                <div class="col">
                    <label class="form-label"> Pin Code <span class="text-danger">*</span> </label>
                    <input
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type="number"
                        maxlength="6"
                        class="form-control"
                        formControlName="pinCode"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Address Line 1 <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" formControlName="line1" />
                </div>
                <div class="col">
                    <label class="form-label">Address Line 2 <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="line2" />
                </div>
                <div class="col">
                    <label class="form-label">Address Line 3 <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="line3" />
                </div>
                <div class="col">
                    <label class="form-label">Address Line 4 <span class="text-danger"></span></label>
                    <input type="text" class="form-control" formControlName="line4" readonly />
                </div>
            </div>
            <hr class="row line-border" />
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="d-grid col-auto">
                        <button class="btn bg-primary" type="button" (click)="openContactDetailsModal()">
                            Add Contact Details
                        </button>
                    </div>
                    <div class="d-grid col-auto">
                        <button *ngIf="action != 'view'" class="btn btn-primary px-4" type="button" (click)="submit()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</form>
