<Form class="px-2" [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label> Generate E-Invoice Entry</label>
            </div>
        </div>
        <div class="form-body">
            <div formGroupName="DocDtls" class="row">
                <div class="col-4">
                    <label class="form-label mb-0"> Sales Invoice <span class="text-danger"></span> </label>
                    <ng-select
                        [(ngModel)]="salesInvoiceId"
                        [ngModelOptions]="{standalone: true}"
                        [items]="salesInvoiceArr"
                        bindLabel="salesInvoiceNumber"
                        bindValue="_id"
                        [clearable]="false"
                        (change)="setSalesInvoice($event)"
                    >
                    </ng-select>
                </div>

                <div class="col-4">
                    <label class="form-label mb-0"> Document No. <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': docDtlsForm['controls']['No'].invalid && submitted
                        }"
                        formControlName="No"
                    />
                </div>

                <div class="col-4">
                    <label class="form-label mb-0"> Document Date<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': docDtlsForm['controls']['Dt'].invalid && submitted
                        }"
                        formControlName="Dt"
                    />
                </div>
            </div>
        </div>

        <label class="form-label">Bill From Details ( Seller Details)</label>
        <hr class="row line-border" />
        <div class="" formGroupName="SellerDtls">
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label mb-0"> GSTIN <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Gstin'].invalid && submitted
                        }"
                        formControlName="Gstin"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> Legal Name <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['LglNm'].invalid && submitted
                        }"
                        formControlName="LglNm"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> Trade Name <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['TrdNm'].invalid && submitted
                        }"
                        formControlName="TrdNm"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> Address Line 1<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Addr1'].invalid && submitted
                        }"
                        formControlName="Addr1"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> Address Line 2<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Addr2'].invalid && submitted
                        }"
                        formControlName="Addr2"
                    />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label class="form-label mb-0"> Location <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Loc'].invalid && submitted
                        }"
                        formControlName="Loc"
                    />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> Pin Code <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="number"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Pin'].invalid && submitted
                        }"
                        formControlName="Pin"
                    />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> State Code<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Stcd'].invalid && submitted
                        }"
                        formControlName="Stcd"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> Mobile No.<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Ph'].invalid && submitted
                        }"
                        formControlName="Ph"
                    />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> Email-Id<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': sellerDtlsForm['controls']['Em'].invalid && submitted
                        }"
                        formControlName="Em"
                    />
                </div>
            </div>
        </div>
        <label class="form-label">Bill To Details (Buyer Details)</label>
        <hr class="row line-border" />

        <div class="" formGroupName="BuyerDtls">
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label mb-0"> To GSTIN <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['Gstin'].invalid && submitted
                        }"
                        formControlName="Gstin"
                    />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> Legal Name <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['LglNm'].invalid && submitted
                        }"
                        formControlName="LglNm"
                    />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> Trade Name <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['TrdNm'].invalid && submitted
                        }"
                        formControlName="TrdNm"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> Place of supply<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['Pos'].invalid && submitted
                        }"
                        formControlName="Pos"
                    />
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <label class="form-label mb-0"> Address Line 1<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['Addr1'].invalid && submitted
                        }"
                        formControlName="Addr1"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> Address Line 2<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['Addr2'].invalid && submitted
                        }"
                        formControlName="Addr2"
                    />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> Location <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['Loc'].invalid && submitted
                        }"
                        formControlName="Loc"
                    />
                </div>

                <div class="col">
                    <label class="form-label mb-0"> Pin Code <span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="number"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['Pin'].invalid && submitted
                        }"
                        formControlName="Pin"
                    />
                </div>
                <div class="col">
                    <label class="form-label mb-0"> State Code<span class="text-danger"></span> </label>
                    <input
                        class="form-control"
                        type="text"
                        [ngClass]="{
                            'is-invalid': buyerDtlsForm['controls']['Stcd'].invalid && submitted
                        }"
                        formControlName="Stcd"
                    />
                </div>
            </div>
        </div>

        <hr class="row line-border my-3" />

        <div class="row mb-0">
            <div class="col-8">
                <button class="btn bg-primary" type="button" (click)="openValueDetailsModal()">Value Details</button>
                <button class="btn bg-primary ms-4" type="button" (click)="openItemDetailsModal()">Item Details</button>

                <button class="btn bg-primary ms-4" type="button" (click)="openDispatchShipDetailsModal()">
                    Dispatch & Ship Details
                </button>
            </div>

            <div class="col-4 mb-0 align-self-end">
                <div class="row">
                    <div *ngIf="action !== 'view'" class="d-grid col pe-0">
                        <button
                            class="btn btn-primary"
                            type="button"
                            (click)="reset()"
                            [ngClass]="{'d-none': action == 'View'}"
                        >
                            Reset
                        </button>
                    </div>

                    <div *ngIf="action !== 'view'" class="d-grid col">
                        <button
                            appAccessControl
                            [accessType]="rolePermissionActions.createAction"
                            class="btn btn-primary"
                            type="button"
                            (click)="submit()"
                            [ngClass]="{'d-none': action == 'View'}"
                        >
                            Generate E-Invoice
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Form>
