<div class="listCard card">
    <div class="table-header">
        <label class="heading">Specification Summary</label>
    </div>

    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center">
        <button class="plusIconSvg btn btn-primary me-1"></button>
        <button
            class="btn btn-primary btn-add"
            type="button"
            (click)="navigateTo('/default/quality/master/specification_master/form', null, 'create')"
        >
            Specification
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search,type: 'list'}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="specificationCode" (sort)="onSort($event)">Specs Code</th>
                    <th class="text-start" sortable="characteristic" (sort)="onSort($event)">Inspection Parameter</th>
                    <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                    <th class="text-start" sortable="testStandard" (sort)="onSort($event)">Test Standard</th>
                    <th class="text-start" sortable="measuringInstrument" (sort)="onSort($event)">Test Method</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u?.specificationCode }}</td>
                    <td class="text-start">{{ u?.characteristic }}</td>
                    <td>{{ u?.UOM | UOMUnitsMaster }}</td>
                    <td class="text-start">{{ u?.testStandard }}</td>
                    <td class="text-start">{{ u?.measuringInstrument }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.viewAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/quality/master/specification_master/form', u?._id, 'view')
                                    "
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/quality/master/specification_master/form', u?._id, 'edit')
                                    "
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
