<div class="listCard card">
    <div class="table-header">
        <label class="heading">Ticket Summary</label>
    </div>

    <div class="text-center">
        <button
            class="btn btn-primary btn-add"
            type="button"
            (click)="navigateTo('/default/supports/master/raise-ticket/raise-ticket-form', null, 'create')"
        >
            <i class="fa fa-plus-square fa-lg me-2" aria-hidden="true"></i>
            Generate Ticket
        </button>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="issueNumber" (sort)="onSort($event)">Ticket#</th>
                    <th sortable="createdAt" (sort)="onSort($event)">Ticket Date</th>
                    <th class="text-start" sortable="issueDescription" (sort)="onSort($event)">Description</th>
                    <th class="text-start" sortable="issueResolution" (sort)="onSort($event)">Resolution</th>
                    <th sortable="issueStatus" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td>{{ u.issueNumber }}</td>
                    <td>{{ u.issueDate }}</td>
                    <td class="text-start" [style.width]="issueDescription.clientWidth" #issueDescription>
                        <span class="pointer" [ngbTooltip]="u.issueDescription" [positionTarget]="issueDescription">
                            {{ u.issueDescription }}
                        </span>
                    </td>
                    <td class="text-start" [style.width]="issueResolution.clientWidth" #issueResolution>
                        <span class="pointer" [ngbTooltip]="u.issueResolution" [positionTarget]="issueResolution">
                            {{ u.issueResolution }}
                        </span>
                    </td>
                    <td>{{ u.issueStatus }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/supports/master/raise-ticket/raise-ticket-form', u, 'view')
                                    "
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    [class.disable]="u?.issueStatus == 'Closed'"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo('/default/supports/master/raise-ticket/raise-ticket-form', u, 'edit')
                                    "
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
