<p><b>Terms & Conditions</b><br /></p>
<br />
<p>
  <b>Governing Terms: -</b> The legal relationships between the Supplier and the
  Purchaser are governed by these terms. Amendments and additions must be in
  writing. The Supplier's general terms and conditions are inapplicable even if
  not expressly rejected in a particular instance.
</p>
<br />
<p>
  <b>1) Delivery Agreements & Shipping Terms</b>
  <br />
  1.1) Agreed delivery dates & conditions are binding. The Supplier must make
  the goods available on a timely basis, as per the Qty mentioned in PO allowing
  the standard time for loading and shipping.
  <br />
  <br />
  <b>1.2) Billing & Delivery Address:</b><br />
  Integral Labels Private Limited <br />
  #127 30-31 1st Cross, Magadi Main Road,<br />
  Srigandhada Kaval, Sunkadakatte,<br />
  Bangalore-560091<br />
  <br />
  1.3) Delivery date as per P.O requirement.
  <br />
  <br />
  1.4) Penalty for Delivery Delays:
  <br />
  The Parties agree that if the parts/machinery and/or services to be supplied
  /performed hereunder are not performed and/or delivered/developed on or before
  the agreed date and as per the agreed specifications and as a result, the
  COMPANY suffers damages, the COMPANY shall claim liquidated damages from the
  Supplier.
  <br />
  <br />
  The amount of liquidated damages shall be 0.5% of the total value under this
  purchase order for every week’s delay up to a maximum of 5% of the total
  value. In case, there is a separate/ additional service level
  agreement/negotiation or supply agreement/negotiation is mutually agreed upon
  between the Parties under this clause, the terms and conditions of such
  separate agreement / negotiation in relation to this clause shall also be
  applicable.
  <br />
  <br />
  In the event the Supplier fails to execute the order as per the provisions of
  the Purchase Order/ Contract including but not limited to the contractual
  delivery time period indicated therein, the COMPANY reserves the right to
  cancel the order in part or full without any compensation and purchase/execute
  such cancelled item from alternative sources. Any extra cost incurred by the
  COMPANY on such purchases/services shall be recovered from the Supplier with
  cost incurred by the COMPANY either by way of deduction from pending bills or
  future bills (from future work orders) by the COMPANY or by means of separate
  remittance.
  <br />
  <br />
  1.5) Delivery Terms: FCA Free Carrier.
  <br />
  Validity of Contract: - The agreed date for completion of work as is mentioned
  above in clause 1.3. However, in case of delay in execution of work within
  stipulated time, this PO will be valid till the work gets completed. Agreed
  Penalty will be applicable on the original completion date mentioned in the
  penalty clause.
  <br />
  <br />
</p>
<p>
  <b>2) Payment:</b>
  <br />
  2.1) To avoid delay in payments please ensure all original invoices will be
  submitted to our <b>"Accounts Department"</b> only and Purchase order number
  is appearing on each invoice and other commercial documents.
  <br />
  2.2) Payment Terms: As mentioned in the front sheet of Purchase Order.
  <br />
  <br />
</p>

<p>
  <b>3) Documents:</b>
  <br />
  3.1 Along with material the following documents to be submitted as applicable.
  <br />
  TC – Test Certificate <br />
  TDS- Technical Data Sheet <br />
  MSDS-Material Safety Data Sheet <br />
  ROHS-Restrictions of Hazardous Substances <br />
  REACH -Registration Evaluation, Authorisation and restriction of Chemicals.
  <br />
  3.2 Invoice should carry GST number, complete address HSN codes, Material
  description with specification.
  <br />
  3.3 If the invoice value crosses more than Rs.50000/- E-way bill is required.
  <br />
  <br />
</p>

<p>
  <b>4) Conflict of interest:</b><br />
  The Supplier warrants that at the date of entering the Purchase Order/
  Contract, it does not and is not likely to have a conflict of interest (direct
  or indirect or through a third-party Supplier) in the performance of its
  obligations under the Purchase Order/Contract. If a conflict or risk of
  conflict of interest arises (without limitation, because of work undertaken
  for any person or otherwise) the Supplier will immediately give notice of such
  conflict of interest, or the risk of it, to the COMPANY in writing.
  <br />
  <br />
  <b>5) Liability:</b><br />
  The liability of Supplier shall be limited to the contract value / order
  value. Such limitation of liability shall not be applicable for any claims
  that relate to non-compliance of any rules and regulations on the part of
  Supplier,
  <br />
  breach of confidentiality requirements, claims of personal injury or stoppage
  of production due to nonreceipt of goods / service supplied by the Supplier
  under this Purchase Order / Contract.<br />
  <br />
  <b> 6) Right to Impose Penalty/Debit Notes:</b><br />
  The COMPANY shall impose appropriate penalty for any violation of terms and
  conditions contained in any service or supply agreement to the Supplier, the
  debit note if received or acknowledged by any of Supplier’s representative,
  shall be final and conclusive evidence of debit. Taxes as applicable, if any,
  shall be charged in addition to the penalty levied.
  <br />
  <br />
  <b>7) Withholding of payment:</b><br />
  The COMPANY shall be entitled to withhold the payment made to the Supplier, in
  case where the Supplier has not fulfilled its obligation under the Purchase
  Order/Contract or in case the dues payable to the COMPANY exceeds the claim of
  the Supplier. The Supplier shall quote Original Invoices for fast & smooth
  payments
  <br />
  <br />
</p>

<p>
  <b>8) Dispute Resolution & Jurisdiction:</b> <br />
  Any dispute or difference or claims of any kind between the Parties arising
  out of or in relation to this Purchase Order or Contract, whether before or
  after the termination of this Purchase Order or the Contract, shall be
  resolved in the first instance through amicable discussions between the
  representatives of the Parties who shall meet together promptly, at the
  request of any Party, in an effort to mutually resolve such dispute,
  difference or claim by discussion between them. If the dispute is not resolved
  through the amicable discussions provided for above within thirty [30] days
  from the date of commencement of such discussions or such longer period as the
  Parties agree in writing, then either Party may refer the dispute to
  arbitration in accordance with the Arbitration and Conciliation Act, 1996
  along with any amendments thereto in effect on the date of the dispute. Such
  arbitral reference shall be to a sole Arbitrator to be jointly appointed by
  the Parties. The venue and seat of arbitration shall be Mumbai. The
  Arbitration proceedings shall be conducted in English and the award passed
  shall also be in English. Any decision or award resulting from arbitration
  shall be subject to the provisions of the Arbitration and Conciliation Act,
  1996 along with any amendments thereto in effect on the date of the dispute
  and rules framed thereunder and shall be final and binding upon the Parties.
  The fees and expenses of the Arbitrator and all the other expenses of the
  arbitration shall be borne and paid equally by the respective Parties, subject
  to the final determination of costs by the Arbitrator. The Arbitrator may
  provide in the arbitral award for the reimbursement to the prevailing Party of
  its costs and expenses in bringing or defending the arbitration claim,
  including legal fees and expenses incurred by a Party.
  <br />
  Governing Law and Jurisdiction:
  <br />
  All matters referred to above shall be subject to laws governed in India and
  shall be subject to the exclusive jurisdiction of courts in Bangalore only.
  <br />
  <br />
</p>
<p>
  <b>9) Confidentiality:</b> <br />
  The Supplier agrees to treat as business secrets all commercial and technical
  information of which it becomes aware by reason of their business
  relationships unless such information is common knowledge.<br />
  i) Drawings, models, jigs and templates, sample parts, or similar property may
  not be provided or otherwise made available to unauthorized third parties. The
  reproduction of such property is permissible only within the<br />
  limits of business requirements and copyright law.<br />
  ii) Analogous obligations must be imposed on sub-suppliers.<br />
  iii) The Supplier may only use their business relationship for advertising
  purposes with prior written consent of the COMPANY. In case of breach of the
  Purchase Order by the Supplier due to above conditions, then in that case
  recovery of monetary damages may be an insufficient and inadequate remedy for
  the COMPANY, in which case the COMPANY may, without waiving any rights or
  remedies, apply to the court of competent jurisdiction for an injunction to
  prevent or restrain breach of the Purchase Order/ Contract by the Supplier.<br />
  <br />
</p>

<p>
  <b>10) Quality Assurance:</b> <br />
  10.1 Quality approvals shall be as per relevant Drawing / Quality Plan from
  Purchaser.<br />
  10.2 The Supplier shall take the onus to make available, for all the lots
  Supplied, test certificate wherever applicable according to the Purchaser
  Drawings and Quality documents or where not specifically mentioned, to
  Standard industry practice. The Supplier shall ensure that the relevant test
  certificates/reports, inspection reports, conformity certificates etc. should
  reach the Purchaser on or before the arrival of materials to the Purchaser.<br />
  10.3 It is agreed that Supplier has completed the works and supplied the goods
  after due conformance testing according to the Purchaser specifications,
  industry norms and standards, and found the results acceptable in all
  respects. The delivery to the Purchaser, therefore, would be on self-certified
  basis.<br />
  10.4 In view of 10.2 above, and irrespective of any warranty coverage and
  other conditions in force, the Supplier shall conduct any desired repeat tests
  within 15 days of our demand in writing. In case of inability to prove the
  performance up to testing benchmarks, the Purchaser reserves the right to
  summarily reject the supply/work.<br />
  10.5 If any rejection or non-conformity is observed in a subsequent stage
  after initial acceptance, those rejections shall be debited to the
  Supplier.<br />
  10.6 Test certificates and results produced by the Supplier will be required
  to be accepted by the Purchaser before they can be considered as a final and
  conclusive evidence of proof of performance. In case of goods supplied against
  a performance warranty/guarantee, the field performance would have to confirm
  to the same within the warranty/performance guarantee period and to the extent
  of physical depreciation as assessed by a Certified Chartered Engineer
  acceptable to the Purchaser after the expiry of the warranty/performance
  guaranty period.<br />
  10.7 The Supplier shall use raw materials as given in the drawing or
  equivalent approved by the Purchaser in writing.<br />
  10.8 The Supplier shall acknowledge any NCRs (Non-Conformity Reports) from the
  Purchaser within 3 working days for containment action and submit root cause
  analysis and corrective actions within 10 working days.<br />
  10.9 Supplier shall ensure that materials with shelf life should have a
  minimum of 80% valid life at the time of despatch.<br />
  10.10 All the rejected goods shall be taken back by the Supplier within a
  period of 7 days from the date of receipt of notice of rejection from the
  Purchaser. The expenses to be incurred in respect thereof shall be borne
  entirely by the Supplier.<br />
  10.11 The Purchaser shall have the right to require the Supplier to replace
  the rejected goods within such time as may be stipulated by the Purchaser or
  terminate the contract without prejudice to its other rights and remedies.<br />
  10.12 The Supplier shall lift the rejected material from the Purchaser’s
  premises within 7 days from the date of this notification. If the Supplier
  fails to lift the material within such stipulated time, the Purchaser shall
  not be responsible or be held liable for any loss or deterioration of the
  material. Further, the Supplier shall pay to the Purchaser reasonable storage
  charges for storing such rejected material for the period beyond 7 days from
  the date of this notification.
</p>
