<Form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label> {{ this.action | titlecase }} Maintenance Schedule Creation</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label"> Schedule Code <span class="text-danger"></span> </label>
                    <input class="form-control" type="text" formControlName="scheduleCode" readonly />
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Schedule Name <span class="text-danger"></span> </label>

                    <input class="form-control" type="String" formControlName="scheduleName" />
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Equipment Name <span class="text-danger"></span> </label>

                    <ng-select
                        [items]="masterData.equipmentListOptions"
                        bindLabel="assetName"
                        bindValue="_id"
                        [clearable]="false"
                        formControlName="equipment"
                    >
                    </ng-select>
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Maintenance Task Name <span class="text-danger"></span> </label>

                    <ng-select
                        [items]="masterData.maintenanceTaskCodeOptions"
                        bindLabel="taskName"
                        bindValue="_id"
                        [clearable]="false"
                        formControlName="maintenanceTask"
                    >
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label"> Frequency<span class="text-danger"></span> </label>
                    <ng-select
                        [items]="masterData.frequencyOptions"
                        bindLabel="label"
                        bindValue="value"
                        [clearable]="false"
                        formControlName="frequency"
                    >
                    </ng-select>
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Start Date <span class="text-danger"></span> </label>

                    <input class="form-control" type="date" formControlName="startDate" />
                </div>
                <div class="col-md-3">
                    <label class="form-label"> End Date <span class="text-danger"></span> </label>

                    <input class="form-control" type="date" formControlName="endDate" />
                </div>
                <div class="col-md-3">
                    <label class="form-label"> Description <span class="text-danger"></span> </label>

                    <input class="form-control" type="text" formControlName="description" />
                </div>
            </div>
        </div>
        <hr *ngIf="!['view'].includes(action)" class="row line-border" />
        <div class="d-flex justify-content-center mb-3">
            <div
                *ngIf="!['view', 'edit'].includes(action)"
                class="d-grid col-md-1 me-5"
                [ngClass]="{'d-none': action == 'View'}"
            >
                <button class="btn btn-primary" type="button" (click)="reset()">Reset</button>
            </div>
            <div
                *ngIf="['create', 'edit'].includes(action)"
                class="d-grid col-md-1"
                [ngClass]="{'d-none': action == 'View'}"
            >
                <button class="btn btn-primary" type="button" (click)="submit()">Save</button>
            </div>
        </div>
    </div>
</Form>
