<div class="container-fluid printScreen">
    <div class="row">
        <div class="col-12 text-center px-0">
            <div *ngIf="buttonCondition == 'true'" class="">
                <button
                    appAccessControl
                    [accessType]="rolePermissionActions.downloadAction"
                    class="btn btn-primary mt-4"
                    type="button"
                    (click)="windowPrint()"
                    *ngIf="pdfAction != 'pdf'"
                >
                    <img src="/assets/images/print.png" width="20px" height="14px" class="mb-2" />&nbsp;&nbsp; Print
                </button>
            </div>

            <div
                class="page py-3"
                [ngStyle]="
                    previewDraft == 'previewDraf'
                        ? {
                              background: 'url(./assets/new_icons/draft-stamp.svg)',
                              'background-size': '100% 100%',
                              'background-color': 'transparent'
                          }
                        : {}
                "
            >
                <div class="table-responsive shadow">
                    <table class="table">
                        <tr>
                            <td colspan="12">
                                <div class="row d-flex justify-content-between">
                                    <div class="text-start col-4">
                                        <img src="{{ tableData.company.logoUrl }}" width="150px" />
                                    </div>
                                    <div class="col-4 d-flex align-items-center justify-content-center">
                                        <h2 class="page-title">Work Order for Job Work</h2>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </td>
                            <!-- <td colspan="4" class="border-end-0">
                                <div class="text-start">
                                    <img src="{{ tableData.company.logoUrl }}" width="150px" />
                                </div>
                            </td>

                            <td colspan="8" class="border-start-0">
                                <h2 class="page-title d-flex align-items-center">Work Order for Job Work</h2>
                            </td> -->
                        </tr>
                        <tr>
                            <td colspan="6">
                                <p class="sub-text">Work Order No.:{{ tableData.WONo }}</p>
                                <p class="sub-text">Work Order Date:{{ tableData.WODate | date : "dd-MM-YYYY" }}</p>
                            </td>
                            <td colspan="6">
                                <p class="sub-text">Order Reference:{{ tableData.orderReference }}</p>
                                <p class="sub-text">Place of Supply:{{ tableData.placeOfSupply }}</p>
                            </td>
                        </tr>
                        <tr class="head-row">
                            <th colspan="6" class="bg-grey">
                                <label class="heading sub-text">Details of the Principal (Bill To)</label>
                            </th>
                            <th colspan="6" class="bg-grey">
                                <label class="heading sub-text">Details of the Principal (Ship To)</label>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="font_le">
                                    <p class="fw-bold">
                                        {{ tableData.billToCompany.companyName }}
                                    </p>
                                    <p>
                                        {{ tableData.billToCompany.line1 }}
                                    </p>
                                    <p>{{ tableData.billToCompany.line2 }}</p>
                                    <p>{{ tableData.billToCompany.line3 }}</p>
                                    <p>
                                        {{ tableData.billToCompany.line4 }},
                                        {{ tableData.billToCompany.city }}
                                    </p>
                                    <p>
                                        {{ tableData.billToCompany.state }} - {{ tableData.billToCompany.pinCode }},
                                        {{ tableData.billToCompany.country }}
                                    </p>
                                    <p class="sub-text">
                                        GSTIN:
                                        {{ tableData.billToCompany.GSTIN }}
                                    </p>
                                </div>
                            </td>
                            <td colspan="6">
                                <div class="font_le">
                                    <p class="fw-bold">
                                        {{ tableData.shipToCompany.companyName }}
                                    </p>
                                    <p>
                                        {{ tableData.shipToCompany.city }}
                                    </p>
                                    <p>{{ tableData.shipToCompany.line1 }}</p>
                                    <p>{{ tableData.shipToCompany.line2 }}</p>
                                    <p>
                                        {{ tableData.shipToCompany.line3 }},
                                        {{ tableData.shipToCompany.line4 }}
                                    </p>
                                    <p>
                                        {{ tableData.shipToCompany.state }} - {{ tableData.shipToCompany.pinCode }},
                                        {{ tableData.shipToCompany.country }}
                                    </p>
                                    <p class="sub-text">
                                        GSTIN:
                                        {{ tableData.shipToCompany.GSTIN }}
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr class="head-row">
                            <th colspan="6">
                                <label class="sub-text">Details of the Job Worker (Bill From)</label>
                            </th>
                            <th colspan="6">
                                <label class="sub-text">Details of the Job Worker (Ship From)</label>
                            </th>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <p class="fw-bold">
                                    {{ tableData.jobWorkerName }}
                                </p>
                                <p>{{ tableData.billFromJobWorker.line1 }}</p>
                                <p>{{ tableData.billFromJobWorker.line2 }}</p>
                                <p>{{ tableData.billFromJobWorker.line3 }}</p>
                                <p>
                                    {{ tableData.billFromJobWorker.line4 }},
                                    {{ tableData.billFromJobWorker.city }}
                                </p>
                                <p>
                                    {{ tableData.billFromJobWorker.state }}- {{ tableData.billFromJobWorker.pinCode }},
                                    {{ tableData.billFromJobWorker.country }}
                                </p>
                                <p class="sub-text">
                                    GSTIN:
                                    {{ tableData.GSTINNo }}
                                </p>
                            </td>
                            <td colspan="6">
                                <p class="fw-bold">
                                    {{ tableData.jobWorkerName }}
                                </p>
                                <p>
                                    {{ tableData.shipFromJobWorker.line1 }}
                                </p>
                                <p>{{ tableData.shipFromJobWorker.line2 }}</p>
                                <p>{{ tableData.shipFromJobWorker.line3 }}</p>
                                <p>
                                    {{ tableData.shipFromJobWorker.line4 }},
                                    {{ tableData.shipFromJobWorker.city }}
                                </p>
                                <p>
                                    {{ tableData.shipFromJobWorker.state }} - {{ tableData.shipFromJobWorker.pinCode }},
                                    {{ tableData.shipFromJobWorker.country }}
                                </p>

                                <p class="sub-text">
                                    GSTIN:
                                    {{ tableData.GSTINNo }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <p class="sub-text">
                                    Dear Sir/Madam,<br />
                                    Please supply following processed goods/material in accordance with agreed terms and
                                    conditions or job work agreement.<br />
                                    Please mention our Item code & Work Order number on your tax invoice without which
                                    invoice will not be processed.<br />
                                    Please send the material along with valid Test Report
                                </p>
                            </td>
                        </tr>
                        <ng-container *ngFor="let p of tableData.WODetails; let i = index">
                            <tr class="head-row text-center">
                                <th colspan="1" class="text-center set-SN-width">SN</th>
                                <th colspan="11">Description of Job Work</th>
                            </tr>
                            <tr>
                                <td rowspan="10" class="text-center">
                                    {{ i + 1 }}
                                </td>
                                <td colspan="3">Nature of Job Work</td>
                                <td colspan="8">{{ p.SACInfo.natureOfJobWork }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">SAC Code</td>
                                <td colspan="8">{{ p.SACInfo.SACCode }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">GST Rate</td>
                                <td colspan="8">{{ p.SACInfo.gstRate }}</td>
                            </tr>
                            <tr>
                                <th colspan="11" class="text-start">Details of Part to be Manufactured/Processed</th>
                            </tr>
                            <tr>
                                <td colspan="3">JW Item Code</td>
                                <td colspan="4">{{ p.jobWorkItemCode }}</td>
                                <td colspan="2">Quantity</td>
                                <td colspan="2">{{ p.quantity }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">JW Item Name</td>
                                <td colspan="4">{{ p.jobWorkItemName }}</td>
                                <td colspan="2">Process Rate/Unit</td>
                                <td colspan="2">{{ p.processRatePerUnit }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">JW Item Description</td>
                                <td colspan="4">{{ p.jobWorkItemDescription }}</td>
                                <td colspan="2">Discount %</td>
                                <td colspan="2">{{ p.discountPercent }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">Drawing No.</td>
                                <td colspan="4">{{ p.drawingNo }}</td>
                                <td colspan="2">Net Rate/Unit</td>
                                <td colspan="2">{{ p.netRatePerUnit }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">HSN Code</td>
                                <td colspan="4">{{ p.HSNInfo.HSNCode }}</td>
                                <td colspan="2">Taxable Value</td>
                                <td colspan="2">{{ p.taxableValue }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">UoM</td>
                                <td colspan="4">{{ p.UOM }}</td>
                                <td colspan="2">Delivery Date</td>
                                <td colspan="2">
                                    {{
                                        p.deliveryDate == "Refer Schedule"
                                            ? "Refer Schedule"
                                            : (p.deliveryDate | date : "dd-MM-YYYY")
                                    }}
                                </td>
                            </tr>
                        </ng-container>

                        <tr>
                            <td colspan="12" style="height: 2rem"></td>
                        </tr>

                        <tr class="py-1">
                            <td colspan="12">
                                <div class="row justify-content-between my-3">
                                    <div class="col-6 p-0 pe-4">
                                        <table class="table">
                                            <tr>
                                                <th colspan="12" class="py-2">General Terms & Conditions</th>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="py-2">Payment Terms</td>
                                                <td colspan="6" class="py-2">
                                                    {{ tableData.paymentTerms }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="py-2">Freight Terms</td>
                                                <td colspan="6" class="py-2">
                                                    {{ tableData.freightTerms }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="py-2">WO Remarks</td>
                                                <td colspan="6" class="py-2">
                                                    {{ tableData.WORemarks }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-6 text-center p-0">
                                        <table class="table">
                                            <tr>
                                                <td rowspan="4" class="text-center">
                                                    <img
                                                        src="{{ tableData.company.companySignatureUrl }}"
                                                        class="img-sign"
                                                    />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <!-- <app-jw-order-schedule-print-screen
                                    class="px-0"
                                    [tableData]="tableData"
                                ></app-jw-order-schedule-print-screen> -->
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <app-jw-order-schedule-print-screen
                class="page-break px-0"
                [tableData]="tableData"
            ></app-jw-order-schedule-print-screen>
        </div>
    </div>
</div>
