<div class="modelPage">
    <div class="modal-header">
        <div class="heading">Remarks</div>
        <div>
            <button type="button" class="btn btn-cross btn-sm" aria-label="Close" (click)="this.activeModal.close()">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="">
        <form [formGroup]="form">
            <ng-container formGroupName="remarks">
                <div class="row my-4 px-5">
                    <div class="col-4">
                        <label class="form-label mb-1"> Mfg/Batch Date <span class="text-danger"></span> </label>
                        <input class="form-control" type="date" formControlName="manufacturingDate" />
                    </div>
                    <div class="col-4">
                        <label class="form-label mb-1">Shift <span class="text-danger"></span> </label>
                        <ng-select
                            [items]="shiftOptions"
                            bindValue="parameterName"
                            bindLabel="parameterLabel"
                            [clearable]="false"
                            formControlName="shift"
                        >
                        </ng-select>
                    </div>

                    <div class="col-4">
                        <label class="form-label mb-1">
                            Log Book Reference/Pg. No. <span class="text-danger"></span>
                        </label>
                        <input class="form-control" type="text" formControlName="logBookRef" />
                    </div>
                </div>

                <div class="row px-5">
                    <div class="col-4">
                        <label class="form-label mb-1"> Prepared by (Prod)<span class="text-danger"></span> </label>
                        <input class="form-control" type="text" formControlName="preparedBy" />
                    </div>
                    <div class="col-4">
                        <label class="form-label mb-1"> Checked By (QC)<span class="text-danger"></span> </label>
                        <input class="form-control" type="text" formControlName="checkedBy" />
                    </div>
                    <!-- <div class="col-4 d-flex align-items-end">
                        <button
                            [disabled]="['view', 'approve', 'reject'].includes(action)"
                            type="button"
                            class="btn bg-primary"
                        ></button>
                    </div> -->
                    <div class="col-4 mt-4">
                        <div class="d-grid">
                            <button class="btn btn-primary mt-2" type="button" (click)="openLabValuesModal()">
                                Add L a b Values
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <hr class="line-border my-4" />
        </form>

        <div class="row px-5">
            <div class="col-12 d-flex justify-content-center">
                <div class="mb-4">
                    <button
                        [disabled]="['view', 'approve', 'reject'].includes(action)"
                        type="button"
                        class="btn bg-primary px-4"
                        (click)="dismissModel()"
                    >
                        Save & Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
