<Form class="px-2" [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label> {{ this.action | titlecase }} DRN</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row mb-2">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4 pe-0">
                            <label class="form-label mb-0"> DRN No. <span class="text-danger"></span> </label>
                            <input class="form-control" type="text" formControlName="DRNNumber" readonly />
                        </div>
                        <div class="col-3 pe-0">
                            <label class="form-label mb-0"> DRN Date <span class="text-danger"></span> </label>
                            <input class="form-control" type="date" formControlName="DRNDate" readonly />
                        </div>
                        <div class="col-5">
                            <label class="form-label mb-0">
                                Customer Category <span class="text-danger">*</span>
                            </label>
                            <select class="form-select" formControlName="salesCategory" (change)="getCustomers()">
                                <option [value]="null" selected disabled>Select Category</option>
                                <option [value]="ele.value" *ngFor="let ele of masterData?.salesCategoryOptions">
                                    {{ ele.label }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3 ps-0 pe-5">
                    <label class="form-label mb-0"> Customer Name/Bill To <span class="text-danger">*</span> </label>

                    <div class="d-flex align-items-center">
                        <div class="col-11">
                            <ng-select
                                [items]="customerOptions"
                                bindLabel="customerName"
                                bindValue="_id"
                                [clearable]="false"
                                formControlName="customer"
                                (change)="customerValueChange($event)"
                            >
                            </ng-select>
                        </div>
                        <div
                            style="height: 2.9rem"
                            class="input-group-text bg-primary pointer col-auto fs-4"
                            id="basic-addon1"
                            (click)="openCustomersDetailsModal()"
                        >
                            <i class="fa fa-search text-white" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3 ps-0" formGroupName="customerShippingAddress">
                    <label class="form-label mb-0 d-flex justify-content-between">
                        Ship To <span class="text-danger">*</span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <button
                            type="button"
                            (click)="openShipToAddressModal()"
                            class="btn btn-primary px-3 form-btn-sm py-0 mb-1"
                        >
                            Address
                        </button>
                    </label>
                    <ng-select
                        [items]="shipToArr"
                        bindLabel="contactPersonName"
                        bindValue="contactPersonName"
                        [clearable]="false"
                        formControlName="contactPersonName"
                        (change)="setShipToAddress($event)"
                    >
                    </ng-select>
                </div>
            </div>
        </div>
        <hr class="row line-border" />

        <div class="">
            <app-setting-header
                [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
                (dataChange)="eventHeader($event)"
            >
            </app-setting-header>
        </div>

        <div class="table-responsive mt-0 text-wrap" style="min-height: 22rem">
            <table class="table table-bordered mt-0 table-sticky">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th sortable="SONumber" (sort)="onSort($event)">SO No.</th>
                        <th sortable="SODate" (sort)="onSort($event)">SO Date</th>
                        <th sortable="SKUNo" (sort)="onSort($event)">SKU No.</th>
                        <th class="text-start" sortable="SKUName" (sort)="onSort($event)">
                            {{ "SKU Name" | labelTranslate }}
                        </th>
                        <th class="text-start" sortable="SKUDescription" (sort)="onSort($event)">
                            {{ "SKU Description" | labelTranslate }}
                        </th>
                        <th sortable="UOM" (sort)="onSort($event)">UoM</th>
                        <th sortable="UOM" (sort)="onSort($event)">D/S</th>
                        <th sortable="SOBalancedQty" (sort)="onSort($event)">SO Bal Qty</th>
                        <th sortable="UOM" (sort)="onSort($event)">Plan Disp Dt</th>

                        <th sortable="" (sort)="onSort($event)">FG Stock</th>
                        <th sortable="dispatchQty" (sort)="onSort($event)">Disp. Qty.</th>
                    </tr>
                </thead>

                <tbody>
                    <tr
                        *ngFor="
                            let d of DRNDetailsArray
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            trackBy: trackByFn;
                            let i = index
                        "
                    >
                        <td>{{ d?.SONumber }}</td>
                        <td>{{ d?.SODate | date : "dd-MM-YYYY" }}</td>
                        <td>{{ d?.SKUNo }}</td>
                        <td class="text-start" [style.width]="SKUName.clientWidth" #SKUName>
                            <span class="pointer" [positionTarget]="SKUName" [ngbTooltip]="d.SKUName">
                                {{ d?.SKUName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="SKUDescription.clientWidth" #SKUDescription>
                            <span class="pointer" [positionTarget]="SKUDescription" [ngbTooltip]="d.SKUDescription">
                                {{ d?.SKUDescription }}
                            </span>
                        </td>
                        <td>{{ d?.UOM | SalesUOMUnitMaster }}</td>
                        <td>{{ d?.DRNLineNumber }}</td>
                        <td>{{ d?.SOBalancedQty | number : ".2-2" }}</td>
                        <td>{{ d?.plannedDispatchDt | date : "dd-MM-YYYY" }}</td>

                        <td class="align-self-center">
                            <Button
                                class="btn btn-primary btn-sm"
                                style="--bs-btn-padding-y: 0rem"
                                (click)="openFGStockModal(d)"
                            >
                                Select
                            </Button>
                        </td>
                        <td>
                            {{ d?.dispatchQty | number : ".2-2" }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr class="row line-border" />
        <div class="row d-flex justify-content-center">
            <div [ngClass]="['cancel', 'rejection'].includes(action) ? 'col-3' : 'col-5'">
                <button
                    *ngIf="['Domestic – OEM', 'Domestic – Dealer', null].includes(form.controls['salesCategory'].value)"
                    type="button"
                    class="btn btn-primary"
                    (click)="openDRNReviewTermsModal()"
                >
                    Review Terms
                </button>
                <button
                    *ngIf="['Exports – OEM', 'Exports – Dealer'].includes(form.controls['salesCategory'].value)"
                    class="btn btn-primary px-3"
                    type="button"
                    (click)="openExportDetailsModal()"
                >
                    Export Details
                </button>
                <button class="plusIconSvg btn btn-primary ms-1"></button>
            </div>
            <div *ngIf="['view'].includes(action)" class="col-7"></div>
            <div *ngIf="['create'].includes(action)" class="col-7 text-end">
                <div class="col-md-auto" *ngIf="['create'].includes(action)">
                    <div class="d-grid gap-2 d-md-block">
                        <button type="button" class="btn btn-primary px-5 me-4" (click)="reset()">Reset</button>
                        <button
                            type="button"
                            class="btn btn-primary me-1"
                            [disabled]="!isESCPreview"
                            (click)="ESCPreview()"
                        >
                            Esc
                        </button>
                        <button type="button" class="btn btn-primary px-4 me-4" (click)="preview()">Preview</button>
                        <button [disabled]="!isPreview" type="button" class="btn btn-primary px-5" (click)="submit()">
                            Save
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="['approval'].includes(action)" class="col-7 text-end">
                <div class="col-md-auto">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary px-5" type="button" (click)="submit()">Approve</button>
                    </div>
                </div>
            </div>
            <div *ngIf="action == 'edit'" class="d-flex justify-content-center">
                <button class="btn btn-primary px-5" type="button" (click)="submit()">Save</button>
            </div>
            <div *ngIf="action == 'cancel'" class="d-flex inputGroup col-6 text-center">
                <span class="input-group-text text-white bg-primary">Reason for Cancellation</span>
                <input class="form-control" type="text" formControlName="cancellationReason" />
            </div>
            <div *ngIf="action == 'cancel'" class="content-end col-3">
                <button class="btn btn-primary px-5" type="button" (click)="openCancelModal()">Cancel</button>
            </div>
            <div *ngIf="action == 'rejection'" class="d-flex inputGroup col-3 text-center">
                <span class="input-group-text text-white bg-primary"> Remark</span>
                <input class="form-control" type="text" formControlName="remarks" />
            </div>
            <div *ngIf="action == 'rejection'" class="col-6 text-end">
                <button class="btn btn-primary px-5" type="button" (click)="submit()">Reject</button>
            </div>
        </div>
    </div>
</Form>
