<form [formGroup]="form" class="formCard card">
    <div class="set-remaining-margin">
        <div class="row form-header">
            <div class="col heading">
                <label class="">Goods Issue ({{ action | titlecase }}) I PPIC to Production</label>
            </div>
        </div>
        <div class="form-body">
            <div class="row">
                <div class="col-3 pe-5">
                    <label for="" class="form-label">Job Card No. (Ref.) <span class="text-danger">*</span></label>
                    <div class="d-flex align-items-center">
                        <div class="col-11">
                            <ng-select
                                [items]="masterData.JCOptions"
                                bindLabel="jobCardNo"
                                bindValue="jobCardNo"
                                [clearable]="false"
                                formControlName="jobCardNo"
                                (change)="setJobCardId($event)"
                            >
                            </ng-select>
                        </div>
                        <div
                            style="height: 2.9rem"
                            class="set-input-group-text input-group-text bg-primary pointer col-auto"
                            id="basic-addon1"
                            (click)="openJobCardDetailsModal()"
                        >
                            <i class="fa fa-search text-white fs-4" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <label for="" class="form-label">Goods Issue (GI) No. <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="goodsIssueNo" readonly />
                </div>

                <div class="col-3">
                    <label for="" class="form-label">Goods Issue (GI) Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" formControlName="goodsIssueDate" />
                </div>
                <div class="col-3">
                    <label for="" class="form-label">Goods Issue To <span class="text-danger">*</span></label>
                    <ng-select
                        [items]="masterData.goodsIssueToOptions"
                        bindLabel="parameterName"
                        bindValue="parameterLabel"
                        formControlName="goodsIssueTo"
                        [clearable]="false"
                    >
                    </ng-select>
                </div>
            </div>
        </div>
        <hr class="row line-border" />

        <app-setting-header
            [data]="{page,pageSize,collection,search, excelDisplay : 'none'}"
            (dataChange)="eventHeader($event)"
        >
        </app-setting-header>
        <div class="table-responsive" style="min-height: 20rem">
            <table class="table table-bordered table-sticky">
                <thead class="bg-primary">
                    <tr class="text-white">
                        <th>MRN No.</th>
                        <th>MRN Date</th>
                        <th>Item Code</th>
                        <th class="text-start">Item Name</th>
                        <th class="text-start">Item Description</th>
                        <th>UoM</th>
                        <th>PPIC Qty</th>
                        <th>Aging</th>
                        <th>Issue Qty.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let g of masterData.mergeList
                                | searchFi1ter : search
                                | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                            let i = index;
                            trackBy: trackByFn
                        "
                    >
                        <td>{{ g.MRNNumber }}</td>
                        <td>{{ g.MRNDate | date : "dd-MM-YYYY" }}</td>
                        <td>{{ g.itemCode }}</td>
                        <td class="text-start" [style.width]="itemName.clientWidth" #itemName>
                            <span class="pointer" [ngbTooltip]="g.itemName" [positionTarget]="itemName">
                                {{ g.itemName }}
                            </span>
                        </td>
                        <td class="text-start" [style.width]="itemDescription.clientWidth" #itemDescription>
                            <span class="pointer" [ngbTooltip]="g.itemDescription" [positionTarget]="itemDescription">
                                {{ g.itemDescription }}
                            </span>
                        </td>
                        <!-- <td>{{ g.conversionOfUnits }}</td> -->
                        <td>
                            <div class="d-flex justify-content-between px-2">
                                <span
                                    [ngbTooltip]="g.conversionOfUnits"
                                    placement="top"
                                    [ngClass]="
                                        g.UOM == g.secondaryUnit ? 'text-primary pointer' : 'text-secondary pointer'
                                    "
                                    >{{ g?.UOM | UOMUnitsMaster }}</span
                                >
                                <span class="pointer d-flex align-items-center">
                                    <div
                                        (click)="setConversionOfUnit(g)"
                                        *ngIf="g.secondaryUnit"
                                        class="unit-switch-rev"
                                    ></div>
                                    <div *ngIf="!g.secondaryUnit" class="unit-switch-gray"></div>
                                </span>
                            </div>
                        </td>
                        <td>
                            <span>
                                {{ g.PPICQty | number : "1.2-2" }}
                            </span>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <div *ngIf="g.aging == 'green'" class="flagGreen"></div>
                                <div *ngIf="g.aging == 'red'" class="flagRed"></div>
                                <div *ngIf="g.aging == 'orange'" class="flagOrange"></div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <span *ngIf="['approve', 'reject', 'view', 'Acknowledged'].includes(action)">
                                    {{ g.issueQty | number : "1.2-2" }}
                                </span>
                                <input
                                    *ngIf="!['approve', 'reject', 'view', 'Acknowledged'].includes(action)"
                                    class="form-control form-control-sm w-25"
                                    type="number"
                                    [(ngModel)]="g.issueQty"
                                    [ngModelOptions]="{standalone: true}"
                                    (input)="changeGIQty(g)"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="row line-border" />
        <div class="row">
            <div class="col-6 d-flex">
                <button type="button" class="btn btn-primary px-5" (click)="openRemarksDetailsModal()">Remarks</button>
                <div class="px-5" *ngIf="action == 'reject'">
                    <div class="d-flex align-items-center text-nowrap">
                        <button type="button" class="btn btn-primary px-3">Rejection Remarks</button>
                        <input class="form-control" type="text" formControlName="rejectionRemarks" />
                    </div>
                </div>

                <!-- <div class="row">
                            <div
                                *ngIf="action != 'edit'"
                                [ngClass]="action === 'create' ? 'col-8' : 'col' || action === 'view' ? 'col-6' : 'col'"
                            >
                                <div class="d-flex align-items-center">
                                    <div class="col-md-auto text-nowrap">
                                        <button type="button" class="btn btn-primary px-3">Remarks</button>
                                    </div>

                                    <input class="form-control" type="text" formControlName="remarks" />
                                </div>
                            </div>
                            <div *ngIf="action == 'edit'" [ngClass]="action === 'edit' ? 'col-8' : 'col'">
                                <div class="d-flex align-items-center">
                                    <div class="col-md-auto text-nowrap">
                                        <button type="button" class="btn btn-primary px-3">Remarks</button>
                                    </div>

                                    <input class="form-control" type="text" formControlName="remarks" />
                                </div>
                            </div>
                            <div class="col px-5" *ngIf="action == 'reject'">
                                <div class="d-flex align-items-center text-nowrap">
                                    <button type="button" class="btn btn-primary px-3">Rejection Remarks</button>
                                    <input class="form-control" type="text" formControlName="rejectionRemarks" />
                                </div>
                            </div>
                        </div> -->
            </div>

            <div class="col-md-auto ms-auto">
                <button
                    *ngIf="!['reject', 'Acknowledged', 'approve', 'view'].includes(action)"
                    type="button"
                    class="btn bg-primary px-5 me-3"
                    (click)="reset()"
                >
                    Reset
                </button>
                <button
                    *ngIf="!['reject', 'Acknowledged', 'approve', 'view'].includes(action)"
                    type="button"
                    class="btn btn-primary px-4 me-1"
                    [disabled]="!isESCPreview"
                    (click)="ESCPreview()"
                >
                    Esc
                </button>
                <button
                    *ngIf="!['reject', 'Acknowledged', 'approve', 'view'].includes(action)"
                    type="button"
                    class="btn bg-primary px-4 me-3"
                    (click)="preview()"
                >
                    Preview
                </button>
                <button
                    *ngIf="!['reject', 'Acknowledged', 'approve', 'view'].includes(action)"
                    type="button"
                    [disabled]="!isPreview"
                    class="btn bg-primary px-5"
                    (click)="submit()"
                >
                    Save
                </button>
                <!-- <button
                            *ngIf="['edit'].includes(action)"
                            type="button"
                            class="btn bg-primary px-5"
                            (click)="submit()"
                        >
                            Save
                        </button> -->
                <button
                    *ngIf="['approve'].includes(action)"
                    type="button"
                    class="btn bg-primary px-5"
                    (click)="submit()"
                >
                    Approve
                </button>
                <button
                    *ngIf="['reject'].includes(action)"
                    type="button"
                    class="btn bg-primary px-5"
                    (click)="submit()"
                >
                    Reject
                </button>
                <button *ngIf="action == 'Acknowledged'" type="button" class="btn bg-primary px-5" (click)="submit()">
                    Acknowledged
                </button>
            </div>
        </div>
    </div>
</form>
