<div class="listCard card">
    <div class="table-header">
        <div class="col">
            <label class="heading">Mail Configuration Summary</label>
        </div>
    </div>
    <hr class="line-border" />
    <div class="table-responsive">
        <app-setting-header [data]="{page,pageSize,collection,search}" (dataChange)="eventHeader($event)">
        </app-setting-header>

        <table class="table table-bordered">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th class="text-start" sortable="module" (sort)="onSort($event)">Module Name</th>
                    <th class="text-start" sortable="subModule" (sort)="onSort($event)">Sub Module Name</th>
                    <th sortable="action" (sort)="onSort($event)">Action</th>
                    <th class="text-start" sortable="emailTo" (sort)="onSort($event)">Email To</th>
                    <th class="text-start" sortable="emailCC" (sort)="onSort($event)">Email CC</th>
                    <th class="text-start" sortable="emailBCC" (sort)="onSort($event)">Email BCC</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of tableData; trackBy: trackByFn">
                    <td class="text-start">{{ u.module }}</td>
                    <td class="text-start">{{ u.subModule }}</td>
                    <td>{{ u.action }}</td>
                    <td class="text-start" [style.width]="emailTo.clientWidth" #emailTo>
                        <span class="pointer" [positionTarget]="emailTo" [ngbTooltip]="u.emailTo">
                            {{ u.emailTo }}
                        </span>
                    </td>
                    <td class="text-start" [style.width]="emailCC.clientWidth" #emailCC>
                        <span class="pointer" [positionTarget]="emailCC" [ngbTooltip]="u.emailCC">
                            {{ u.emailCC }}
                        </span>
                    </td>
                    <td class="text-start" [style.width]="emailBCC.clientWidth" #emailBCC>
                        <span class="pointer" [positionTarget]="emailBCC" [ngbTooltip]="u.emailBCC">
                            {{ u.emailBCC }}
                        </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo(
                                            '/default/settings/master/security_master/mail_configuration/form',
                                            u,
                                            'view'
                                        )
                                    "
                                >
                                    <i class="fa fa-eye fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    View
                                </a>
                                <a
                                    [class.disable]="u?.issueStatus == 'Closed'"
                                    href="javascript:void(0)"
                                    (click)="
                                        navigateTo(
                                            '/default/settings/master/security_master/mail_configuration/form',
                                            u,
                                            'edit'
                                        )
                                    "
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
