<div class="listCard card">
    <div class="table-header">
        <label class="heading">Payroll Management Staff</label>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-4">
            <div class="row">
                <div class="col-5 mt-1 pe-1">
                    <label class="form-label text-nowrap"
                        >Payroll for Month'Year<span class="text-danger"></span
                    ></label>
                </div>
                <div class="col-1 ps-3 pe-0">
                    <i class="fa fa-caret-right mt-1 text-secondary"></i>
                </div>
                <div class="col-6 ps-0">
                    <select [(ngModel)]="payrollForMonthYear" class="form-select" (change)="getAllData()">
                        <option [value]="null" disabled>Select Month</option>
                        <option [value]="item.value" *ngFor="let item of monthOptions">
                            {{ item.value | date : "MMMM YYYY" }}
                        </option>
                    </select>
                </div>
            </div>
            <!-- <div class="">
                <label class="text-center mb-2 form-label">Payroll for Month'Year</label>
                <select [(ngModel)]="payrollForMonthYear" class="form-select" (change)="getAllData()">
                    <option [value]="null" disabled>Select Month</option>
                    <option [value]="item.value" *ngFor="let item of monthOptions">
                        {{ item.value | date : "MMMM YYYY" }}
                    </option>
                </select>
            </div> -->
        </div>
    </div>
    <hr class="row mt-3 line-border" />
    <div class="table-responsive" style="min-height: 33rem">
        <app-setting-header [data]="{page,pageSize,collection,search}" (dataChange)="eventHeader($event)">
        </app-setting-header>
        <table class="table table-bordered table-sticky">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th sortable="employeeCode" (sort)="onSort($event)">Employee Code</th>
                    <th class="text-start" sortable="employeeName" (sort)="onSort($event)">Employee Name</th>
                    <th sortable="department" (sort)="onSort($event)">Department</th>
                    <th sortable="paidDays" (sort)="onSort($event)">Paid Days</th>
                    <th sortable="gross" (sort)="onSort($event)">Gross</th>
                    <th sortable="PF" (sort)="onSort($event)">PF</th>
                    <th sortable="ESIC" (sort)="onSort($event)">ESIC</th>
                    <th sortable="TDS" (sort)="onSort($event)">TDS</th>
                    <th sortable="PT" (sort)="onSort($event)">PT</th>
                    <th sortable="advSalary" (sort)="onSort($event)">Adv. Salary</th>
                    <th sortable="netPayable" (sort)="onSort($event)">Net Payable</th>
                    <th sortable="isActive" (sort)="onSort($event)">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let u of tableData
                            | searchFi1ter : search
                            | slice : (page - 1) * pageSize : (page - 1) * pageSize + pageSize;
                        trackBy: trackByFn
                    "
                >
                    <td>{{ u?.employeeCode }}</td>
                    <td class="text-start">{{ u?.employeeName }}</td>
                    <td>{{ u?.department }}</td>
                    <td>{{ u?.paidDays }}</td>
                    <td>{{ u?.gross | number : "1.2-2" }}</td>
                    <td>{{ u?.PF | number : "1.2-2" }}</td>
                    <td>{{ u?.ESIC | number : "1.2-2" }}</td>
                    <td>
                        <span *ngIf="u.status && !(u.status == 'Draft' && u._id == flag)">{{
                            u.TDS | number : "1.2-2"
                        }}</span>
                        <input
                            *ngIf="!u.status || (u.status == 'Draft' && u._id == flag)"
                            class="form-control form-control-sm w-25"
                            type="number"
                            [(ngModel)]="u.TDS"
                            (input)="setNetPayable(u.employeeId, u)"
                        />
                    </td>
                    <td>{{ u?.PT | number : "1.2-2" }}</td>
                    <td>{{ u?.advSalary | number : "1.2-2" }}</td>
                    <td>{{ u?.netPayable | number : "1.2-2" }}</td>
                    <td>{{ u?.status }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <a
                                    appAccessControl
                                    [accessType]="rolePermissionActions.editAction"
                                    href="javascript:void(0)"
                                    (click)="flag = u._id"
                                >
                                    <i class="fa fa-pencil-square-o fa-lg me-2 text-primary" aria-hidden="true"></i>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr class="line-border" />
    <div appAccessControl [accessType]="rolePermissionActions.createAction" class="text-center mt-2">
        <button class="btn bg-primary px-5 mx-2" type="button" (click)="reset()">Reset</button>
        <button class="btn bg-primary px-5 mx-2" [disabled]="btnFlag" (click)="create('Draft')">Save</button>
        <button class="btn bg-primary px-5 mx-2" type="button" [disabled]="btnFlag" (click)="create('Approved')">
            Approve
        </button>
    </div>
</div>
