<p class="text-center mt-4"><b>ORDER ACCEPTANCE</b><br />
    <b>TERMS & CONDITIONS</b>
</p>
<br />
<p>
    <b>1. Prices are subject to change without notice and prices ruling at the time of dispatch will be charged.</b>
    <br />
<p>
    <b>2. Supplies will be made subject to the availability of stocks.</b>
    <br />
</p>
<p>
    <b>3. The Company shall not be responsible for any delay in effecting dispatches or failure to dispatch ordered
        goods
        due to strike, break-down, lockout or any reason whatsoever.</b>
    <br />
</p>
<p>
    4. <b class="ms-3"> (a) We reserve the right to cancel or reduce the quantity of the order accepted by us without
        assigning any reasons and without being liable in such cases.</b><br />
    <b class="ms-5"> (b) In case of printed orders we reserve the right to supply up to 10% more than the ordered
        quantity with no change in payment or other terms.</b><br />
<p>
    <b>5. Packing will be strictly according to the standards prescribed from time to time by us as shown in our price
        list.</b> <br />
</p>
<p>
    <b>6. Where the customer is not registered for them, full GST will be charged.</b> <br />
</p>
<p>
    <b>7. It is the responsibility of Distributors/Dealers dealing in goods to get themselves registered with their
        local GST
        Office/Division, and issue their own invoices to their customers, as prescribed under the prevailing GST Rules.
        As such the Company will not entertain any orders or requests for direct billing to the customers of
        Distributors/Dealers.</b> <br />
</p>
<p>
    <b>8. The Company’s responsibility in respect of goods dispatched shall cease on securing a clear negotiable receipt
        from a public carrier or from such other carrier as the buyer may name. The Company will not be liable for loss,
        short delivery, pilferage, shortage in transit, damage of any nature or for any other reason whatsoever
        regardless
        of whether the Company shall have retained control over the goods by endorsing the Carrier’s receipt to “self”
        or
        by any other means. The goods shall remain at the risk of the buyer in all respects from the time they are
        delivered
        to a public carrier or to such other carrier as aforesaid.</b> <br />
</p>
<p>
    <b>9. Contents indicated at the time of packing at our factory will be considered final and no complaints whatsoever
        will be entertained.</b> <br />
</p>
<p>
    <b>10. Documents shall be negotiated through bank unless otherwise specified. While we take every care to see that
        the
        documents are forwarded to the bankers as soon as the same are ready, we will not be responsible for any delay
        on the part of the bank in presenting the documents to the customers. All Bank charges and demurrages, if any,
        will be borne by the customer.
    </b> <br />
</p>
<p>
    <b>11. Where customers fail to honour the documents against the order, all losses arising out of the same, including
        demurrages, if any, on the consignment shall be at the customer’s risk. The advance amount standing to the
        customer’s credit, will become liable to be forfeited and further supplies will be suspended.
    </b> <br />
</p>
<p>
    <b>12. In case of printed orders once placed and confirmed by us cannot be cancelled without our approval in
        writing.
        In case of unprinted orders, cancellation will be accepted only if it occurs before dispatch of goods or within
        7
        days from the date of order confirmation, whichever is earlier.
    </b> <br />
</p>
<p>
    <b>13. Goods & Service Tax (GST) as applicable, will be charged extra. Any increase in statutory levies will be
        borne
        by the customer.
    </b> <br />
</p>
<p>
    <b>14. No complaint regarding quality of the goods supplied shall be entertained, if this is not intimated to us
        within 45
        days from the date of dispatch of the goods, along with a representative sample drawn out from the consignment.
        We will not be responsible for any consequential damages owing to the customers finding our product unsuitable.
    </b> <br />
</p>
<p>
    <b>15. Interest at the rate of 18% per annum will be charged on all overdue bills
    </b> <br />
</p>
<p>
    <b>16. Jurisdiction: All transactions are subject to the jurisdiction of Mumbai Courts.
    </b> <br />
</p>
<p>
    <b>17. It is the responsibility of the buyer, to furnish with each order, any necessary forms applicable for Road
        Permit,
        or other Government prescribed form to ensure entry of goods into nominated States. Orders not accompanied by
        such document will not be accepted or actioned, and the Company is not liable for any delays in dispatch,
        arising
        from such circumstances.
    </b> <br />
</p>