<div class="modelPage">
    <div class="container-fluid">
        <div class="row mt-4">
            <form [formGroup]="form">
                <div class="form-body">
                    <div style="min-height: 31.8rem">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <app-file-upload
                                    [fileName]="f['empPhoto'].value"
                                    [url]="f['empPhotoUrl'].value"
                                    [label]="'Employee Photo'"
                                    [(file)]="empPhotoFile"
                                ></app-file-upload>
                            </div>
                            <div class="col-md-6">
                                <app-file-upload
                                    [fileName]="f['empAadharCard'].value"
                                    [url]="f['empAadharCardUrl'].value"
                                    [label]="'Aadhaar Card'"
                                    [(file)]="empAadharCardFile"
                                ></app-file-upload>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <app-file-upload
                                    [fileName]="f['empResume'].value"
                                    [url]="f['empResumeUrl'].value"
                                    [label]="'Resume'"
                                    [(file)]="empResumeFile"
                                ></app-file-upload>
                            </div>
                            <div class="col-md-6">
                                <app-file-upload
                                    [fileName]="f['empPanCard'].value"
                                    [url]="f['empPanCardUrl'].value"
                                    [label]="'Pan Card'"
                                    [(file)]="empPanCardFile"
                                ></app-file-upload>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <app-file-upload
                                    [fileName]="f['empExpCertificate'].value"
                                    [url]="f['empExpCertificateUrl'].value"
                                    [label]="'Experience Certificate'"
                                    [(file)]="empExpCertificateFile"
                                ></app-file-upload>
                            </div>
                            <div class="col-md-6">
                                <app-file-upload
                                    [fileName]="f['empRelievingLetter'].value"
                                    [url]="f['empRelievingLetterUrl'].value"
                                    [label]="'Releaving Certificate'"
                                    [(file)]="empRelievingLetterFile"
                                ></app-file-upload>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <hr *ngIf="!['view'].includes(action)" class="line-border mt-5 px-5" />

            <div class="text-center">
                <div *ngIf="!['view'].includes(action)" class="text-center mt-2">
                    <button (click)="reset()" class="btn bg-primary px-5 me-3" type="button">Reset</button>
                    <button class="btn bg-primary px-5" type="button" (click)="dismissModel()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
